<table>
<tbody class="stripy">
<tr><td class="pme-key-title">Da</td><td class="pme-key-1">$$fieldsref{tradeSource}</td></tr>
<tr><td class="pme-key-title">Descrizione</td><td class="pme-key-1">$$fieldsref{tradeDescrizione}</td></tr>
<tr><td class="pme-key-title">A</td><td class="pme-key-1">$$fieldsref{tradeDestination}</td></tr>
<tr><td class="pme-key-title">Titolo</td><td class="pme-key-1">$$fieldsref{tradeTitolo}</td></tr>
<tr><td class="pme-key-title">Tipo</td><td class="pme-key-1">$$fieldsref{tradeTipo}</td></tr>
<tr><td class="pme-key-title">Data</td><td class="pme-key-1">$$fieldsref{tradeData}</td></tr>
<tr><td class="pme-key-title">Elemento</td><td class="pme-key-1">$$fieldsref{tradeElemento}</td></tr>
<tr><td class="pme-key-title">Timestamp</td><td class="pme-key-1">$$fieldsref{tradeStamp}</td></tr>
<tr><td class="pme-key-title">Registro di sistema</td><td class="pme-key-1">$$fieldsref{tradeMirror}</td></tr>
<tr><td class="pme-key-title">Stato</td><td class="pme-key-1">$$fieldsref{tradeStato}</td></tr>
<tr><td class="pme-key-title">Valuta</td><td class="pme-key-1">$$fieldsref{tradeValuta}</td></tr>
<tr><td class="pme-key-title">Importo</td><td class="pme-key-1">$$fieldsref{tradeImporto}</td></tr>
<tr><td class="pme-key-title">Riferimento del commercio</td><td class="pme-key-1">$$fieldsref{tradeHash}</td></tr>
</tbody>
</table>
