
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>
Cclite $$fieldsref{version} Utente
</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC finance currency" />


<meta name="author" content="hugh barnard" />

$$fieldsref{metarefresh}
<!-- fogli di stile -->

<link type="text/css" href="/styles/cc.css" rel="stylesheet" />


<link rel="alternate" type="application/rss+xml" 
	title="$$fieldsref{registry} feed" href="/out/rss/$$fieldsref{registry}/$$fieldsref{language}/all.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<link rel="stylesheet" type="text/css" href="/javascript/jquery-autocomplete/jquery.autocomplete.css" />


<!-- librerie JavaScript, bisogno di eprom compresso versioni -->

<!-- elementi di jQuery -->

<script src="/javascript/jquery-1.3.2.js">
</script>

<script src="/javascript/jquery-validation-1.5.5.js">
</script>

<script src="/javascript/jquery-cookies.js">
</script>

<script type='text/javascript' src='/javascript/jquery-autocomplete/lib/jquery.ajaxQueue.js'>
</script>

<script type='text/javascript' src='/javascript/jquery-autocomplete/jquery.autocomplete.js'>
</script>

<script type='text/javascript' src='/javascript/jquery-tooltip/jquery.qtip-1.0.0-rc3.min.js'>
</script>

<script type='text/javascript' src='/javascript/jquery-autocomplete/lib/jquery.bgiframe.min.js'>
</script>

<!-- gli altri non jquery -->

<script type='text/javascript' src='/javascript/jshashtable-2.1.js'>
</script>

<script src="/javascript/jquery-tagsuggest.js">
</script>

<script src="/javascript/json_parse.js" type="text/javascript">
</script>

<!-- rappresentazione grafica -->

<script  src="/javascript/raphael.js" type="text/javascript" >
</script>

<script  src="/javascript/ico.js" type="text/javascript" >
</script>

<!-- specific, is cookies necessary now? -->

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script src="/javascript/cclite.js" type="text/javascript">
</script>

<!-- Questo è lo script che registra gli utenti fuori quando il sistema è essere portato -->

<script type="text/javascript">
$$fieldsref{logout_script}
</script>

<style type="text/css" media="screen">

</style>

</head>

<body>

<!-- Questa opzione attiva/disattiva la roba punto decimale -->

<div id="usedecimals" class="hidden">
$$fieldsref{usedecimals}
</div>

<div class="topbar">

<a title="Casa" href="/cgi-bin/cclite.cgi">
<span class="titletext">
Cclite
</span>
</a>

<!-- ricerca di utenti, mestieri, annunci -->

<div class="adsearch">

<form class="searchform" action="/cgi-bin/cclite.cgi" method="post">

<input name="action" value="find" type="hidden">

<input class="search" onfocus="if(this.value == this.defaultValue) this.value = ''" value="search" name="search_string" id="search_string"  size="10" type="text">

<select id="search_type" class="small" name="search_type">

<option selected value='trade'>
Transazioni
</option>

<option value='user'>
Utenti
</option>

<option value='ad'>
Annunci
</option>

</select>

<input value="Vai" class="small" type="submit" title="Cercare di mestieri, annunci o utenti">

</form>

</div>

<!-- fine della casella di ricerca di completamento automatico -->

<span id="status_message">
$$fieldsref{status_message}
</span>

<!-- versione del selettore di lingua 1 -->

<select id="language_value" class="small" onchange="change_language(this);" name="language">

<option value='en'>
Inglese
</option>

<option value='ar'>
Arabo
</option>

<option value='bn'>
Bengali [partial]
</option>

<option value='zh'>
Cinese
</option>

<option value='de'>
Deutsch
</option>

<option value='nl'>
Olandese
</option>

<option value='fr'>
Francais
</option>

<option value='es'>
Espagnol
</option>

<option value='it'>
Italiano
</option>

<option value='el'>
Greco
</option>

<option value='ja'>
Giapponese
</option>

<option value='ko'>
Coreano
</option>

<option value='pt'>
Portugese
</option>

<option value='ro'>
Rumeno
</option>

<option value='ru'>
Russo
</option>

<option value='th'>
Tailandese
</option>

<option value='vi'>
Vietnamita
</option>

</select>

<!-- fine di lingua selettore versione 1 -->

<span id="logoninfo">
$$fieldsref{youare} $$fieldsref{atregistry}
<span >
<a title="Logout $$fieldsref{user}" href="/cgi-bin/cclite.cgi?action=logoff">

<span id="logoff">
</span>
</a>
</span>
</span>

</div>

<!-- fine del logo -->

<!--- this bit needs replacing by the specific admin and install menus -->

<div class="topbar">

<a id="adminlinkhref" title="Menu di amministrazione" href="/cgi-bin/protected/ccadmin.cgi">

<span id="adminlink">
</span>

</a>

<a id="adminlinkhrefnt" title="menu di amministrazione in nuova scheda" target="_blank" href="/cgi-bin/protected/ccadmin.cgi">

<span id="adminlinknewtab">
</span>

</a>

<a class="bodytext"  title="Password dimenticata??" href="/cgi-bin/cclite.cgi?action=template&name=forgotpass.html">
Dimenticato la Password?
</a>

<a class="bodytext" title="Deutsch" href="/cgi-bin/cclite.cgi?action=template&name=openid.html">
Aggiungere Openid
</a>

<a class="bodytext" title="Deutsch" href="/cgi-bin/cclite.cgi?action=showopenid">
Elenco Openids
</a>

<a class="bodytext" title="Creare un nuovo Account" href="/cgi-bin/cclite.cgi?action=template&amp;name=newuser.html">
Nuovo Account
</a>

<a class="bodytext" title="Modificare i dati del tuo Account" href="/cgi-bin/cclite.cgi?action=modifyuser">
Modificare l'Account
</a>

</div>

<!-- fine della barra superiore -->

<div class="topbar" >

<span id="linksmenu" align="center">

<a title="Trasferimento valuta o ore" href="/cgi-bin/cclite.cgi?action=template&amp;name=trades.html">
Pagamento
</a>

<a title="Dividere il pagamento per beni o servizi" href="/cgi-bin/cclite.cgi?action=template&amp;name=splittrade.html">
Pagamento di Split
</a>

<a title="Visualizza il mio transazioni" href="/cgi-bin/cclite.cgi?action=showtrans">
Transazioni
</a>

<a title="Visualizza il mio saldi" href="/cgi-bin/cclite.cgi?action=showbalvol">
Saldi
</a>

<a title="Visualizza i prodotti e i servizi di Directory" href="/cgi-bin/cclite.cgi?action=showyellowdir1&getdetail=1">
Beni/servizi
</a>

<a title="Pubblicare i miei annunci in beni e servizi di Directory" href="/cgi-bin/cclite.cgi?action=showmyyellow">
Miei annunci
</a>

<a title="Creare una pagina per i beni e i servizi di Directory" href="/cgi-bin/cclite.cgi?action=template&name=yellowpages.html">
Luogo Ad
</a>

</span>

<!-- fine del linksmenu -->

<!-- fine del po ' dal menu che deve essere sostituito per admin e installare -->

</div>

<!-- fine del menu -->

<div class="content" align="center">

<div class="contentleft">

<div>
!$$fieldsref{pagename}
</div>

</div>

<!-- fine del contentleft: lato sinistro -->

<div class="contentright" >

<span class="news">
$$fieldsref{latest_news}
</span>

<br/>

$$fieldsref{righthandside}
<div class="panel" >

</div>

<!-- fine del pannello -->

</div>

<!-- fine del righthandcontent -->

</div>

<!-- fine del contenuto -->

<div id="footer" style="float:bottom" class="smallgraytext" align="center">

<a href="/cgi-bin/cclite.cgi">
Casa
</a>
|
<a href="#">
Contattaci
</a>
<br />

Cclite 
</div>

</body>

</html>
