
<table>

<tbody class="stripy">

<form class="pme-form" id="form" action="/cgi-bin/cclite.cgi" method="post">
<input
 name="fromregistry" value="$$fieldsref{registry}" type="hidden">

<input
 name="action" value="splittransaction" type="hidden">

<input
 name="subaction" value="om_trades" type="hidden">

<tr>

<td class="pme-key-1">
Data
</td>

<td class="pme-value-1">

<input class="grey"
 name="tradeDate" size="11"  readonly="readonly" value="$$fieldsref{date}"
 type="text">
</td>

</tr>

<tr>

<td class="pme-key-0">
Dal conto
<br>

</td>

<td class="pme-value-1">

<input class="grey"
 name="tradeSource" size="11" readonly="readonly" value="$$fieldsref{userLogin}" type="text">

</td>

</tr>

<tr>

<td class="pme-key-0">
Per tenere conto
<br>

</td>

<td class="pme-value-1">

<!-- Se non volete autosuggest&amp;#xD; decomment questo e mettere le linee qui sotto&amp;#xD; upto in commenti&amp;lt;input class=&quot;pme-input-1&quot; name=&quot;tradeDestination&quot; size=&quot;11&quot; maxlength=&quot;11&quot; type=&quot;text&quot;&amp;gt; -->

<input type="text" class="required" name="tradeDestination" id="tradeDestination" autocomplete="off"/>


<div  class="autocomplete" id="suggestionBox" >
</div>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  var myAutoCompleter = new Ajax.Autocompleter('tradeDestination', 'suggestionBox', '/cgi-bin/ccsuggest.cgi', {});
		// ]]>
</script>

<span class="pme-key-0">
Registro di sistema
</span>
$$fieldsref{selectpartners}
</td>

</tr>

<tr>

<td class="pme-key-0">
Valuta
</td>

<td nowrap class="pme-value-0">
$$fieldsref{selectcurrency}
<span class="pme-key-0">
Importo
</span>

<input class="required" id="tradeAmount" onChange="validatedecimals(this,this.value);" name="tradeAmount" size="11" maxlength="11" type="text">

</td>

</tr>

<tr>

<td class="pme-key-0">

<tr class="pme-row-0">

<td class="pme-key-0">
Valuta secondaria
</td>

<td class="pme-value-0">
$$fieldsref{sselectcurrency}
<span class="pme-key-0">
Importo secondario
<input class="required" name="stradeAmount" id="stradeAmount"  onChange="validatedecimals(this,this.value);"  size="11" maxlength="11" type="text">

</td>

</tr>

</td>

<td class="pme-value-1">

</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
Tipo di elemento
<br>

</td>

<td class="pme-value-0">

<select class="required" name="tradeItem">

<option value="goods">
Merci
</option>

<option value="services">
Servizi
</option>

<option value="other">
Altri
</option>

</select>

<span class="pme-key-0">
Elemento titolo
</span>

<input class="required"
 name="tradeTitle" size="60" maxlength="255" value="" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
Descrizione dell&amp;#39;articolo
</td>

<td class="pme-value-1">

<textarea class="required"
 name="tradeDescription" rows="3" cols="60">
</textarea>
</td>

</tr>

<table class="pme-navigation">

<tr class="pme-navigation">

<td class="pme-buttons">

<input class="pme-save"
 name="saveadd"  value="Fare trasferimento" type="submit">
&nbsp;
<input class="pme-cancel"
 name="cancel" value="Chiara" type="reset">

</td>

</tr>

</form>

</table>

</tbody>

</table>
