

<a href="mailto:$$fieldsref{userEmail}">
$$fieldsref{type} by $$fieldsref{fromuserid}
</a>

<table>

<tbody class="stripy">

<tr>
<td class="pme-key-title">
差出人
</td>
<td class="pme-key-1">
</td>
</tr>

<tr>
<td class="pme-key-title">
登録日
</td>
<td class="pme-key-1">
$$fieldsref{dt}
</td>
</tr>

<tr>
<td class="pme-key-title">
ステータス
</td>
<td class="pme-key-1">
$$fieldsref{userStatus}
</td>
</tr>

<tr>
<td class="pme-key-title">
カテゴリ
</td>
<td class="pme-key-1">
$$fieldsref{keywords}
</td>
</tr>

<tr>
<td class="pme-key-title">
支払う
</td>
<td class="pme-key-1">
$$fieldsref{tradeCurrency}s
</td>
</tr>

<tr>
<td class="pme-key-title">
タイトル
</td>
<td class="pme-key-1">
$$fieldsref{subject}
</td>
</tr>

<tr>
<td class="pme-key-title">
説明
</td>
<td class="pme-key-1">
$$fieldsref{description}
</td>
</tr>

<tr>
<td class="pme-key-title">
タグ
</td>
<td class="pme-key-1">
$$fieldsref{yellowtags}
</td>
</tr>

<tr>
<td class="pme-key-title">
100 ％ CC を支払う
</td>
<td class="pme-key-1">
$$fieldsref{truelets}
</td>
</tr>

<tr>
<td class="pme-key-title">
価格
</td>
<td class="pme-key-1">
$$fieldsref{price} $$fieldsref{tradeCurrency}s per $$fieldsref{unit}
</td>
</tr>

</tbody>

</table>

<br/>


<hr/>


<h4>
最近の取引および残高を ！$ $fieldsref{fromuserid} ！
</h4>
$$fieldsref{balanceandvolume}