<table>
<tbody class="stripy">
<tr><td class="pme-key-title">差出人</td><td class="pme-key-1">$$fieldsref{tradeSource}</td></tr>
<tr><td class="pme-key-title">説明</td><td class="pme-key-1">$$fieldsref{trade説明}</td></tr>
<tr><td class="pme-key-title">宛先</td><td class="pme-key-1">$$fieldsref{tradeDestination}</td></tr>
<tr><td class="pme-key-title">タイトル</td><td class="pme-key-1">$$fieldsref{tradeタイトル}</td></tr>
<tr><td class="pme-key-title">タイプ</td><td class="pme-key-1">$$fieldsref{tradeタイプ}</td></tr>
<tr><td class="pme-key-title">日付</td><td class="pme-key-1">$$fieldsref{trade日付}</td></tr>
<tr><td class="pme-key-title">項目</td><td class="pme-key-1">$$fieldsref{trade項目}</td></tr>
<tr><td class="pme-key-title">時間スタンプ</td><td class="pme-key-1">$$fieldsref{tradeStamp}</td></tr>
<tr><td class="pme-key-title">レジストリに</td><td class="pme-key-1">$$fieldsref{tradeMirror}</td></tr>
<tr><td class="pme-key-title">ステータス</td><td class="pme-key-1">$$fieldsref{tradeステータス}</td></tr>
<tr><td class="pme-key-title">通貨</td><td class="pme-key-1">$$fieldsref{trade通貨}</td></tr>
<tr><td class="pme-key-title">金額</td><td class="pme-key-1">$$fieldsref{trade金額}</td></tr>
<tr><td class="pme-key-title">貿易の参照</td><td class="pme-key-1">$$fieldsref{tradeHash}</td></tr>
</tbody>
</table>
