
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC" />


<meta name="author" content="hugh barnard" />


<link type="text/css" href="/styles/default.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="実験的 cclite リンク" href="/html/en/rdf/chelsea.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<title>
Cclite 0.9.0 せっかちなの
</title>

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script type="text/javascript">
関数 stripe() {ストライパー ('tbody'、'ストライプ'、'tr'、'奇数、偶数');}
</script>

</head>

<body>

<div id="page" align="center">

<div id="toppage" align="center">

</div>

<div id="header" align="center">

<h1>
<a title="せっかちなの Cclite" href="/">
Cclite クイック スタート
</a>
</h1>

</div>

</div>

<div id="content" align="center">

<div id="menu" align="right">

<div id="linksmenu" align="center">

<a title="インストーラー" href="/cgi-bin/protected/ccinstall.cgi">
ウェブ ・ インストーラー
</a>
|
<a  title="ユーザー ログオン" href="/cgi-bin/cclite.cgi">
ユーザー ログオン
</a>
|
<a title="Admin Menu (must be logged on first)" href="/cgi-bin/protected/ccadmin.cgi">
管理
</a>
|
</div>

</div>

<div id="contenttext">

<div style="margin:100px;}padding:12px;" align="justify">

<ol>

<li>
使用
<a title="インストーラーでインストール分析" href="/cgi-bin/protected/ccinstall.cgi">
インストール分析
</a>
インストールの現在の状態を分析するには
</li>

<li>
使用
<a href="/cgi-bin/protected/ccinstall.cgi">
インストーラー
</a>
構成値を設定するには、
<strong>
データベースのユーザー名とパスワード
</strong>
</li>

<li>
<a title="レジストリを作成します。" href="/cgi-bin/protected/ccinstall.cgi?action=template&name=registry.html">
レジストリを作成します。
</a>
(trading group) for your system, for example,
<span class="system">
dalston
</span>
,
<span class="system">
ニューイントン
</span>
,
<span class="system">
イズリントン
</span>
レジストリの 1 つの mysql のデータベースします。
</li>

<li>
<a title="管理者としてログオンします。" href="/cgi-bin/cclite.cgi">
管理者としてログオンします。
</a>
としては、レジストリへのログオン
<span class="system">
マネージャー
</span>
パスワードを使用
<span class="system">
マネージャー
</span>
</li>

<li>
<a title="通貨を設定します。" href="/cgi-bin/protected/ccadmin.cgi?action=template&name=currency.html">
(when Manager) Set up a currency or two
</a>
</li>

<li>

<a title="ユーザーを作成またはそれら来ることができます。" href="/cgi-bin/cclite.cgi?action=template&name=newuser.html">
ユーザーを作成またはそれらに来る
</a>
ユーザーを作成し、それらの貿易。
</li>

<li>

<b>
削除または、インストーラーを無効にして、sysaccount および管理者パスワードを変更してください。また、このページを削除 ！
</b>
</li>

</ol>

</div>

<div class="panel" align="justify">

<span class="bodytext">

<div style="margin:50px;}padding:12px;" align="justify">
Rss の書き込みなど、バッチ ジョブ バッチ トランザクション入力を読むとグラフ管理者の管理ページになりました。彼らすることができます。web からストレートでは、cron を使用せずを実行します。Cron のいくつかの変更は、スクリプトで行われる必要があります。
</div>

</span>

</div>

</div>

</div>

<div id="footer" class="smallgraytext" align="center">

<a href="http://groups.google.co.uk/group/cclite">
Cclite をヘルプします。
</a>
<br />

Cclite
<br />


</div>

</div>

</body>

</html>
