

<table>

<tbody class="stripy">

<form class="pme-form" id="form" action="/cgi-bin/cclite.cgi" method="post">
<input
 name="fromregistry" value="$$fieldsref{registry}" type="hidden">

<input
 name="action" value="transaction" type="hidden">

<input
 name="subaction" value="om_trades" type="hidden">

<input id="tradeStatus" "name="tradeStatus" value="" type="hidden">

<tr>

<td class="pme-key-1">
Дата
</td>

<td class="pme-value-1">

<input class="grey"
 name="tradeDate" size="11"  readonly="readonly" value="$$fieldsref{date}"
 type="text">
</td>

</tr>

<tr>

<td class="pme-key-0">
З облікового запису
<br>

</td>

<td class="pme-value-1">

<input class="required" type="text" name="tradeSource" id="tradeSource" autocomplete="off"/>


</td>

</tr>

<tr>

<td class="pme-key-0">
Обліковий запис
<br>

</td>

<td class="pme-value-1">

<input class="required" type="text" name="tradeDestination" id="tradeDestination" autocomplete="off"/>


</td>
</tr>
<tr>

<td>
<span class="pme-key-0">
Реєстр
</span>
</td>
<td>
$$fieldsref{selectpartners}
</td>

</tr>

<tr>

<td class="pme-key-0">
Валюта
</td>

<td nowrap class="pme-value-0">
$$fieldsref{selectcurrency}
<span class="pme-key-0">
Сума
</span>

<input class="required"
 name="tradeAmount" size="11" maxlength="11" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
</td>

<td class="pme-value-1">

</td>

</tr>

<tr>

<td class="pme-key-0">
Тип елемента
<br>

</td>

<td class="pme-value-0">

<select id="tradeItem" class="required" onchange="on_trade_change('tradeItem');" name="tradeItem">

<option value="goods">
Товари
</option>

<option value="services">
Послуги
</option>

<option value="cashout">
У готівку
</option>

<option value="cashin">
Нажитися
</option>

<option value="other">
Інші
</option>

</select>

</td>
</tr>
<tr>
<td>

<span class="pme-key-0">
Назву об'єкта
</span>
</td>
<td>

<input class="required"
 name="tradeTitle" size="50" maxlength="255" value="" type="text">

</td>

</tr>

<tr>

<td class="pme-key-1">
Пункт опис
</td>

<td class="pme-value-1">

<textarea class="required"
 name="tradeDescription" rows="3" cols="60">
</textarea>
</td>

</tr>

<table class="pme-navigation">

<tr class="pme-navigation">

<td class="pme-buttons">

<input class="pme-save"
 name="saveadd" value="Зробити передачу" type="submit">
&nbsp;
<input class="pme-cancel"
 name="cancel" value="Ясно" type="reset">

</td>

</tr>

</form>

</table>

</tbody>

</table>
