
<table>

<tbody class="stripy">

<tr>
<td class="pme-key-title">
Від
</td>
<td class="pme-key-1">
$$fieldsref{tradeSource}
</td>
</tr>

<tr>
<td class="pme-key-title">
Опис
</td>
<td class="pme-key-1">
$$fieldsref{tradeDescription}
</td>
</tr>

<tr>
<td class="pme-key-title">
Щоб
</td>
<td class="pme-key-1">
$$fieldsref{tradeDestination}
</td>
</tr>

<tr>
<td class="pme-key-title">
Назва
</td>
<td class="pme-key-1">
$$fieldsref{tradeTitle}
</td>
</tr>

<tr>
<td class="pme-key-title">
Тип
</td>
<td class="pme-key-1">
$$fieldsref{tradeType}
</td>
</tr>

<tr>
<td class="pme-key-title">
Дата
</td>
<td class="pme-key-1">
$$fieldsref{tradeDate}
</td>
</tr>

<tr>
<td class="pme-key-title">
Елемент
</td>
<td class="pme-key-1">
$$fieldsref{tradeItem}
</td>
</tr>

<tr>
<td class="pme-key-title">
Мітку часу
</td>
<td class="pme-key-1">
$$fieldsref{tradeStamp}
</td>
</tr>

<tr>
<td class="pme-key-title">
До реєстру
</td>
<td class="pme-key-1">
$$fieldsref{tradeMirror}
</td>
</tr>

<tr>
<td class="pme-key-title">
Статус
</td>
<td class="pme-key-1">
$$fieldsref{tradeStatus}
</td>
</tr>

<tr>
<td class="pme-key-title">
Валюта
</td>
<td class="pme-key-1">
$$fieldsref{tradeCurrency}
</td>
</tr>

<tr>
<td class="pme-key-title">
Сума
</td>
<td class="pme-key-1">
$$fieldsref{tradeAmount}
</td>
</tr>

<tr>
<td class="pme-key-title">
Торгівля посилання
</td>
<td class="pme-key-1">
$$fieldsref{tradeHash}
</td>
</tr>

</tbody>

</table>
