
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC" />


<meta name="author" content="hugh barnard" />


<link type="text/css" href="/styles/default.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="Експериментальні cclite посилання" href="/html/en/rdf/chelsea.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<title>
Cclite 0.9.0 для нетерплячих
</title>

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script type="text/javascript">
Функція stripe() {&#xD;     Striper ('tbody', 'stripy', 'tr', 'непарні, навіть');&#xD;}
</script>

</head>

<body>

<div id="page" align="center">

<div id="toppage" align="center">

</div>

<div id="header" align="center">

<h1>
<a title="Cclite для нетерплячих" href="/">
Cclite швидкий старт
</a>
</h1>

</div>

</div>

<div id="content" align="center">

<div id="menu" align="right">

<div id="linksmenu" align="center">

<a title="Інсталятор" href="/cgi-bin/protected/ccinstall.cgi">
Інсталятор веб
</a>
|
<a  title="Вхід користувача" href="/cgi-bin/cclite.cgi">
Вхід користувача
</a>
|
<a title="Admin Menu (must be logged on first)" href="/cgi-bin/protected/ccadmin.cgi">
Адміністрація
</a>
|
</div>

</div>

<div id="contenttext">

<div style="margin:100px;}padding:12px;" align="justify">

<ol>

<li>
Використання
<a title="Установка аналізу в інсталятор" href="/cgi-bin/protected/ccinstall.cgi">
аналіз установки
</a>
проаналізувати поточний стан інсталяції
</li>

<li>
Використання
<a href="/cgi-bin/protected/ccinstall.cgi">
Програма установки
</a>
Настроювання значень конфігурації
<strong>
база даних користувача і пароль
</strong>
</li>

<li>
<a title="Create a Registry" href="/cgi-bin/protected/ccinstall.cgi?action=template&name=registry.html">
Створення реєстру
</a>
(trading group) for your system, for example,
<span class="system">
dalston
</span>
,
<span class="system">
ВІЛ реєстр Ньюінгтон
</span>
,
<span class="system">
Islington
</span>
Реєстр є однієї бази даних mysql...
</li>

<li>
<a title="Вхід до системи як менеджер" href="/cgi-bin/cclite.cgi">
Вхід до системи як менеджер
</a>
Для входу до реєстру як
<span class="system">
менеджер
</span>
з паролем
<span class="system">
менеджер
</span>
</li>

<li>
<a title="Настроювання валюту" href="/cgi-bin/protected/ccadmin.cgi?action=template&name=currency.html">
(when Manager) Set up a currency or two
</a>
</li>

<li>

<a title="Створення користувачів або нехай приходять" href="/cgi-bin/cclite.cgi?action=template&name=newuser.html">
Створення користувачів або нехай приходять
</a>
Створення користувачів і нехай вони торгівлі.
</li>

<li>

<b>
Не забудьте видалити або вимкнути програму установки та змінювати паролі sysaccount та адміністратора. Також видалити цю сторінку!
</b>
</li>

</ol>

</div>

<div class="panel" align="justify">

<span class="bodytext">

<div style="margin:50px;}padding:12px;" align="justify">
Пакетної обробки завдань, як написання rss, читання пакетного операції вводу та графічних в даний час на сторінці керування для адміністратора. Вони можуть&#xD;запуску прямо з Інтернету без використання cron. Для cron кілька зміни повинні бути зроблені в сценарії.
</div>

</span>

</div>

</div>

</div>

<div id="footer" class="smallgraytext" align="center">

<a href="http://groups.google.co.uk/group/cclite">
Довідка з Cclite
</a>
<br />

Cclite 
<br />


</div>

</div>

</body>

</html>
