
<table>

<tbody class="stripy">

<tr>
<td class="pme-key-title">
Alkaen
</td>
<td class="pme-key-1">
$$fieldsref{tradeSource}
</td>
</tr>

<tr>
<td class="pme-key-title">
Kuvaus
</td>
<td class="pme-key-1">
$$fieldsref{tradeDescription}
</td>
</tr>

<tr>
<td class="pme-key-title">
-
</td>
<td class="pme-key-1">
$$fieldsref{tradeDestination}
</td>
</tr>

<tr>
<td class="pme-key-title">
Otsikko
</td>
<td class="pme-key-1">
$$fieldsref{tradeTitle}
</td>
</tr>

<tr>
<td class="pme-key-title">
Tyyppi
</td>
<td class="pme-key-1">
$$fieldsref{tradeType}
</td>
</tr>

<tr>
<td class="pme-key-title">
Päivämäärä
</td>
<td class="pme-key-1">
$$fieldsref{tradeDate}
</td>
</tr>

<tr>
<td class="pme-key-title">
Kohde
</td>
<td class="pme-key-1">
$$fieldsref{tradeItem}
</td>
</tr>

<tr>
<td class="pme-key-title">
Aikaleima
</td>
<td class="pme-key-1">
$$fieldsref{tradeStamp}
</td>
</tr>

<tr>
<td class="pme-key-title">
Rekisteriin
</td>
<td class="pme-key-1">
$$fieldsref{tradeMirror}
</td>
</tr>

<tr>
<td class="pme-key-title">
Tila
</td>
<td class="pme-key-1">
$$fieldsref{tradeStatus}
</td>
</tr>

<tr>
<td class="pme-key-title">
Valuutta
</td>
<td class="pme-key-1">
$$fieldsref{tradeCurrency}
</td>
</tr>

<tr>
<td class="pme-key-title">
Määrä
</td>
<td class="pme-key-1">
$$fieldsref{tradeAmount}
</td>
</tr>

<tr>
<td class="pme-key-title">
Kaupan viittaus
</td>
<td class="pme-key-1">
$$fieldsref{tradeHash}
</td>
</tr>

</tbody>

</table>
