
<table>

<tbody class="stripy">

<tr>
<td class="pme-key-title">
De
</td>
<td class="pme-key-1">
$$fieldsref{tradeSource}
</td>
</tr>

<tr>
<td class="pme-key-title">
Descrição
</td>
<td class="pme-key-1">
$$fieldsref{tradeDescription}
</td>
</tr>

<tr>
<td class="pme-key-title">
Para
</td>
<td class="pme-key-1">
$$fieldsref{tradeDestination}
</td>
</tr>

<tr>
<td class="pme-key-title">
Título
</td>
<td class="pme-key-1">
$$fieldsref{tradeTitle}
</td>
</tr>

<tr>
<td class="pme-key-title">
Tipo
</td>
<td class="pme-key-1">
$$fieldsref{tradeType}
</td>
</tr>

<tr>
<td class="pme-key-title">
Data
</td>
<td class="pme-key-1">
$$fieldsref{tradeDate}
</td>
</tr>

<tr>
<td class="pme-key-title">
Item
</td>
<td class="pme-key-1">
$$fieldsref{tradeItem}
</td>
</tr>

<tr>
<td class="pme-key-title">
Carimbo de hora
</td>
<td class="pme-key-1">
$$fieldsref{tradeStamp}
</td>
</tr>

<tr>
<td class="pme-key-title">
Registro
</td>
<td class="pme-key-1">
$$fieldsref{tradeMirror}
</td>
</tr>

<tr>
<td class="pme-key-title">
Estatuto
</td>
<td class="pme-key-1">
$$fieldsref{tradeStatus}
</td>
</tr>

<tr>
<td class="pme-key-title">
Moeda
</td>
<td class="pme-key-1">
$$fieldsref{tradeCurrency}
</td>
</tr>

<tr>
<td class="pme-key-title">
Montante
</td>
<td class="pme-key-1">
$$fieldsref{tradeAmount}
</td>
</tr>

<tr>
<td class="pme-key-title">
Referência de comércio
</td>
<td class="pme-key-1">
$$fieldsref{tradeHash}
</td>
</tr>

</tbody>

</table>
