

<a href="mailto:$$fieldsref{userEmail}">
$$fieldsref{type} by $$fieldsref{fromuserid}
</a>

<table>

<tbody class="stripy">

<tr>
<td class="pme-key-title">
De
</td>
<td class="pme-key-1">
</td>
</tr>

<tr>
<td class="pme-key-title">
Data de introdução
</td>
<td class="pme-key-1">
$$fieldsref{dt}
</td>
</tr>

<tr>
<td class="pme-key-title">
Estatuto
</td>
<td class="pme-key-1">
$$fieldsref{userStatus}
</td>
</tr>

<tr>
<td class="pme-key-title">
Categoria
</td>
<td class="pme-key-1">
$$fieldsref{keywords}
</td>
</tr>

<tr>
<td class="pme-key-title">
Pagar em
</td>
<td class="pme-key-1">
$$fieldsref{tradeCurrency}s
</td>
</tr>

<tr>
<td class="pme-key-title">
Título
</td>
<td class="pme-key-1">
$$fieldsref{subject}
</td>
</tr>

<tr>
<td class="pme-key-title">
Descrição
</td>
<td class="pme-key-1">
$$fieldsref{description}
</td>
</tr>

<tr>
<td class="pme-key-title">
Marcas
</td>
<td class="pme-key-1">
$$fieldsref{yellowtags}
</td>
</tr>

<tr>
<td class="pme-key-title">
Pagar 100% cc
</td>
<td class="pme-key-1">
$$fieldsref{truelets}
</td>
</tr>

<tr>
<td class="pme-key-title">
Preço
</td>
<td class="pme-key-1">
$$fieldsref{price} $$fieldsref{tradeCurrency}s per $$fieldsref{unit}
</td>
</tr>

</tbody>

</table>

<br/>


<hr/>


<h4>
Recentes Trading e saldos de $$fieldsref{fromuserid}
</h4>
$$fieldsref{balanceandvolume}