
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC" />


<meta name="author" content="hugh barnard" />


<link type="text/css" href="/styles/default.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="Link cclite experimental" href="/html/en/rdf/chelsea.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<title>
Cclite 0.9.0 para os impacientes
</title>

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script type="text/javascript">
função stripe() {&#xD;     Striper ('tbody', 'listrado', 'tr', 'ímpar, par');&#xD;}
</script>

</head>

<body>

<div id="page" align="center">

<div id="toppage" align="center">

</div>

<div id="header" align="center">

<h1>
<a title="Cclite para os impacientes" href="/">
Cclite Quickstart
</a>
</h1>

</div>

</div>

<div id="content" align="center">

<div id="menu" align="right">

<div id="linksmenu" align="center">

<a title="instalador" href="/cgi-bin/protected/ccinstall.cgi">
Instalador da Web
</a>
|
<a  title="Logon do usuário" href="/cgi-bin/cclite.cgi">
Logon do usuário
</a>
|
<a title="Admin Menu (must be logged on first)" href="/cgi-bin/protected/ccadmin.cgi">
Administração
</a>
|
</div>

</div>

<div id="contenttext">

<div style="margin:100px;}padding:12px;" align="justify">

<ol>

<li>
Uso
<a title="Análise de instalação no instalador" href="/cgi-bin/protected/ccinstall.cgi">
a análise de instalação
</a>
para analisar o estado atual da instalação
</li>

<li>
Uso
<a href="/cgi-bin/protected/ccinstall.cgi">
o instalador
</a>
para definir valores de configuração,
<strong>
banco de dados usuário e senha
</strong>
</li>

<li>
<a title="Criar um registro" href="/cgi-bin/protected/ccinstall.cgi?action=template&name=registry.html">
Criar um registro
</a>
(trading group) for your system, for example,
<span class="system">
Dalston
</span>
,
<span class="system">
Newington
</span>
,
<span class="system">
Islington
</span>
Um registro é um banco de dados mysql...
</li>

<li>
<a title="Logon como gerente" href="/cgi-bin/cclite.cgi">
Logon como gerente
</a>
Logon para o seu registro como
<span class="system">
Gerenciador de
</span>
com senha
<span class="system">
Gerenciador de
</span>
</li>

<li>
<a title="Criação de uma moeda" href="/cgi-bin/protected/ccadmin.cgi?action=template&name=currency.html">
(when Manager) Set up a currency or two
</a>
</li>

<li>

<a title="Criar usuários ou deixá-los vir" href="/cgi-bin/cclite.cgi?action=template&name=newuser.html">
Criar usuários ou deixá-los vir
</a>
Criar usuários e deixá-los a negociar.
</li>

<li>

<b>
Lembre-se de remover ou desabilitar o instalador e alterar as senhas de administrador e sysaccount. Remova esta página também!
</b>
</li>

</ol>

</div>

<div class="panel" align="justify">

<span class="bodytext">

<div style="margin:50px;}padding:12px;" align="justify">
Trabalhos em lote, como escrever rss, lote entrada de transação de leitura de gráficos estão agora na página de gestão para o administrador. Eles podem&#xD;ser executado diretamente da web sem usar o cron. Para o cron, algumas modificações precisam ser feitas nos scripts.
</div>

</span>

</div>

</div>

</div>

<div id="footer" class="smallgraytext" align="center">

<a href="http://groups.google.co.uk/group/cclite">
Ajuda com Cclite
</a>
<br />

Cclite 
<br />


</div>

</div>

</body>

</html>
