

<form name="newuser" class="pme-form" id="form" action="/cgi-bin/cclite.cgi" method="post">
<input
 name="action" value="adduser" type="hidden">

<input name="subaction"
 value="om_users" type="hidden">

<table class="pme-main" summary="om_users">

<tbody class="stripy">

<tr>

<td class="pme-key-0">
<br>

</td>

<td style="vertical-align: top;">
<span class="errors">
$$fields{errors}
</span>

</td>

</tr>

<tr>

<td class="pme-key-0">
Reg nome
<br>

</td>

<td style="vertical-align: top;">

<!-- valor de caminho explícito nota em cookie definindo, caminho contrário é definido para o cgi-bin -->

<input type="text" class="required" id="chooseregistry" onfocus="$.cookie('registry1', null, {expires: -2});" onblur="$.cookie('registry1', this.value, {path: '/'});" name="registry">

</td>

</tr>

<tr class="pme-row-1">

<td title="Precisa ser mais de 3 caracteres, letras, números e _ apenas" class="pme-key-0">
Nome da conta
<br>

</td>

<td class="pme-value-1">

<input 
 name="nuserLogin" id="nuserLogin" class="required" value="$$fieldsref{userLogin}" size="60" maxlength="255" value="" type="text">

</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
Senha
</td>

<td class="pme-value-0">

<input 
 name="userPassword" class="required" size="32" maxlength="32" value="" type="password">
</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
Confirmar senha
</td>

<td class="pme-value-0">

<input 
 name="cuserPassword" class="required" size="32" maxlength="32" value="" type="password">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Email
</td>

<td class="pme-value-1">

<input 
 name="userEmail" id="nuserEmail" class="required email" size="50" maxlength="50" value="$$fieldsref{userEmail}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Número/nome da casa
</td>

<td class="pme-value-1">

<input 
 name="userNameornumber" class="required" value="$$fieldsref{userNameornumber}" size="30" maxlength="30" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Nome da rua
</td>

<td class="pme-value-1">

<input 
 name="userStreet" size="40" class="required" maxlength="40" value="$$fieldsref{userStreet}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Cidade
</td>

<td class="pme-value-1">

<input 
 name="userTown" class="required" size="40" maxlength="40" value="$$fieldsref{userTown}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Condado/estado
</td>

<td class="pme-value-1">

<input 
 name="userArea" class="required" size="40" maxlength="40" value="$$fieldsref{userArea}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Código postal
</td>

<td class="pme-value-1">

<input 
 name="userPostcode" class="required" size="10" maxlength="10" value="$$fieldsref{userPostcode}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Telefone fixo
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userTelephone" size="20" maxlength="20" value="$$fieldsref{userTelephone}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td  class="pme-key-0">
Telefone móvel
</td>

<td class="pme-value-1">

<input title="Por favor, ponha esse número no formato internacional 44777766666" class="pme-input-1"
 name="userMobile" id="nuserMobile" size="20" maxlength="20" value="$$fieldsref{userMobile}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Pino para telefone móvel de transações
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userPin" size="6" maxlength="6" value="$$fieldsref{userPin}" type="password">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Confirme o Pin para operações do telefone móvel
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="cuserPin" size="6" maxlength="6" value="$$fieldsref{cuserPin}" type="password">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Recibos de pagamento de SMS
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userSmsreceipt" type="checkbox">
</td>

</tr>

<tr class="pme-row-1">

<td title="Esta é a id de chave pública para transações criptografadas" class="pme-key-0">
Id de chave pública
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userPublickeyid" size="20" maxlength="20" value="$$fieldsref{userPublickeyid}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Língua
</td>

<td class="pme-value-1">

<select class="required" name="userLang">

<option value="">
</option>

<option selected value="en">
Inglês
</option>

<option value="de">
Deutsch
</option>

<option value="fr">
Fran
</option>

</select>

</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
Nome completo
</td>

<td class="pme-value-0">

<input 
 name="userName" size="60" class="required" maxlength="255" value="$$fieldsref{userName}" type="text">

</td>

</tr>

</tbody>

</table>

<hr class="pme-hr">

<table class="pme-navigation">

<tbody>

<tr class="pme-navigation">

<td class="pme-buttons">

<!-- Podemos apagar o cookie do registro aqui, caso contrário vai impedir um logon limpo mais tarde -->

<input class="pme-save"
 name="saveadd" value="Criar" onClick="eraseCookie('registry');" type="submit">
&nbsp;
<input class="pme-cancel"
 name="cancel" value="Clara" type="reset">

</td>

</tr>

</tbody>

</table>

</form>
