<table>
<tbody class="stripy">
<tr><td class="pme-key-title">Von</td><td class="pme-key-1">$$fieldsref{tradeSource}</td></tr>
<tr><td class="pme-key-title">Beschreibung</td><td class="pme-key-1">$$fieldsref{tradeBeschreibung}</td></tr>
<tr><td class="pme-key-title">An</td><td class="pme-key-1">$$fieldsref{tradeDestination}</td></tr>
<tr><td class="pme-key-title">Titel</td><td class="pme-key-1">$$fieldsref{tradeTitel}</td></tr>
<tr><td class="pme-key-title">Typ</td><td class="pme-key-1">$$fieldsref{tradeTyp}</td></tr>
<tr><td class="pme-key-title">Datum</td><td class="pme-key-1">$$fieldsref{tradeDatum}</td></tr>
<tr><td class="pme-key-title">Element</td><td class="pme-key-1">$$fieldsref{tradeElement}</td></tr>
<tr><td class="pme-key-title">Time-Stamp</td><td class="pme-key-1">$$fieldsref{tradeStamp}</td></tr>
<tr><td class="pme-key-title">-Registrierung</td><td class="pme-key-1">$$fieldsref{tradeMirror}</td></tr>
<tr><td class="pme-key-title">Status</td><td class="pme-key-1">$$fieldsref{tradeStatus}</td></tr>
<tr><td class="pme-key-title">Währung</td><td class="pme-key-1">$$fieldsref{tradeWährung}</td></tr>
<tr><td class="pme-key-title">Betrag</td><td class="pme-key-1">$$fieldsref{tradeBetrag}</td></tr>
<tr><td class="pme-key-title">Handel-Referenz</td><td class="pme-key-1">$$fieldsref{tradeHash}</td></tr>
</tbody>
</table>
