<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>om_groups</title>
<style type="text/css">
	table { border: #004d9c 1px solid; border-collapse: collapse; border-spacing: 0px; width: 100%; }
	th    { border: #004d9c 1px solid; padding: 4px; background: #add8e6; }
	td    { border: #004d9c 1px solid; padding: 3px; }
	hr    { border: 0px solid; padding: 0px; margin: 0px; border-top-width: 1px; height: 1px; }
</style>
</head>
<body>
<h3>om_groups</h3>
<script type="text/javascript"><!--

function phpMyEdit_trim(str)
{
	while (str.substring(0, 1) == " "
			|| str.substring(0, 1) == "\n"
			|| str.substring(0, 1) == "\r")
	{
		str = str.substring(1, str.length);
	}
	while (str.substring(str.length - 1, str.length) == " "
			|| str.substring(str.length - 1, str.length) == "\n"
			|| str.substring(str.length - 1, str.length) == "\r")
	{
		str = str.substring(0, str.length - 1);
	}
	return str;
}

function phpMyEdit_form_control(theForm)
{

	if (phpMyEdit_trim(theForm.groupName.value) == "") {
		alert("Please enter GroupName.");
		theForm.groupName.focus();
		return false;
	}

	return true;
}

// --></script>
<form class="pme-form" action="om_groups.php" method="POST" onSubmit="return phpMyEdit_form_control(this);">
<input type="hidden" name="sfn[0]" value="0" />
<input type="hidden" name="sfn[1]" value="1" />
<input type="hidden" name="qfn" value="">
<input type="hidden" name="rec" value="1">
<input type="hidden" name="fm" value="0">
<input type="hidden" name="fl" value="0">
<table class="pme-main" summary="om_groups">
<tr class="pme-row-0">
<td class="pme-key-0">GroupId</td>
<td class="pme-value-0">
<input class="pme-input-0" type="text" disabled  name="groupId" size="8" maxlength="8" value="0"></td>
</tr>
<tr class="pme-row-1">
<td class="pme-key-1">GroupName</td>
<td class="pme-value-1">
<input class="pme-input-1" type="text"  name="groupName" size="60" maxlength="255" value=""></td>
</tr>
<tr class="pme-row-0">
<td class="pme-key-0">GroupDescription</td>
<td class="pme-value-0">
<textarea class="pme-input-0" name="groupDescription" rows="5" cols="50" wrap="virtual"></textarea>
</td>
</tr>
</table>
<hr class="pme-hr">
<table class="pme-navigation">
<tr class="pme-navigation">
<td class="pme-buttons">
<input class="pme-save" type="submit" name="saveadd" value="Save">&nbsp;<input class="pme-more" type="submit" name="moreadd" value="More">&nbsp;<input class="pme-cancel" type="button" name="cancel" value="Cancel" onClick="form.submit();">
</td>
</tr></table>
</form>
6.807 miliseconds

</body>
</html>