<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Community Currency 0.2: New Account</title>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <link type="text/css" href="/cclite/styles/cc.css" rel="stylesheet">
</head>
<body>
<div align="left">
<table class="logotable" summary="table holding logo" cellpadding="5"
 width="100%">
  <tbody>
    <tr>
      <td valign="top">
      <table class="logotable" summary="Community Currecny Menu"
 cellpadding="5">
        <tbody>
          <tr>
            <td class="pme-key-1">Image placeholder<br>
            <div class="pme-key-1">CCLITE 0.2<br>
            </div>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
      <td align="right" valign="top"><!-- news -->
      <table title="Community Currency" border="0" cellpadding="0"
 cellspacing="0" width="150">
        <tbody>
          <tr>
            <td class="pme-key-1">
            <p class="pme-key-1">News</p>
            </td>
          </tr>
          <tr>
            <td class="BoxNewsMessage"><!-- end of news --> <br>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <tr>
      <td class="pme-key-1">Home</td>
      <td align="right"><br>
      </td>
    </tr>
  </tbody>
</table>
<!-- this is the main body table containing menu + prose bgcolor needs fixing !-->
<table class="main" border="0" cellpadding="0" cellspacing="0"
 width="100%">
  <tbody>
    <tr valign="top">
      <td class="Columns">
      <table style="width: 221px; height: 564px;" class="menutable"
 border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="pme-key-1"><span class="menu"
 style="padding-left: 10px;">[New
Account]</span></td>
          </tr>
          <tr>
            <td class="pme-key-1"><a class="menu"
 style="padding-left: 10px;" title="Modify User Account"
 href="users.html">[Modify
Your Account]</a> </td>
          </tr>
          <tr>
            <td class="pme-key-1"><a class="menu"
 style="padding-left: 10px;" title="Transfer Currency"
 href="trades.html">[
Transfer Money]</a> </td>
          </tr>
          <tr>
            <td class="pme-key-1" nowrap="nowrap"><a class="menu"
 style="padding-left: 10px;" title="Show Current Transactions"
 href="trades.html">[
Show Current Transactions]</a> </td>
          </tr>
          <tr>
            <td class="pme-key-1"><a class="menu"
 style="padding-left: 10px;" title="Search for Items" href="trades.html">[
Search for Items]</a> </td>
          </tr>
          <tr>
            <td class="pme-key-1"><a class="menu"
 style="padding-left: 10px;" title="SMS Emulation"
 href="smsemulator.html">[ SMS Emulation]</a> </td>
          </tr>
          <tr>
            <td class="pme-key-1"><a class="menu"
 style="padding-left: 10px;" title="Register a Student"
 href="stats.html"><br>
            </a> </td>
          </tr>
          <tr>
            <td nowrap="nowrap" valign="center"><a class="menu"
 style="padding-left: 10px;" title="Register a Student"
 href="stats.html"><br>
            </a></td>
          </tr>
          <tr>
            <td valign="center"><br>
            </td>
          </tr>
          <tr>
            <td class="pme-key-1"><a class="menu"
 style="padding-left: 10px;" title="Register a Student"
 href="stats.html">[ Change to English]</a></td>
          </tr>
          <tr>
            <td class="pme-key-1"><a class="menu"
 style="padding-left: 10px;" title="Register a Student"
 href="stats.html">[ Change to French]</a></td>
          </tr>
          <tr>
            <td class="pme-key-1" style="padding-left: 10px;"
 valign="bottom" width="173"><br>
            <form action="/cc/cclite.cgi" method="get">Find a
Transaction<br>
              <input name="action" value="find" type="hidden"> <input
 value="" name="string" size="15" type="text">&nbsp;<input name="go"
 value="Go" type="submit"></form>
            </td>
          </tr>
          <tr>
            <td class="pme-key-1" style="padding-left: 10px;"
 valign="left"><!-- start of address table -->
            <table summary="address of offices">
              <tbody>
                <tr>
                  <td class="pme-key-1" colspan="2"><br>
                  </td>
                  <td><br>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="pme-key-1">Community Currency
Lite<br>
                  </td>
                  <td><br>
                  </td>
                </tr>
                <tr>
                  <td class="pme-key-1">Information Line </td>
                  <td class="pme-key-1"><br>
                  </td>
                </tr>
                <tr>
                  <td class="pme-key-1">General Office</td>
                  <td class="pme-key-1"><br>
                  </td>
                </tr>
                <tr>
                  <td class="pme-key-1"><br>
                  </td>
                  <td class="pme-key-1"><br>
                  </td>
                </tr>
                <tr>
                  <td class="pme-key-1"><br>
                  </td>
                  <td class="pme-key-1"><br>
                  </td>
                </tr>
                <tr>
                  <td class="pme-key-1"><br>
                  </td>
                  <td class="pme-key-1"><br>
                  </td>
                </tr>
                <tr>
                  <td class="pme-key-1"><br>
                  </td>
                  <td class="pme-key-1"><br>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
      <td class="pme-key-1">
      <h3 class="pme-key-1">Community Currency Lite Version 0.2<br>
      </h3>
      <form class="pme-form" action="/cc/cclite.cgi" method="post"><input
 name="action" value="adduser" type="hidden"> <input name="subaction"
 value="om_users" type="hidden">
        <table class="pme-main" summary="om_users">
          <tbody>
            <tr>
              <td class="pme-value-1">Reg Name<br>
              </td>
              <td style="vertical-align: top;"><input name="registry"><br>
              </td>
            </tr>
            <tr class="pme-row-1">
              <td class="pme-key-1">Acc Name<br>
              </td>
              <td class="pme-value-1"> <input class="pme-input-1"
 name="userLogin" size="60" maxlength="255" value="" type="text"></td>
            </tr>
            <tr class="pme-row-0">
              <td class="pme-key-0">Password</td>
              <td class="pme-value-0"> <input class="pme-input-0"
 name="userPassword" size="32" maxlength="32" value="" type="text"></td>
            </tr>
            <tr class="pme-row-1">
              <td class="pme-key-1">UserEmail</td>
              <td class="pme-value-1"> <input class="pme-input-1"
 name="userEmail" size="60" maxlength="255" value="" type="text"></td>
            </tr>
            <tr class="pme-row-0">
              <td class="pme-key-0">Full Name</td>
              <td class="pme-value-0"> <input class="pme-input-0"
 name="userName" size="60" maxlength="255" value="" type="text"></td>
            </tr>
          </tbody>
        </table>
        <hr class="pme-hr">
        <table class="pme-navigation">
          <tbody>
            <tr class="pme-navigation">
              <td class="pme-buttons"> <input class="pme-save"
 name="saveadd" value="Go" type="submit">&nbsp;<input class="pme-cancel"
 name="cancel" value="Clear" type="reset"> </td>
            </tr>
          </tbody>
        </table>
      </form>
      </td>
      <td><!-- news was here --> <br>
      </td>
    </tr>
    <tr>
      <td style="padding-left: 10px;" class="pme-key-1">© Hugh
Barnard 2004: Reproduction Encouraged!<br>
      </td>
      <td style="padding-right: 10px;" class="pme-key-1" align="right">
      <a href="privacy">Privacy and Security</a></td>
    </tr>
  </tbody>
</table>
</div>
<title>Community Currency 0.2</title>
<meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
<link type="text/css" href="/cclite/styles/cc.css" rel="stylesheet">
<div align="left"><!-- this is the main body table containing menu + prose bgcolor needs fixing !--><br>
</div>
<div style="position: absolute; top: 50px; left: 50px;">
</div>
<div style="position: absolute; top: 50px; left: 50px;">
</div>
</body>
</html>
