
<form class="pme-form" id="form" action="/cgi-bin/cclite.cgi" method="post">

<input name="action" value="update" type="hidden">

<input name="subaction" value="om_users" type="hidden">

<input name="userId" value="$$fields{userId}" type="hidden">

<table class="pme-main" summary="om_users">

<tbody class="stripy">

<tr class="pme-row-1">

<td class="pme-key-1">
UserLogin
</td>

<td class="pme-value-0">

<input class="grey"
 name="userLogin" readonly="readonly" size="40" maxlength="255" value="$$fields{userLogin}" type="text">
</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
Benutzerkennwort
</td>

<td class="pme-value-0">

<input class="pme-input-0"
 name="userPassword" size="32" maxlength="32" value="" type="password">
</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
Kennwort bestätigen
</td>

<td class="pme-value-0">

<input class="pme-input-0"
 name="confirmPassword" size="32" maxlength="32" value="" type="password">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
UserEmail
</td>

<td class="pme-value-1">

<input id="muserEmail" class="required email"
 name="userEmail" size="40" maxlength="255" value="$$fields{userEmail}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Anzahl/Haus Name
</td>

<td class="pme-value-1">

<input class="required"
 name="userNameornumber" size="30" maxlength="30" value="$$fields{userNameornumber}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Straßennamen
</td>

<td class="pme-value-1">

<input class="required"
 name="userStreet" size="40" maxlength="40" value="$$fields{userStreet}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Stadt
</td>

<td class="pme-value-1">

<input class="required"
 name="userTown" size="40" maxlength="40" value="$$fields{userTown}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
County/Staat
</td>

<td class="pme-value-1">

<input class="required"
 name="userArea" size="40" maxlength="40" value="$$fields{userArea}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Postleitzahl
</td>

<td class="pme-value-1">

<input class="required"
 name="userPostcode" size="10" maxlength="10" value="$$fieldsref{userPostcode}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Handy
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userMobile" size="15" maxlength="15" value="$$fields{userMobile}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
PIN für Handy-Transaktionen
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userPin" size="6" maxlength="6" value="" type="password">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Pin für Handy Transaktionen bestätigen
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="cuserPin" size="6" maxlength="6" value="" type="password">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
SMS Zahlungseingänge
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userSmsreceipt" value="$$fieldsref{userSmsreceipt}" type="checkbox">
</td>

</tr>

<tr class="pme-row-1">

<td title="Dies ist die öffentlichen Schlüssel Id für verschlüsselte Transaktionen" class="pme-key-0">
Öffentlichen Schlüssel-Id
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userPublickeyid" size="20" maxlength="20" value="$$fieldsref{userPublickeyid}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Sprache
</td>

<td class="pme-value-1">

<select name="userLang">

<option value="de">
English
</option>

<option selected value="en">
Englisch
</option>

<option value="fr">
Fran
</option>

</select>

</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
Benutzername
</td>

<td class="pme-value-0">

<input class="required"
 name="userName" size="40" maxlength="255" value="$$fields{userName}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
Urlaub oder aktiv
</td>

<td class="pme-value-1">

<select name="userStatus">

<option selected value="active">
Aktive
</option>

<option value="holiday">
Im Urlaub
</option>

</select>

</td>

</tr>

</tbody>

</table>

<hr class="pme-hr">

<table class="pme-navigation">

<tbody>

<tr class="pme-navigation">

<td class="pme-buttons">

<input class="pme-save" name="saveadd"
 value="Speichern" type="submit">
&nbsp;
<input class="pme-cancel"
 name="cancel" value="Abbrechen"  type="reset">

</td>

</tr>

</tbody>

</table>

</form>
