       <table> 
       <tbody class="stripy">
     <form class="pme-form" id="form" action="/cgi-bin/cclite.cgi" method="post"><input
 name="fromregistry" value="$$fieldsref{registry}" type="hidden"> <input
 name="action" value="transaction" type="hidden"> <input
 name="subaction" value="om_trades" type="hidden">
 <input id="trade状态" "name="trade状态" value="" type="hidden">
            <tr>
              <td class="pme-key-1">日期</td>
              <td class="pme-value-1"> <input class="grey"
 name="trade日期" size="11"  readonly="readonly" value="$$fieldsref{date}"
 type="text"></td>
            </tr>
            <tr>
              <td class="pme-key-0">从帐户<br>
              </td>
              <td class="pme-value-1">
                
<input class="required" type="text" name="tradeSource" id="tradeSource" autocomplete="off"/>

 </td>
            </tr>
            <tr>
              <td class="pme-key-0">自 Account<br>
              </td>
              <td class="pme-value-1">




<input class="required" type="text" name="tradeDestination" id="tradeDestination" autocomplete="off"/>


</td></tr><tr>
<td><span class="pme-key-0">注册表</span></td><td> 
$$fieldsref{selectpartners}
</td>
            </tr>
            <tr>
              <td class="pme-key-0">货币</td>
              <td nowrap class="pme-value-0"> $$fieldsref{selectcurrency}
<span class="pme-key-0"> 金额 </span>
<input class="required"
 name="trade金额" size="11" maxlength="11" type="text">

</td>
            </tr>
            <tr class="pme-row-1">
              <td class="pme-key-0"></td>
              <td class="pme-value-1"> 
</td>
            </tr>

<tr>
              <td class="pme-key-0">项目 类型<br>
              </td>
              <td class="pme-value-0">
 
<select id="trade项目" class="required" onchange="on_trade_change('trade项目');" name="trade项目">
 <option value="goods">货物</option>
 <option value="services">服务s</option>
 <option value="cashout">现金</option>
 <option value="cashin">现金</option>
 <option value="other">其他</option>
</select>

</td></tr><tr><td>
<span class="pme-key-0"> 项目 标题</span></td><td> <input class="required"
 name="trade标题" size="50" maxlength="255" value="" type="text">
</td>
            </tr>
            <tr>
              <td class="pme-key-1">项目说明</td>
              <td class="pme-value-1"> <textarea class="required"
 name="trade说明" rows="3" cols="60"></textarea></td>
            </tr>
        <table class="pme-navigation">
            <tr class="pme-navigation">
              <td class="pme-buttons"> <input class="pme-save"
 name="saveadd" value="使转让" type="submit">&nbsp;<input class="pme-cancel"
 name="cancel" value="Clear" type="reset"> </td>
            </tr>
  
      </form>
      </table>
 </tbody>
</table>
