<table>
<tbody class="stripy">
<tr><td class="pme-key-title">从</td><td class="pme-key-1">$$fieldsref{tradeSource}</td></tr>
<tr><td class="pme-key-title">说明</td><td class="pme-key-1">$$fieldsref{trade说明}</td></tr>
<tr><td class="pme-key-title">自</td><td class="pme-key-1">$$fieldsref{tradeDestination}</td></tr>
<tr><td class="pme-key-title">标题</td><td class="pme-key-1">$$fieldsref{trade标题}</td></tr>
<tr><td class="pme-key-title">类型</td><td class="pme-key-1">$$fieldsref{trade类型}</td></tr>
<tr><td class="pme-key-title">日期</td><td class="pme-key-1">$$fieldsref{trade日期}</td></tr>
<tr><td class="pme-key-title">项目</td><td class="pme-key-1">$$fieldsref{trade项目}</td></tr>
<tr><td class="pme-key-title">时间戳</td><td class="pme-key-1">$$fieldsref{tradeStamp}</td></tr>
<tr><td class="pme-key-title">注册表</td><td class="pme-key-1">$$fieldsref{tradeMirror}</td></tr>
<tr><td class="pme-key-title">状态</td><td class="pme-key-1">$$fieldsref{trade状态}</td></tr>
<tr><td class="pme-key-title">货币</td><td class="pme-key-1">$$fieldsref{trade货币}</td></tr>
<tr><td class="pme-key-title">金额</td><td class="pme-key-1">$$fieldsref{trade金额}</td></tr>
<tr><td class="pme-key-title">贸易参考</td><td class="pme-key-1">$$fieldsref{tradeHash}</td></tr>
</tbody>
</table>
