
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>
Cclite!$ $fieldsref{版本} ！用户
</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC finance currency" />


<meta name="author" content="hugh barnard" />

$$fieldsref{metarefresh}
<!-- 样式表 -->

<link type="text/css" href="/styles/cc.css" rel="stylesheet" />


<link rel="alternate" type="application/rss+xml" 
	title="$$fieldsref{registry} feed" href="/out/rss/$$fieldsref{registry}/$$fieldsref{language}/all.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<link rel="stylesheet" type="text/css" href="/javascript/jquery-autocomplete/jquery.autocomplete.css" />


<!-- javascript 库，需要代用品压缩版本 -->

<!-- jquery 的项目 -->

<script src="/javascript/jquery-1.3.2.js">
</script>

<script src="/javascript/jquery-validation-1.5.5.js">
</script>

<script src="/javascript/jquery-cookies.js">
</script>

<script type='text/javascript' src='/javascript/jquery-autocomplete/lib/jquery.ajaxQueue.js'>
</script>

<script type='text/javascript' src='/javascript/jquery-autocomplete/jquery.autocomplete.js'>
</script>

<script type='text/javascript' src='/javascript/jquery-tooltip/jquery.qtip-1.0.0-rc3.min.js'>
</script>

<script type='text/javascript' src='/javascript/jquery-autocomplete/lib/jquery.bgiframe.min.js'>
</script>

<!-- 其他非 jquery -->

<script type='text/javascript' src='/javascript/jshashtable-2.1.js'>
</script>

<script src="/javascript/jquery-tagsuggest.js">
</script>

<script src="/javascript/json_parse.js" type="text/javascript">
</script>

<!-- 图形 -->

<script  src="/javascript/raphael.js" type="text/javascript" >
</script>

<script  src="/javascript/ico.js" type="text/javascript" >
</script>

<!-- specific, is cookies necessary now? -->

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script src="/javascript/cclite.js" type="text/javascript">
</script>

<!-- 这是注销用户，以在系统关闭时的脚本 -->

<script type="text/javascript">
$$fieldsref{logout_script}
</script>

<style type="text/css" media="screen">

</style>

</head>

<body>

<!-- 此开关打开/关闭小数点的东西 -->

<div id="usedecimals" class="hidden">
$$fieldsref{usedecimals}
</div>

<div class="topbar">

<a title="首页" href="/cgi-bin/cclite.cgi">
<span class="titletext">
Cclite
</span>
</a>

<!-- 搜索用户、 行业、 广告 -->

<div class="adsearch">

<form class="searchform" action="/cgi-bin/cclite.cgi" method="post">

<input name="action" value="find" type="hidden">

<input class="search" onfocus="if(this.value == this.defaultValue) this.value = ''" value="search" name="search_string" id="search_string"  size="10" type="text">

<select id="search_type" class="small" name="search_type">

<option selected value='trade'>
交易
</option>

<option value='user'>
用户
</option>

<option value='ad'>
广告
</option>

</select>

<input value="转到" class="small" type="submit" title="寻找行业、 广告或用户">

</form>

</div>

<!-- 自动完成搜索框的结束 -->

<span id="status_message">
$$fieldsref{status_message}
</span>

<!-- 语言选择器版本 1 -->

<select id="language_value" class="small" onchange="change_language(this);" name="language">

<option value='en'>
英语
</option>

<option value='ar'>
阿拉伯语
</option>

<option value='bn'>
[局部] 孟加拉语
</option>

<option value='zh'>
中文
</option>

<option value='de'>
多伊奇
</option>

<option value='nl'>
荷兰语
</option>

<option value='fr'>
法国
</option>

<option value='es'>
埃斯帕尼奥尔
</option>

<option value='it'>
意大利
</option>

<option value='el'>
希腊语
</option>

<option value='ja'>
日语
</option>

<option value='ko'>
朝鲜语
</option>

<option value='pt'>
葡萄牙
</option>

<option value='ro'>
罗马尼亚
</option>

<option value='ru'>
俄语
</option>

<option value='th'>
泰语
</option>

<option value='vi'>
越南语
</option>

</select>

<!-- 语言选择器版本 1 结束 -->

<span id="logoninfo">
$$fieldsref{youare} $$fieldsref{atregistry}
<span >
<a title="Logout $$fieldsref{user}" href="/cgi-bin/cclite.cgi?action=logoff">

<span id="logoff">
</span>
</a>
</span>
</span>

</div>

<!-- 徽标的结束 -->

<!--- this bit needs replacing by the specific admin and install menus -->

<div class="topbar">

<a id="adminlinkhref" title="管理菜单" href="/cgi-bin/protected/ccadmin.cgi">

<span id="adminlink">
</span>

</a>

<a id="adminlinkhrefnt" title="在新选项卡中的管理菜单" target="_blank" href="/cgi-bin/protected/ccadmin.cgi">

<span id="adminlinknewtab">
</span>

</a>

<a class="bodytext"  title="忘记了您的密码吗？?" href="/cgi-bin/cclite.cgi?action=template&name=forgotpass.html">
忘记了密码吗？
</a>

<a class="bodytext" title="多伊奇" href="/cgi-bin/cclite.cgi?action=template&name=openid.html">
添加 Openid
</a>

<a class="bodytext" title="多伊奇" href="/cgi-bin/cclite.cgi?action=showopenid">
列表 Openids
</a>

<a class="bodytext" title="创建一个新的帐户" href="/cgi-bin/cclite.cgi?action=template&amp;name=newuser.html">
新帐户
</a>

<a class="bodytext" title="修改您的帐户详细信息" href="/cgi-bin/cclite.cgi?action=modifyuser">
修改帐户
</a>

</div>

<!-- 拉丁文的结束 -->

<div class="topbar" >

<span id="linksmenu" align="center">

<a title="转让货币或几小时" href="/cgi-bin/cclite.cgi?action=template&amp;name=trades.html">
付款
</a>

<a title="拆分的货物或服务的付款" href="/cgi-bin/cclite.cgi?action=template&amp;name=splittrade.html">
驳
</a>

<a title="显示我的交易记录" href="/cgi-bin/cclite.cgi?action=showtrans">
交易
</a>

<a title="显示我的余额" href="/cgi-bin/cclite.cgi?action=showbalvol">
余额
</a>

<a title="显示的商品和服务目录" href="/cgi-bin/cclite.cgi?action=showyellowdir1&getdetail=1">
产品/服务
</a>

<a title="显示我的广告中的商品和服务目录" href="/cgi-bin/cclite.cgi?action=showmyyellow">
我的广告
</a>

<a title="货物和服务目录中创建的页面" href="/cgi-bin/cclite.cgi?action=template&name=yellowpages.html">
地方广告
</a>

</span>

<!-- linksmenu 的结束 -->

<!-- 菜单位，管理员需要更换和安装结束 -->

</div>

<!-- 菜单的末尾 -->

<div class="content" align="center">

<div class="contentleft">

<div>
!$$fieldsref{pagename}
</div>

</div>

<!-- contentleft 结束： 左手边 -->

<div class="contentright" >

<span class="news">
$$fieldsref{latest_news}
</span>

<br/>

$$fieldsref{righthandside}
<div class="panel" >

</div>

<!-- 面板的结束 -->

</div>

<!-- righthandcontent 的结束 -->

</div>

<!-- 内容的末尾 -->

<div id="footer" style="float:bottom" class="smallgraytext" align="center">

<a href="/cgi-bin/cclite.cgi">
首页
</a>
|
<a href="#">
联系我们
</a>
<br />

Cclite
</div>

</body>

</html>
