

<form name="newuser" class="pme-form" id="form" action="/cgi-bin/cclite.cgi" method="post">
<input
 name="action" value="adduser" type="hidden">

<input name="subaction"
 value="om_users" type="hidden">

<table class="pme-main" summary="om_users">

<tbody class="stripy">

<tr>

<td class="pme-key-0">
<br>

</td>

<td style="vertical-align: top;">
<span class="errors">
$$fields{errors}
</span>

</td>

</tr>

<tr>

<td class="pme-key-0">
Reg 名称
<br>

</td>

<td style="vertical-align: top;">

<!-- cookie 设置，则路径中的注意显式路径值设置为 cgi-bin -->

<input type="text" class="required" id="chooseregistry" onfocus="$.cookie('registry1', null, {expires: -2});" onblur="$.cookie('registry1', this.value, {path: '/'});" name="registry">

</td>

</tr>

<tr class="pme-row-1">

<td title="需要超过 3 个字符、 字母、 数字和 _ 只" class="pme-key-0">
帐户名
<br>

</td>

<td class="pme-value-1">

<input 
 name="nuserLogin" id="nuserLogin" class="required" value="$$fieldsref{userLogin}" size="60" maxlength="255" value="" type="text">

</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
密码
</td>

<td class="pme-value-0">

<input 
 name="userPassword" class="required" size="32" maxlength="32" value="" type="password">
</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
确认密码
</td>

<td class="pme-value-0">

<input 
 name="cuserPassword" class="required" size="32" maxlength="32" value="" type="password">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
电子邮件
</td>

<td class="pme-value-1">

<input 
 name="userEmail" id="nuserEmail" class="required email" size="50" maxlength="50" value="$$fieldsref{userEmail}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
房子数/名称
</td>

<td class="pme-value-1">

<input 
 name="userNameornumber" class="required" value="$$fieldsref{userNameornumber}" size="30" maxlength="30" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
街道名称
</td>

<td class="pme-value-1">

<input 
 name="userStreet" size="40" class="required" maxlength="40" value="$$fieldsref{userStreet}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
镇
</td>

<td class="pme-value-1">

<input 
 name="userTown" class="required" size="40" maxlength="40" value="$$fieldsref{userTown}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
县/状态
</td>

<td class="pme-value-1">

<input 
 name="userArea" class="required" size="40" maxlength="40" value="$$fieldsref{userArea}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
邮政编码
</td>

<td class="pme-value-1">

<input 
 name="userPostcode" class="required" size="10" maxlength="10" value="$$fieldsref{userPostcode}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
固定的电话
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userTelephone" size="20" maxlength="20" value="$$fieldsref{userTelephone}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td  class="pme-key-0">
移动电话
</td>

<td class="pme-value-1">

<input title="请把这个数字在国际格式 44777766666" class="pme-input-1"
 name="userMobile" id="nuserMobile" size="20" maxlength="20" value="$$fieldsref{userMobile}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
手机交易密码
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userPin" size="6" maxlength="6" value="$$fieldsref{userPin}" type="password">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
手机交易确认 Pin
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="cuserPin" size="6" maxlength="6" value="$$fieldsref{cuserPin}" type="password">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
SMS 付款收据
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userSmsreceipt" type="checkbox">
</td>

</tr>

<tr class="pme-row-1">

<td title="这是加密事务的公共密钥 id" class="pme-key-0">
公共密钥 Id
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userPublickeyid" size="20" maxlength="20" value="$$fieldsref{userPublickeyid}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
语言
</td>

<td class="pme-value-1">

<select class="required" name="userLang">

<option value="">
</option>

<option selected value="en">
英语
</option>

<option value="de">
多伊奇
</option>

<option value="fr">
弗朗索瓦
</option>

</select>

</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
全名
</td>

<td class="pme-value-0">

<input 
 name="userName" size="60" class="required" maxlength="255" value="$$fieldsref{userName}" type="text">

</td>

</tr>

</tbody>

</table>

<hr class="pme-hr">

<table class="pme-navigation">

<tbody>

<tr class="pme-navigation">

<td class="pme-buttons">

<!-- 我们删除注册表 cookie 在这里，否则它会稍后防止清洁的登录 -->

<input class="pme-save"
 name="saveadd" value="创建" onClick="eraseCookie('registry');" type="submit">
&nbsp;
<input class="pme-cancel"
 name="cancel" value="明确" type="reset">

</td>

</tr>

</tbody>

</table>

</form>
