

<table>

<tr>
<td>

<a href="mailto:$$fieldsref{userEmail}">
$$fieldsref{type} by $$fieldsref{fromuserid}
</a>

<table>

<tbody class="stripy">

<tr>
<td class="pme-key-title">
Alates
</td>
<td class="pme-key-1">
</td>
</tr>

<tr>
<td class="pme-key-title">
Lisamise kuupäev
</td>
<td class="pme-key-1">
$$fieldsref{dt}
</td>
</tr>

<tr>
<td class="pme-key-title">
Olek
</td>
<td class="pme-key-1">
$$fieldsref{userStatus}
</td>
</tr>

<tr>
<td class="pme-key-title">
Kategooria
</td>
<td class="pme-key-1">
$$fieldsref{keywords}
</td>
</tr>

<tr>
<td class="pme-key-title">
Maksma
</td>
<td class="pme-key-1">
$$fieldsref{tradeCurrency}s
</td>
</tr>

<tr>
<td class="pme-key-title">
Pealkiri
</td>
<td class="pme-key-1">
$$fieldsref{subject}
</td>
</tr>

<tr>
<td class="pme-key-title">
Kirjeldus
</td>
<td class="pme-key-1">
$$fieldsref{description}
</td>
</tr>

<tr>
<td class="pme-key-title">
Sildid
</td>
<td class="pme-key-1">
$$fieldsref{yellowtags}
</td>
</tr>

<tr>
<td class="pme-key-title">
Maksma 100% koopia
</td>
<td class="pme-key-1">
$$fieldsref{truelets}
</td>
</tr>

<tr>
<td class="pme-key-title">
Hind
</td>
<td class="pme-key-1">
$$fieldsref{price} $$fieldsref{tradeCurrency}s per $$fieldsref{unit}
</td>
</tr>

</tbody>

</table>

</td>

<td>

<table>

<tr>

<td>

</td>

</tr>

<tr>

<td>

<h4>
Tehtud Trading ja saldosid $$fieldsref{fromuserid}
</h4>

</td>

</tr>

<tr>

<td>
$$fieldsref{balanceandvolume}
</td>

</tr>

<td>

<tr>
$$fieldsref{volumes}
</td>

</tr>

</table>

</td>
</tr>

</table>
