<table>
<tbody class="stripy">
<tr><td class="pme-key-title">Από</td><td class="pme-key-1">$$fieldsref{tradeSource}</td></tr>
<tr><td class="pme-key-title">Περιγραφή</td><td class="pme-key-1">$$fieldsref{tradeΠεριγραφή}</td></tr>
<tr><td class="pme-key-title">Για να</td><td class="pme-key-1">$$fieldsref{tradeDestination}</td></tr>
<tr><td class="pme-key-title">Τίτλος</td><td class="pme-key-1">$$fieldsref{tradeΤίτλος}</td></tr>
<tr><td class="pme-key-title">Τύπος</td><td class="pme-key-1">$$fieldsref{tradeΤύπος}</td></tr>
<tr><td class="pme-key-title">Ημερομηνία</td><td class="pme-key-1">$$fieldsref{tradeΗμερομηνία}</td></tr>
<tr><td class="pme-key-title">Το στοιχείο</td><td class="pme-key-1">$$fieldsref{tradeΤο στοιχείο}</td></tr>
<tr><td class="pme-key-title">Χρονική σήμανση</td><td class="pme-key-1">$$fieldsref{tradeStamp}</td></tr>
<tr><td class="pme-key-title">Στο μητρώο</td><td class="pme-key-1">$$fieldsref{tradeMirror}</td></tr>
<tr><td class="pme-key-title">Κατάσταση</td><td class="pme-key-1">$$fieldsref{tradeΚατάσταση}</td></tr>
<tr><td class="pme-key-title">Νόμισμα</td><td class="pme-key-1">$$fieldsref{tradeΝόμισμα}</td></tr>
<tr><td class="pme-key-title">Ποσό</td><td class="pme-key-1">$$fieldsref{tradeΠοσό}</td></tr>
<tr><td class="pme-key-title">Εμπόριο αναφοράς</td><td class="pme-key-1">$$fieldsref{tradeHash}</td></tr>
</tbody>
</table>
