
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC" />


<meta name="author" content="hugh barnard" />


<link type="text/css" href="/styles/default.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="Πειραματική cclite σύνδεση" href="/html/en/rdf/chelsea.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<title>
Cclite 0.9.0 για τους ανυπόμονους
</title>

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script type="text/javascript">
λειτουργία stripe() {&#xD;     Striper («tbody», «ριγέ», «tr», «περίεργο, ακόμα και»)?&#xD;}
</script>

</head>

<body>

<div id="page" align="center">

<div id="toppage" align="center">

</div>

<div id="header" align="center">

<h1>
<a title="Cclite για τους ανυπόμονους" href="/">
Cclite γρήγορης εκκίνησης
</a>
</h1>

</div>

</div>

<div id="content" align="center">

<div id="menu" align="right">

<div id="linksmenu" align="center">

<a title="πρόγραμμα εγκατάστασης" href="/cgi-bin/protected/ccinstall.cgi">
Εφαρμοστής ιστού
</a>
|
<a  title="Σύνδεση χρήστη" href="/cgi-bin/cclite.cgi">
Σύνδεση χρήστη
</a>
|
<a title="Admin Menu (must be logged on first)" href="/cgi-bin/protected/ccadmin.cgi">
Διοίκηση
</a>
|
</div>

</div>

<div id="contenttext">

<div style="margin:100px;}padding:12px;" align="justify">

<ol>

<li>
Χρήση
<a title="Εγκατάσταση ανάλυση στον εφαρμοστή" href="/cgi-bin/protected/ccinstall.cgi">
η ανάλυση της εγκατάστασης
</a>
να αναλύσει την τρέχουσα κατάσταση της εγκατάστασης
</li>

<li>
Χρήση
<a href="/cgi-bin/protected/ccinstall.cgi">
το πρόγραμμα εγκατάστασης
</a>
για να ορίσετε τις τιμές των παραμέτρων,
<strong>
βάση δεδομένων του χρήστη και τον κωδικό πρόσβασης
</strong>
</li>

<li>
<a title="Δημιουργία ενός μητρώου" href="/cgi-bin/protected/ccinstall.cgi?action=template&name=registry.html">
Δημιουργία ενός μητρώου
</a>
(trading group) for your system, for example,
<span class="system">
dalston
</span>
,
<span class="system">
Newington
</span>
,
<span class="system">
Islington
</span>
Ένα μητρώο είναι μια βάση δεδομένων mysql...
</li>

<li>
<a title="Σύνδεσης, ως διευθυντής" href="/cgi-bin/cclite.cgi">
Σύνδεσης, ως διευθυντής
</a>
Σύνδεσης για το μητρώο σας ως
<span class="system">
Διευθυντής
</span>
με κωδικό πρόσβασης
<span class="system">
Διευθυντής
</span>
</li>

<li>
<a title="Έχει συσταθεί ένα νόμισμα" href="/cgi-bin/protected/ccadmin.cgi?action=template&name=currency.html">
(when Manager) Set up a currency or two
</a>
</li>

<li>

<a title="Δημιουργήστε χρήστες ή αφήστε τους να έρχονται" href="/cgi-bin/cclite.cgi?action=template&name=newuser.html">
Δημιουργήστε χρήστες ή αφήστε τους να έρθουν
</a>
Δημιουργήστε χρήστες και να τους εμπόριο.
</li>

<li>

<b>
Θυμηθείτε να καταργήσετε ή να απενεργοποιήσετε το πρόγραμμα εγκατάστασης και να αλλάξετε τους κωδικούς πρόσβασης sysaccount και admin. Επίσης να καταργήσετε αυτή τη σελίδα!
</b>
</li>

</ol>

</div>

<div class="panel" align="justify">

<span class="bodytext">

<div style="margin:50px;}padding:12px;" align="justify">
Μαζικές εργασίες όπως η γραφή rss ανάγνωση δέσμης συναλλαγής εισόδου και να δώσει με γραφική παράσταση είναι τώρα στη σελίδα διαχείρισης για το διαχειριστή. Μπορούν να&#xD;να τρέξει κατευθείαν από το διαδίκτυο χωρίς χρησιμοποίηση cron. Για cron, μερικές τροποποιήσεις πρέπει να γίνουν για να σενάριο.
</div>

</span>

</div>

</div>

</div>

<div id="footer" class="smallgraytext" align="center">

<a href="http://groups.google.co.uk/group/cclite">
Βοηθήσει με Cclite
</a>
<br />

Cclite 
<br />


</div>

</div>

</body>

</html>
