
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!-- Design by Free CSS Templates&#xD;	http://www.freecsstemplates.org&#xD;	Ελεύθερη υπό την Creative Commons Attribution 2.5 License -->

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<title>
Cclite $$fieldsref{version} Χρήστης
</title>

<meta name="keywords" content="" />


<meta name="description" content="" />


<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC finance currency" />


<meta name="author" content="hugh barnard" />

$$fieldsref{metarefresh}
<!-- φύλλα στυλ -->

<link href="/styles/default.css" rel="stylesheet" type="text/css" />


<!--<link type="text/css" href="/styles/cc.css" rel="stylesheet" />-->

<link rel="alternate" type="application/rss+xml" 
	title="$$fieldsref{registry} feed" href="/out/rss/$$fieldsref{registry}/$$fieldsref{language}/all.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<link rel="stylesheet" type="text/css" href="/javascript/jquery-autocomplete/jquery.autocomplete.css" />


<!-- αργότερα dataTables -->

<!--<link rel="stylesheet" type="text/css" href="/javascript/jquery-datatables/js/css/demo_page.css" />
        <link rel="stylesheet" type="text/css" href="/javascript/jquery-datatables/js/css/demo_table.css"/> -->

<!-- Javascript βιβλιοθήκες, που πρέπει να αντικαταστήστε συμπιεσμένα εκδόσεις σε κάποιο στάδιο -->

<!-- jQuery στοιχεία -->

<script src="/javascript/jquery-1.3.2.js">
</script>

<script src="/javascript/jquery-validation-1.5.5.js">
</script>

<script src="/javascript/jquery-cookies.js">
</script>

<script type='text/javascript' src='/javascript/jquery-autocomplete/lib/jquery.ajaxQueue.js'>
</script>

<script type='text/javascript' src='/javascript/jquery-autocomplete/jquery.autocomplete.js'>
</script>

<script type='text/javascript' src='/javascript/jquery-tooltip/jquery.qtip-1.0.0-rc3.min.js'>
</script>

<script type='text/javascript' src='/javascript/jquery-autocomplete/lib/jquery.bgiframe.min.js'>
</script>

<!--<script type='text/javascript' src='/javascript/jquery-datatables/js/jquery.dataTables.js'></script>-->

<!-- άλλοι μη jquery -->

<script type='text/javascript' src='/javascript/jshashtable-2.1.js'>
</script>

<script src="/javascript/jquery-tagsuggest.js">
</script>

<script src="/javascript/json_parse.js" type="text/javascript">
</script>

<!-- γραφική απεικόνιση -->

<script  src="/javascript/flot/jquery.flot.js" type="text/javascript" >
</script>

<!-- specific, is cookies necessary now? -->

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script src="/javascript/cclite.js" type="text/javascript">
</script>

<!-- αυτή είναι η δέσμη ενεργειών που πραγματοποιεί χρήστες όταν το σύστημα είναι τα παράπονα -->

<script type="text/javascript">
$$fieldsref{logout_script}
</script>

</head>

<body>

<!-- Αυτός ο διακόπτης απενεργοποιεί on/off το δεκαδικό σημείο stuff -->

<div id="usedecimals" class="hidden">
$$fieldsref{usedecimals}
</div>

<!-- Αναζήτηση για χρήστες, εμπόριο, διαφημίσεις -->

<br/>


<div align="right">

<form style='display:inline;' class="searchform" action="/cgi-bin/cclite.cgi" method="post">

<input name="action" value="find" type="hidden">

<input class="search" onfocus="if(this.value == this.defaultValue) this.value = ''" value="search" name="search_string" id="search_string"  size="10" type="text">

<select id="search_type" class="small" name="search_type">

<option selected value='trade'>
Συναλλαγές
</option>

<option value='user'>
Οι χρήστες
</option>

<option value='ad'>
Διαφημίσεις
</option>

</select>

<input value="Μετάβαση" class="small" type="submit" title="Αναζητήστε επαγγελματικών, διαφημίσεις ή χρήστες">

</form>

<!-- Τέλος, του πλαισίου αναζήτησης "Αυτόματη καταχώρηση" -->

<span id="status_message">
$$fieldsref{status_message}
</span>

<!-- επιλογέας έκδοση 1 -->

<select id="language_value" class="small" onchange="change_language(this);" name="language">

<!--	<option value='en'>English</option>
					<option value='ar'>Arabic</option>
					<option value='bn'>Bengali [partial]</option>
					<option value='zh'>Chinese</option>
					<option value='de'>Deutsch</option>
					<option value='nl'>Dutch</option>
					<option value='fr'>Francais</option>
					<option value='es'>Espagnol</option>
					<option value='it'>Italiano</option>
					<option value='el'>Greek</option>
					<option value='ja'>Japanese</option>
					<option value='ko'>Korean</option>
					<option value='pt'>Portugese</option>
					<option value='ro'>Romanian</option>
					<option value='ru'>Russian</option>
					<option value='th'>Thai</option>
					<option value='vi'>Vietnamese</option> -->

</select>

<!-- γλώσσα επιλογέα έκδοση 1 τέλος -->

<span id="logoninfo">
$$fieldsref{youare} $$fieldsref{atregistry}
<span >
<a title="Logout $$fieldsref{user}" href="/cgi-bin/cclite.cgi?action=logoff">

<span id="logoff">
</span>
</a>

</span>
</span>

</div>

<div id="outer">

<div id="header">

<h1>
<a href="/cgi-bin/cclite.cgi">
Cclite χρήστη
</a>
</h1>

</div>

<div id="menu">

<span class="news">
$$fieldsref{latest_news}
</span>

<ul>

<li class="first">
<a id="adminlinkhref" title="Μενού "Διαχείριση"" href="/cgi-bin/protected/ccadmin.cgi">

<span id="adminlink">
</span>

</a>
</li>

<li>

<a id="adminlinkhrefnt" title="μενού διαχείρισης σε νέα καρτέλα" target="_blank" href="/cgi-bin/protected/ccadmin.cgi">

<span id="adminlinknewtab">
</span>

</a>

</li>

<li>
<a title="Μεταφορά νόμισμα ή ώρες" href="/cgi-bin/cclite.cgi?action=template&amp;name=trades.html">
Πληρωμή
</a>
</li>

<li>
<a  title="Ξέχασες τον κωδικό πρόσβασης??" href="/cgi-bin/cclite.cgi?action=template&name=forgotpass.html">
Ξεχάσατε τον κωδικό?
</a>

</li>

<li>
<a title="Προσθήκη Openid" href="/cgi-bin/cclite.cgi?action=template&name=openid.html">
Προσθήκη Openid
</a>

</li>

<li>
<a title="Λίστα Openids" href="/cgi-bin/cclite.cgi?action=showopenid">
Λίστα Openids
</a>

</li>

<li>
<a title="Δημιουργήστε ένα νέο λογαριασμό" href="/cgi-bin/cclite.cgi?action=template&amp;name=newuser.html">
Νέο λογαριασμό
</a>

</li>

<li>
<a title="Τροποποιήστε τα στοιχεία λογαριασμού σας" href="/cgi-bin/cclite.cgi?action=modifyuser">
Τροποποιήσετε λογαριασμό
</a>
</li>

<li>
<a title="Διαίρεση της πληρωμής για αγαθά ή υπηρεσίες" href="/cgi-bin/cclite.cgi?action=template&amp;name=splittrade.html">
Διαίρεση πληρωμής
</a>
</li>

<li>
<a title="Εμφάνιση μου συναλλαγές" href="/cgi-bin/cclite.cgi?action=showtrans">
Συναλλαγές
</a>
</li>

<li>
<a title="Εμφάνιση μου υπολοίπων" href="/cgi-bin/cclite.cgi?action=showbalvol">
Τα υπόλοιπα
</a>
</li>

<li>
<a title="Εμφάνιση των αγαθών και των υπηρεσιών καταλόγου" href="/cgi-bin/cclite.cgi?action=showyellowdir1&getdetail=1">
Προϊόντα/υπηρεσίες
</a>
</li>

<li>
<a title="Εμφάνιση των διαφημίσεών μου σε τα αγαθά και οι υπηρεσίες καταλόγου" href="/cgi-bin/cclite.cgi?action=showmyyellow">
Διαφημίσεις μου
</a>
</li>

<li>
<a title="Δημιουργήστε μια σελίδα για τα αγαθά και τις υπηρεσίες καταλόγου" href="/cgi-bin/cclite.cgi?action=template&name=yellowpages.html">
Τόπος Ad
</a>
</li>

</ul>

</div>

<!-- tag σύννεφο και μεμονωμένους χρήστες στατιστικών -->

<div id="content">

<div id="primaryContentContainer">

<div id="primaryContent">
!$$fieldsref{pagename}
</div>

</div>

<div valign="top" id="secondaryContent">

<h3>
Οι κατηγορίες διαφημίσεων
</h3>
$$fieldsref{righthandside}
<br/>

<br/>


<div id="userbalances" style="width:250px;height:150px;">
</div>

<div id="graphlabel">
</div>

</div>

<div class="clear">
<div id="footer">

<a href="/cgi-bin/cclite.cgi">
Αρχική σελίδα
</a>
|
<a href="#">
Επικοινωνήστε μαζί μας
</a>
<br />

Cclite 
</div>
</div>

</div>

</div>

</div>

</body>

</html>
