<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Πολιτική απορρήτου νόμισμα της Κοινότητας</title>
  <link type="text/css" href="/styles/cc.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="Πειραματική cclite σύνδεση" href="/html/en/rdf/fm.rdf"/>  
  <meta content="Hugh Barnard" name="author">

</head>
<body>
<div align="center">

<table class="logotable" summary="table holding logo" cellpadding="5">

    <tr>
      <td valign="top">
      </td>

      <td align="left" valign="top"><!-- news -->

      <table title="Community Νόμισμα" border="0" cellpadding="0"
 cellspacing="0">
        <tbody class="stripy">
          <tr>
            <td class="pme-key-1">
            <p class="pme-key-1">
            </td>
          </tr>
          <tr>
            <td class="BoxNewsMessage"><!-- end of news --> 
            </td>
          </tr>
        </tbody>
      </table>

      </td>
    </tr>

    <tr>
      <td class="pme-key-1">
      </td>

      <td align="right" class="pme-key-1"></td>
    </tr>
<!--</table>-->

<!-- this is the main body table containing menu + prose bgcolor needs fixing !-->
<!--<table align="left" class="main" border="0" cellpadding="0" cellspacing="0"
 >-->

    <tr align="left" valign="top">
      <td>


      <td align="left" valign="top" class="pme-key-1"><!-- template area -->

This page will contain the privacy and security statement for the registry


<!-- end of template area --> </td>
    </tr>
    <tr>
      <td class="smallprint">
      </td>
      <td style="padding-right: 10px;" class="pme-key-1" align="right">
    </td>
    </tr>
</table>
</div>
</body>
</html>
