
<table>
<tbody class="stripy">
<form class="pme-form" id="form" method="post" action="/cgi-bin/cclite.cgi" name="yellowpages">

<input name="subaction" value="om_yellowpages" type="hidden">
<input name="action" value="addyellow" type="hidden">


<tr>
<td class="pme-key-0">Από το χρήστη</td>
<td class="pme-value-0">
<input class="grey" name="fromuserid" size="11" readonly="readonly" maxlength="11" value="$$fieldsref{userLogin}" type="text"></td>
</tr>
<tr>
<td class="pme-key-1">Τύπος</td>
<td class="pme-value-1">
              <select class="required" name="type">
              <option value="offered" selected="selected">Προσφορά</option>
              <option value="wanted">Ήθελε</option>
              <option value="other">Άλλα</option>
              </select>
</td>
</tr>
<tr>
<td class="pme-key-1">Κλάση Major</td>
<td class="pme-value-1">
              <select class="required" name="majorclass">
              <option value="service" selected="selected">Υπηρεσία</option>
              <option value="goods">Εμπορεύματα</option>
              <option value="other">Άλλα</option>
              </select>
</td>
</tr>

<tr>
<td class="pme-key-1">Ταξινόμηση</td>
<td class="pme-value-1">
$$fieldsref{selectclassification}</td>
</tr>

<tr>
<td class="pme-key-1">Ετικέτες (autocomplete)</td>
<td class="pme-value-1">
<span id="tagmatches" class="tagmatches"><input id="yellowtags" name="yellowtags" "size="30" maxlength="60" value="$$fieldsref{yellowtags}"></span></td>
</tr>

<tr>
<td class="pme-key-0">Αντικείμενο</td>
<td class="pme-value-0">
<input class="required" name="subject" size="30" maxlength="30" value="" type="text"></td>
</tr>
<tr>
<td class="pme-key-1">Περιγραφή</td>
<td class="pme-value-1">
<textarea class="required" name="description" rows="5" columns="50">
$$fieldsref{description}</textarea>
</td>
</tr>
<tr>
<td class="pme-key-0">Τιμή</td>
<td class="pme-value-0">
<input class="required" onChange="validatedecimals(this,this.value);" id="price" name="price" size="10" maxlength="10" value="$$fieldsref{price}" type="text"></td>
</tr>
<tr class="pme-row-1">
<td class="pme-key-1">Νόμισμα</td>
<td class="pme-value-1">
$$fieldsref{selectcurrency}
<input type="hidden" name="r_currency" value="Need a price for the item or service please">
</td>
</tr>

<tr>
<td class="pme-key-1">Per unit (services only)</td>
<td class="pme-value-1">
              <select class="pme-input-1" name="unit">
              <option value="" ></option>
              <option value="hour" >ανά ώρα</option>
              <option value="day" >ανά ημέρα</option>
              <option value="week" >ανά εβδομάδα</option>
              <option value="month" >ανά μήνα</option>
              </select>
</td>
</tr>

<tr>
<td class="pme-key-1">Πλήρης πληρωμή σε νόμισμα σάς επιτρέπει να;?</td>
<td class="pme-value-1">
              <select class="pme-input-1" name="truelets">
              <option value="yes" >Ναι</option>
              <option value="no">Όχι</option>
              </select>
</td>
</tr>

<table class="pme-navigation">
<tr class="pme-navigation">
<td class="pme-buttons">
<input class="pme-save"
 name="saveadd" value="Να σελίδα" type="submit">&nbsp;<input class="pme-cancel"
 name="cancel" value="Clear" type="reset"> </td>
</tr>
</form>
 </table>
</tbody>
</table>

