

<a href="mailto:$$fieldsref{userEmail}">
$$fieldsref{type} by $$fieldsref{fromuserid}
</a>

<table>

<tbody class="stripy">

<tr>
<td class="pme-key-title">
보낸 사람
</td>
<td class="pme-key-1">
</td>
</tr>

<tr>
<td class="pme-key-title">
날짜 추가
</td>
<td class="pme-key-1">
$$fieldsref{dt}
</td>
</tr>

<tr>
<td class="pme-key-title">
상태
</td>
<td class="pme-key-1">
$$fieldsref{userStatus}
</td>
</tr>

<tr>
<td class="pme-key-title">
카테고리
</td>
<td class="pme-key-1">
$$fieldsref{keywords}
</td>
</tr>

<tr>
<td class="pme-key-title">
지불
</td>
<td class="pme-key-1">
$$fieldsref{tradeCurrency}s
</td>
</tr>

<tr>
<td class="pme-key-title">
제목
</td>
<td class="pme-key-1">
$$fieldsref{subject}
</td>
</tr>

<tr>
<td class="pme-key-title">
설명
</td>
<td class="pme-key-1">
$$fieldsref{description}
</td>
</tr>

<tr>
<td class="pme-key-title">
태그
</td>
<td class="pme-key-1">
$$fieldsref{yellowtags}
</td>
</tr>

<tr>
<td class="pme-key-title">
100 %Cc 지불
</td>
<td class="pme-key-1">
$$fieldsref{truelets}
</td>
</tr>

<tr>
<td class="pme-key-title">
가격
</td>
<td class="pme-key-1">
$$fieldsref{price} $$fieldsref{tradeCurrency}s per $$fieldsref{unit}
</td>
</tr>

</tbody>

</table>

<br/>


<hr/>


<h4>
최근 거래와 $fieldsref{fromuserid}에 대 한 균형
</h4>
$$fieldsref{balanceandvolume}