
<table class="pme-main" summary="om_users">

<tbody class="stripy">

<tr class="pme-row-1">

<td class="pme-key-title">
UserLogin
</td>

<!-- Duserlogin는 일반적으로 처리 userLogin 구별 하는 데 사용 됩니다. -->

<td class="pme-value-0">
$$fields{duserLogin}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
UserEmail
</td>

<td class="pme-value-1">
$$fields{userEmail}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
스트리트
</td>

<td class="pme-value-1">
$$fields{userNameornumber} $$fields{userStreet}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
도시/카운티
</td>

<td class="pme-value-1">
$$fields{userTown} $$fields{userArea}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
휴대 전화
</td>

<td class="pme-value-1">
$$fields{userMobile}
</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-title">
이름
</td>

<td class="pme-value-0">
$$fields{userName}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
휴일 또는 액티브
</td>

<td class="pme-value-1">
$$fieldsref{userStatus}
</td>

</tr>

</tbody>

</table>
