
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC" />


<meta name="author" content="hugh barnard" />


<link type="text/css" href="/styles/default.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="실험 cclite 링크" href="/html/en/rdf/chelsea.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<title>
급한 사람을 위한 Cclite 0.9.0
</title>

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script type="text/javascript">
함수 stripe() {&#xD;     striper ('tbody', 'stripy', 'tr', '홀수, 심지어');&#xD;}
</script>

</head>

<body>

<div id="page" align="center">

<div id="toppage" align="center">

</div>

<div id="header" align="center">

<h1>
<a title="급한 사람을 위한 Cclite" href="/">
Cclite 퀵 스타트
</a>
</h1>

</div>

</div>

<div id="content" align="center">

<div id="menu" align="right">

<div id="linksmenu" align="center">

<a title="설치 프로그램" href="/cgi-bin/protected/ccinstall.cgi">
웹 설치
</a>
|
<a  title="사용자 로그온" href="/cgi-bin/cclite.cgi">
사용자 로그온
</a>
|
<a title="Admin Menu (must be logged on first)" href="/cgi-bin/protected/ccadmin.cgi">
관리
</a>
|
</div>

</div>

<div id="contenttext">

<div style="margin:100px;}padding:12px;" align="justify">

<ol>

<li>
사용
<a title="설치 프로그램에서 설치 분석" href="/cgi-bin/protected/ccinstall.cgi">
설치 분석
</a>
설치의 현재 상태를 분석 하려면
</li>

<li>
사용
<a href="/cgi-bin/protected/ccinstall.cgi">
설치 프로그램
</a>
구성 값을 설정 하려면
<strong>
데이터베이스 사용자 및 암호
</strong>
</li>

<li>
<a title="레지스트리를 만들기" href="/cgi-bin/protected/ccinstall.cgi?action=template&name=registry.html">
레지스트리를 만들기
</a>
(trading group) for your system, for example,
<span class="system">
dalston
</span>
,
<span class="system">
newington
</span>
,
<span class="system">
생 스 베리
</span>
레지스트리는 하나 mysql 데이터베이스...
</li>

<li>
<a title="관리자로 로그온" href="/cgi-bin/cclite.cgi">
관리자로 로그온
</a>
귀하의 레지스트리를 로그온
<span class="system">
관리자
</span>
암호와 함께
<span class="system">
관리자
</span>
</li>

<li>
<a title="통화 설정" href="/cgi-bin/protected/ccadmin.cgi?action=template&name=currency.html">
(when Manager) Set up a currency or two
</a>
</li>

<li>

<a title="사용자 만들기 또는 그들을 오게합니다" href="/cgi-bin/cclite.cgi?action=template&name=newuser.html">
사용자 만들기 또는 서 그들에 게
</a>
사용자를 만들고 무역 수 있도록 합니다.
</li>

<li>

<b>
제거 또는 설치 프로그램을 사용 하지 않도록 설정 하 고 sysaccount 및 관리자 암호를 변경 하는 것을 기억 하십시오. 또한이 페이지를 제거!
</b>
</li>

</ol>

</div>

<div class="panel" align="justify">

<span class="bodytext">

<div style="margin:50px;}padding:12px;" align="justify">
Rss를 작성 하는 것과 같은 일괄 처리 작업 일괄 처리 트랜잭션 입력을 읽고 그래프로 표시 됩니다 관리자의 관리 페이지에. 그들은 수 있습니다.&#xD;cron을 사용 하지 않고 웹에서 바로 실행할 수 있습니다. Cron 일에 대 한 몇 가지 수정 스크립트에 게 필요 합니다.
</div>

</span>

</div>

</div>

</div>

<div id="footer" class="smallgraytext" align="center">

<a href="http://groups.google.co.uk/group/cclite">
Cclite 도움말
</a>
<br />

Cclite 
<br />


</div>

</div>

</body>

</html>
