
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>

<title>
커뮤니티 통화 개인 정보 보호 정책
</title>

<link type="text/css" href="/styles/cc.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="실험 cclite 링크" href="/html/en/rdf/fm.rdf"/>


<meta content="Hugh Barnard" name="author">

</head>

<body>

<div align="center">

<table class="logotable" summary="table holding logo" cellpadding="5">

<tr>

<td valign="top">

</td>

<td align="left" valign="top">
<!-- 뉴스 -->

<table title="지역 통화" border="0" cellpadding="0"
 cellspacing="0">

<tbody class="stripy">

<tr>

<td class="pme-key-1">

<p class="pme-key-1">

</td>

</tr>

<tr>

<td class="BoxNewsMessage">
<!-- 뉴스의 끝 -->

</td>

</tr>

</tbody>

</table>

</td>

</tr>

<tr>

<td class="pme-key-1">

</td>

<td align="right" class="pme-key-1">
</td>

</tr>

<!--</table>-->

<!-- this is the main body table containing menu + prose bgcolor needs fixing !-->

<!--<table align="left" class="main" border="0" cellpadding="0" cellspacing="0"
 >-->

<tr align="left" valign="top">

<td>

<td align="left" valign="top" class="pme-key-1">
<!-- 템플릿 영역 -->
이 페이지는 개인 정보 보호 및 레지스트리에 대 한 보안 문을 포함 됩니다.
<!-- 서식 파일 영역 끝 -->

</td>

</tr>

<tr>

<td class="smallprint">

</td>

<td style="padding-right: 10px;" class="pme-key-1" align="right">

</td>

</tr>

</table>

</div>

</body>

</html>
