
<form class="pme-form" id="form" action="/cgi-bin/cclite.cgi" method="post">

<input name="action" value="update" type="hidden">

<input name="subaction" value="om_users" type="hidden">

<input name="userId" value="$$fields{userId}" type="hidden">

<table class="pme-main" summary="om_users">

<tbody class="stripy">

<tr class="pme-row-1">

<td class="pme-key-1">
UserLogin
</td>

<td class="pme-value-0">

<input class="grey"
 name="userLogin" readonly="readonly" size="40" maxlength="255" value="$$fields{userLogin}" type="text">
</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
사용자 암호
</td>

<td class="pme-value-0">

<input class="pme-input-0"
 name="userPassword" size="32" maxlength="32" value="" type="password">
</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
암호 확인
</td>

<td class="pme-value-0">

<input class="pme-input-0"
 name="confirmPassword" size="32" maxlength="32" value="" type="password">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
UserEmail
</td>

<td class="pme-value-1">

<input id="muserEmail" class="required email"
 name="userEmail" size="40" maxlength="255" value="$$fields{userEmail}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
숫자/집 이름
</td>

<td class="pme-value-1">

<input class="required"
 name="userNameornumber" size="30" maxlength="30" value="$$fields{userNameornumber}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
거리 이름
</td>

<td class="pme-value-1">

<input class="required"
 name="userStreet" size="40" maxlength="40" value="$$fields{userStreet}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
마을
</td>

<td class="pme-value-1">

<input class="required"
 name="userTown" size="40" maxlength="40" value="$$fields{userTown}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
카운티/주
</td>

<td class="pme-value-1">

<input class="required"
 name="userArea" size="40" maxlength="40" value="$$fields{userArea}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
우편 번호
</td>

<td class="pme-value-1">

<input class="required"
 name="userPostcode" size="10" maxlength="10" value="$$fieldsref{userPostcode}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
휴대 전화
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userMobile" size="15" maxlength="15" value="$$fields{userMobile}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
휴대 전화 거래에 대 한 핀
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userPin" size="6" maxlength="6" value="" type="password">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
휴대 전화 거래에 대 한 Pin 확인
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="cuserPin" size="6" maxlength="6" value="" type="password">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
SMS 지불 영수증
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userSmsreceipt" value="$$fieldsref{userSmsreceipt}" type="checkbox">
</td>

</tr>

<tr class="pme-row-1">

<td title="이것은 암호화 된 트랜잭션 위한 공개 키 id" class="pme-key-0">
공개 키 Id
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userPublickeyid" size="20" maxlength="20" value="$$fieldsref{userPublickeyid}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
언어
</td>

<td class="pme-value-1">

<select name="userLang">

<option value="de">
독일어
</option>

<option selected value="en">
영어
</option>

<option value="fr">
프랜
</option>

</select>

</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
사용자 이름
</td>

<td class="pme-value-0">

<input class="required"
 name="userName" size="40" maxlength="255" value="$$fields{userName}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
휴일 또는 액티브
</td>

<td class="pme-value-1">

<select name="userStatus">

<option selected value="active">
활성
</option>

<option value="holiday">
휴일에
</option>

</select>

</td>

</tr>

</tbody>

</table>

<hr class="pme-hr">

<table class="pme-navigation">

<tbody>

<tr class="pme-navigation">

<td class="pme-buttons">

<input class="pme-save" name="saveadd"
 value="저장" type="submit">
&nbsp;
<input class="pme-cancel"
 name="cancel" value="취소"  type="reset">

</td>

</tr>

</tbody>

</table>

</form>
