multiregistry=no
smslocal=1
os=linux
linesperpage=15
rsspath=/home/myuser/cclite/var/www/cclite/public_html/out/rss
smsout=/home/myuser/cclite/var/www/cclite/public_html/out/sms
systemmailreplyaddress=cclite.noreply@cclite.private.trunk
usetags=yes
chartdir=/home/myuser/cclite/var/www/cclite/public_html/images/charts
hash_type=sha1
initialpaymentstatus=waiting
dbpassword=changeme
net_smtp=1
installer2= Registry
distribution=ubuntu
systemmailpassword=not-used
literalspath=/home/myuser/cclite/usr/share/cclite/literals
htmlpath=/home/myuser/cclite/var/www/cclite/public_html
initialuserstatus=unconfirmed
loggerconfig=/home/myuser/cclite/usr/share/cclite/config/logging.cf
templates=/home/myuser/cclite/usr/share/cclite/templates/html
smtp=cclite.private.trunk
printdir=/home/myuser/cclite/var/www/cclite/public_html/out/printed
cpanelprefix=myprefix
domain=mydomain.com
dbuser=mydbuser
userss=no
home=http://mydomain.com/cgi-bin/cclite.cgi
language=en
supportmail=support@mydomain.com
csvpath=/var/cclite/batch
version=0.8.1
csvout=/home/myuser/cclite/var/www/cclite/public_html/out/csv
systemmailaddress=cclite@mydomain.com
usedecimals=yes
mailpath=/var/spool/mail
action=updateconfig2
smspath=/var/cclite/sms/inbox
package_type=3
debugpath=/var/cclite/log/cclite.log

