# example setup for regression, some values can be overriden by command
# line options. change this file and move to test.cf in the same directory as the test script
#
type=trunk
language=English
scope=all
snapshots=no
sleep=5
logg=yes
registry1=dalston
registry2=limehouse
dbuser=your-dbuser
dbpassword=your-password
# use instead of dbuser
cpaneldbuser=your-cpanel-dbuser
cpaneldbpassword=your-cpane-dbpassword
#
usedecimals=yes
cpanelprefix=prefix
trunkurl=http://cclite.example.trunk/
deburl=http://cclite.example.deb/
xpurl=http://cclite.xp.server/
fedoraurl=http://cclite.example.org/
cpanelurl=http://cclite.example.cpanel/
image_path=/home/user/cclite-support-files/testimages
image_key=aaa
admemail=admin\@yourdomain.tld
admpass=mailpassword 
postemail=post\@yourdomain.tld
postpass=mailpassword2 
# selenium browserparameters
browser=*firefox /usr/lib/firefox-10.0.2/firefox
port=4444
host=localhost
# iterations for volume and random
randomcount=1000
volumecount=30

