
<table class="pme-main" summary="om_users">

<tbody class="stripy">

<tr class="pme-row-1">

<td class="pme-key-title">
UserLogin
</td>

<!-- duserLogin được sử dụng để phân biệt với userLogin, xử lý nói chung -->

<td class="pme-value-0">
$$fields{duserLogin}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
UserEmail
</td>

<td class="pme-value-1">
$$fields{userEmail}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
Đường phố
</td>

<td class="pme-value-1">
$$fields{userNameornumber} $$fields{userStreet}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
Thành phố/quận
</td>

<td class="pme-value-1">
$$fields{userTown} $$fields{userArea}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
Điện thoại di động
</td>

<td class="pme-value-1">
$$fields{userMobile}
</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-title">
Tên
</td>

<td class="pme-value-0">
$$fields{userName}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
Kỳ nghỉ hoặc đang hoạt động
</td>

<td class="pme-value-1">
$$fieldsref{userStatus}
</td>

</tr>

</tbody>

</table>
