
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!-- Thiết kế miễn phí CSS Templates&#xD;	http://www.freecsstemplates.org&#xD;	Phát hành miễn phí dưới một Creative Commons Attribution 2.5 License -->

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<title>
Cclite $$fieldsref{version} Người dùng
</title>

<meta name="keywords" content="" />


<meta name="description" content="" />


<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC finance currency" />


<meta name="author" content="hugh barnard" />

$$fieldsref{metarefresh}
<!-- stylesheets -->

<link href="/styles/default.css" rel="stylesheet" type="text/css" />


<!--<link type="text/css" href="/styles/cc.css" rel="stylesheet" />-->

<link rel="alternate" type="application/rss+xml" 
	title="$$fieldsref{registry} feed" href="/out/rss/$$fieldsref{registry}/$$fieldsref{language}/all.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<link rel="stylesheet" type="text/css" href="/javascript/jquery-autocomplete/jquery.autocomplete.css" />


<!-- DataTables sau này -->

<!--<link rel="stylesheet" type="text/css" href="/javascript/jquery-datatables/js/css/demo_page.css" />
        <link rel="stylesheet" type="text/css" href="/javascript/jquery-datatables/js/css/demo_table.css"/> -->

<!-- thư viện JavaScript, cần phải subsitute nén các phiên bản ở một số giai đoạn -->

<!-- jQuery mục -->

<script src="/javascript/jquery-1.3.2.js">
</script>

<script src="/javascript/jquery-validation-1.5.5.js">
</script>

<script src="/javascript/jquery-cookies.js">
</script>

<script type='text/javascript' src='/javascript/jquery-autocomplete/lib/jquery.ajaxQueue.js'>
</script>

<script type='text/javascript' src='/javascript/jquery-autocomplete/jquery.autocomplete.js'>
</script>

<script type='text/javascript' src='/javascript/jquery-tooltip/jquery.qtip-1.0.0-rc3.min.js'>
</script>

<script type='text/javascript' src='/javascript/jquery-autocomplete/lib/jquery.bgiframe.min.js'>
</script>

<!--<script type='text/javascript' src='/javascript/jquery-datatables/js/jquery.dataTables.js'></script>-->

<!-- những người khác không jquery -->

<script type='text/javascript' src='/javascript/jshashtable-2.1.js'>
</script>

<script src="/javascript/jquery-tagsuggest.js">
</script>

<script src="/javascript/json_parse.js" type="text/javascript">
</script>

<!-- vẽ đồ thị -->

<script  src="/javascript/flot/jquery.flot.js" type="text/javascript" >
</script>

<!-- specific, is cookies necessary now? -->

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script src="/javascript/cclite.js" type="text/javascript">
</script>

<!-- Đây là kịch bản mà bản ghi người dùng ra ngoài khi hệ thống được được đưa -->

<script type="text/javascript">
$$fieldsref{logout_script}
</script>

</head>

<body>

<!-- chuyển đổi này sẽ chuyển thành/tắt những thứ daáu thaäp phaân -->

<div id="usedecimals" class="hidden">
$$fieldsref{usedecimals}
</div>

<!-- tìm kiếm người dùng, ngành nghề, quảng cáo -->

<br/>


<div align="right">

<form style='display:inline;' class="searchform" action="/cgi-bin/cclite.cgi" method="post">

<input name="action" value="find" type="hidden">

<input class="search" onfocus="if(this.value == this.defaultValue) this.value = ''" value="search" name="search_string" id="search_string"  size="10" type="text">

<select id="search_type" class="small" name="search_type">

<option selected value='trade'>
Các giao dịch
</option>

<option value='user'>
Người dùng
</option>

<option value='ad'>
Quảng cáo
</option>

</select>

<input value="Đi" class="small" type="submit" title="Tìm các giao dịch, quảng cáo hoặc người dùng">

</form>

<!-- kết thúc của hộp tìm kiếm tự hoàn tất -->

<span id="status_message">
$$fieldsref{status_message}
</span>

<!-- Phiên bản công cụ chọn bằng 1 -->

<select id="language_value" class="small" onchange="change_language(this);" name="language">

<option value='en'>
Tiếng Anh
</option>

<option value='ar'>
Tiếng ả Rập
</option>

<option value='bn'>
Bengali [một phần]
</option>

<option value='zh'>
Trung Quốc
</option>

<option value='de'>
Deutsch
</option>

<option value='nl'>
Tiếng Hà Lan
</option>

<option value='fr'>
Francais
</option>

<option value='es'>
Espagnol
</option>

<option value='it'>
Italiano
</option>

<option value='el'>
Hy Lạp
</option>

<option value='ja'>
Tiếng Nhật
</option>

<option value='ko'>
Hàn Quốc
</option>

<option value='pt'>
Tiếng Bồ Đào Nha
</option>

<option value='ro'>
Romania
</option>

<option value='ru'>
Nga
</option>

<option value='th'>
Tiếng Thái
</option>

<option value='vi'>
Tiếng Việt
</option>

</select>

<!-- kết thúc phiên bản 1 chọn ngôn ngữ -->

<span id="logoninfo">
$$fieldsref{youare} $$fieldsref{atregistry}
<span >
<a title="Logout $$fieldsref{user}" href="/cgi-bin/cclite.cgi?action=logoff">

<span id="logoff">
</span>
</a>

</span>
</span>

</div>

<div id="outer">

<div id="header">

<h1>
<a href="/cgi-bin/cclite.cgi">
Cclite người dùng
</a>
</h1>

</div>

<div id="menu">

<ul>

<li class="first">
<a id="adminlinkhref" title="Chính quyền đơn" href="/cgi-bin/protected/ccadmin.cgi">

<span id="adminlink">
</span>

</a>
</li>

<li>

<a id="adminlinkhrefnt" title="chính quyền đơn trong thẻ mới" target="_blank" href="/cgi-bin/protected/ccadmin.cgi">

<span id="adminlinknewtab">
</span>

</a>

</li>

<li>
<a title="Chuyển tiền tệ hoặc giờ" href="/cgi-bin/cclite.cgi?action=template&amp;name=trades.html">
Thanh toán
</a>
</li>

<li>
<a  title="Quên Mật khẩu??" href="/cgi-bin/cclite.cgi?action=template&name=forgotpass.html">
Quên mật khẩu?
</a>

</li>

<li>
<a title="Thêm Openid" href="/cgi-bin/cclite.cgi?action=template&name=openid.html">
Thêm Openid
</a>

</li>

<li>
<a title="Danh sách Openids" href="/cgi-bin/cclite.cgi?action=showopenid">
Danh sách Openids
</a>

</li>

<li>
<a title="Tạo tài khoản mới" href="/cgi-bin/cclite.cgi?action=template&amp;name=newuser.html">
Trương mục mới
</a>

</li>

<li>
<a title="Sửa đổi chi tiết tài khoản của bạn" href="/cgi-bin/cclite.cgi?action=modifyuser">
Sửa đổi các tài khoản
</a>
</li>

<li>
<a title="Tách thanh toán cho hàng hóa hoặc dịch vụ" href="/cgi-bin/cclite.cgi?action=template&amp;name=splittrade.html">
Split thanh toán
</a>
</li>

<li>
<a title="Hiển thị các giao dịch của tôi" href="/cgi-bin/cclite.cgi?action=showtrans">
Các giao dịch
</a>
</li>

<li>
<a title="Hiển thị số dư của tôi" href="/cgi-bin/cclite.cgi?action=showbalvol">
Số dư
</a>
</li>

<li>
<a title="Hiển thị hàng hoá và dịch vụ thư mục" href="/cgi-bin/cclite.cgi?action=showyellowdir1&getdetail=1">
Hàng hóa/dịch vụ
</a>
</li>

<li>
<a title="Hiển thị các quảng cáo của tôi trong các hàng hoá và dịch vụ thư mục" href="/cgi-bin/cclite.cgi?action=showmyyellow">
Quảng cáo của tôi
</a>
</li>

<li>
<a title="Tạo một trang cho các hàng hóa và dịch vụ thư mục" href="/cgi-bin/cclite.cgi?action=template&name=yellowpages.html">
Ra quảng cáo
</a>
</li>

</ul>

</div>

<!-- từ khóa và thống kê người dùng cá nhân -->

<div id="content">

<div id="primaryContentContainer">

<div id="primaryContent">
!$$fieldsref{pagename}
</div>

</div>

<div valign="top" id="secondaryContent">

<!--<span class="news">$$fieldsref{latest_news}</span>	<br/>-->

<h3>
Thể loại quảng cáo
</h3>
$$fieldsref{righthandside}
<br/>

<br/>


<div id="userbalances" style="width:260px;height:150px;">
</div>

<div id="graphlabel">
</div>

</div>

<div class="clear">
<div id="footer">

<a href="/cgi-bin/cclite.cgi">
Trang chủ
</a>
|
<a href="#">
Liên hệ
</a>
<br />

Cclite 
</div>
</div>

</div>

</div>

</div>

</body>

</html>
