<table>
<tbody class="stripy">
<tr><td class="pme-key-title">من</td><td class="pme-key-1">$$fieldsref{tradeSource}</td></tr>
<tr><td class="pme-key-title">وصف</td><td class="pme-key-1">$$fieldsref{tradeوصف}</td></tr>
<tr><td class="pme-key-title">إلى</td><td class="pme-key-1">$$fieldsref{tradeDestination}</td></tr>
<tr><td class="pme-key-title">العنوان</td><td class="pme-key-1">$$fieldsref{tradeالعنوان}</td></tr>
<tr><td class="pme-key-title">نوع</td><td class="pme-key-1">$$fieldsref{tradeنوع}</td></tr>
<tr><td class="pme-key-title">تاريخ</td><td class="pme-key-1">$$fieldsref{tradeتاريخ}</td></tr>
<tr><td class="pme-key-title">البند</td><td class="pme-key-1">$$fieldsref{tradeالبند}</td></tr>
<tr><td class="pme-key-title">الطابع الزمني</td><td class="pme-key-1">$$fieldsref{tradeStamp}</td></tr>
<tr><td class="pme-key-title">للتسجيل</td><td class="pme-key-1">$$fieldsref{tradeMirror}</td></tr>
<tr><td class="pme-key-title">مركز</td><td class="pme-key-1">$$fieldsref{tradeمركز}</td></tr>
<tr><td class="pme-key-title">العملة</td><td class="pme-key-1">$$fieldsref{tradeالعملة}</td></tr>
<tr><td class="pme-key-title">المبلغ</td><td class="pme-key-1">$$fieldsref{tradeالمبلغ}</td></tr>
<tr><td class="pme-key-title">مرجع التجارة</td><td class="pme-key-1">$$fieldsref{tradeHash}</td></tr>
</tbody>
</table>
