<table class="pme-main" summary="om_users">
    <tbody class="stripy">
      <tr class="pme-row-1">
        <td class="pme-key-title">أوسيرلوجين</td>
        <!-- duserLogin is used to distinguish from userLogin, processed generally -->
        <td class="pme-value-0"> $$fields{duserLogin}</td>
      </tr>
      <tr class="pme-row-1">
        <td class="pme-key-title">Userالبريد الإلكتروني</td>
        <td class="pme-value-1">$$fields{userالبريد الإلكتروني}</td>
      </tr>

<tr class="pme-row-1">
              <td class="pme-key-title">شارع</td>
              <td class="pme-value-1">$$fields{userاسمornumber} $$fields{userشارع}
</td>
            </tr>

<tr class="pme-row-1">
              <td class="pme-key-title">مدينة/County</td>
              <td class="pme-value-1">$$fields{userمدينة} $$fields{userArea}
</td>
            </tr>

            <tr class="pme-row-1">
              <td class="pme-key-title">الهاتف المحمول</td>
              <td class="pme-value-1"> $$fields{userMobile} </td>
            </tr>
      <tr class="pme-row-0">
        <td class="pme-key-title">اسم</td>
        <td class="pme-value-0">$$fields{userاسم}</td>
      </tr>

<tr class="pme-row-1">
        <td class="pme-key-title">عطلة أو النشطة</td>
        <td class="pme-value-1">$$fieldsref{userمركز} 
</td>
      </tr>
 </tbody>
  </table>

