
<a href="mailto:$$fieldsref{userالبريد الإلكتروني}"> $$fieldsref{type} by $$fieldsref{fromuserid}</a>
<table>
<tbody class="stripy">
<tr><td class="pme-key-title">من</td><td class="pme-key-1"></td></tr>

<tr><td class="pme-key-title">تاريخ Added</td><td class="pme-key-1">	$$fieldsref{dt}</td></tr>
<tr><td class="pme-key-title">مركز</td><td class="pme-key-1">		$$fieldsref{userمركز}</td></tr>
	
<tr><td class="pme-key-title">الفئة</td><td class="pme-key-1">	$$fieldsref{keywords}</td></tr>

<tr><td class="pme-key-title">دفع</td><td class="pme-key-1">		$$fieldsref{tradeالعملة}s</td></tr>

<tr><td class="pme-key-title">العنوان</td><td class="pme-key-1">		$$fieldsref{subject}</td></tr>

<tr><td class="pme-key-title">وصف</td><td class="pme-key-1">	$$fieldsref{description}</td></tr>

<tr><td class="pme-key-title">العلامات</td><td class="pme-key-1">	$$fieldsref{yellowtags}</td></tr>
	
<tr><td class="pme-key-title">دفع في نسخة 100%</td><td class="pme-key-1">	$$fieldsref{truelets}</td></tr>
<tr><td class="pme-key-title">السعر</td><td class="pme-key-1">		$$fieldsref{price} $$fieldsref{tradeالعملة}s per $$fieldsref{unit}</td></tr>
</tbody>
</table>
<br/>
<hr/>
<h4>Recent Trading and أرصدة for $$fieldsref{fromuserid}</h4>
$$fieldsref{balanceandvolume}

