
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC" />


<meta name="author" content="hugh barnard" />


<link type="text/css" href="/styles/default.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="وصلة ككليتي التجريبية" href="/html/en/rdf/chelsea.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<title>
ككليتي 0.9.0 للصبر
</title>

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script type="text/javascript">
الدالة stripe() {&#xD;     ودعانا ('tbody', 'مخطط', 'tr', 'الغريب، حتى')؛&#xD;}
</script>

</head>

<body>

<div id="page" align="center">

<div id="toppage" align="center">

</div>

<div id="header" align="center">

<h1>
<a title="ككليتي للصبر" href="/">
ككليتي التشغيل السريع
</a>
</h1>

</div>

</div>

<div id="content" align="center">

<div id="menu" align="right">

<div id="linksmenu" align="center">

<a title="المثبت" href="/cgi-bin/protected/ccinstall.cgi">
ويب المثبت
</a>
|
<a  title="تسجيل دخول المستخدم" href="/cgi-bin/cclite.cgi">
تسجيل دخول المستخدم
</a>
|
<a title="Admin Menu (must be logged on first)" href="/cgi-bin/protected/ccadmin.cgi">
الإدارة
</a>
|
</div>

</div>

<div id="contenttext">

<div style="margin:100px;}padding:12px;" align="justify">

<ol>

<li>
استخدام
<a title="تحليل التثبيت في المثبت" href="/cgi-bin/protected/ccinstall.cgi">
تحليل التثبيت
</a>
لتحليل الحالة الراهنة للتثبيت
</li>

<li>
استخدام
<a href="/cgi-bin/protected/ccinstall.cgi">
المثبت
</a>
لإعداد تكوين القيم،
<strong>
قاعدة بيانات المستخدم وكلمة المرور
</strong>
</li>

<li>
<a title="إنشاء سجل" href="/cgi-bin/protected/ccinstall.cgi?action=template&name=registry.html">
إنشاء سجل
</a>
(trading group) for your system, for example,
<span class="system">
دالستون
</span>
,
<span class="system">
نيوينغتون
</span>
,
<span class="system">
إزلينغتون
</span>
تسجيل قاعدة بيانات الخلية واحدة...
</li>

<li>
<a title="تسجيل الدخول كمدير" href="/cgi-bin/cclite.cgi">
تسجيل الدخول كمدير
</a>
تسجيل الدخول إلى السجل الخاص بك
<span class="system">
مدير
</span>
مع كلمة المرور
<span class="system">
مدير
</span>
</li>

<li>
<a title="قم بإعداد العملة" href="/cgi-bin/protected/ccadmin.cgi?action=template&name=currency.html">
(when Manager) Set up a currency or two
</a>
</li>

<li>

<a title="إنشاء المستخدمين أو السماح لهم بتعال" href="/cgi-bin/cclite.cgi?action=template&name=newuser.html">
إنشاء المستخدمين أو السماح لهم تأتي
</a>
إنشاء المستخدمين والسماح لهم بالتجارة.
</li>

<li>

<b>
تذكر أن تقوم بإزالة أو تعطيل المثبت وتغيير كلمات المرور سيساككونت والمشرف. إزالة هذه الصفحة أيضا!
</b>
</li>

</ol>

</div>

<div class="panel" align="justify">

<span class="bodytext">

<div style="margin:50px;}padding:12px;" align="justify">
وظائف المجموعة مثل كتابة rss، قراءة الإدخال المعاملة دفعة والرسوم البيانية الآن على صفحة الإدارة لمدير البرنامج. أنها يمكن أن&#xD;يمكن تشغيل مباشرة من شبكة الإنترنت دون استخدام كرون. لكرون، بحاجة إلى بعض التعديلات في البرامج النصية.
</div>

</span>

</div>

</div>

</div>

<div id="footer" class="smallgraytext" align="center">

<a href="http://groups.google.co.uk/group/cclite">
مساعدة مع ككليتي
</a>
<br />

ككليتي 
<br />


</div>

</div>

</body>

</html>
