Source: cclite
Section: unknown
Version: 0.9.3
Priority: extra
Maintainer: Hugh Barnard <hugh.barnard@gmail.com>
Homepage: http://www.hughbarnard.org/content/alternative-currency-software
Pre-Depends: perl,mysql-server
Package: cclite
Architecture: all
Depends: apache2,libdbi-perl,libnet-perl
Recommends: libmail-gnupg-perl, gammu, libxml-rss-perl, libxml-simple-perl
Description: Alternative currency management software
 This package provides web based server software for LETS, mutual social credit
 and other possible implementations of alternative and complementary currencies.
 .
 It provides various interfaces, OS-Commerce, Elgg (rough), Drupal (rough), REST, SOAP, batch, email and Mobile Phone
 with Gammu for current transfer. It provides multiple currency and interserver communication.
 .
 It uses Perl and various CPAN modules, Apache, Cron, MySql server. The basic functions should now work with Perl core modules.
 .



