
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC" />


<meta name="author" content="hugh barnard" />


<link type="text/css" href="/styles/default.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="Enlace cclite experimental" href="/html/en/rdf/chelsea.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<title>
Cclite 0.9.0 para los impacientes
</title>

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script type="text/javascript">
función stripe() {}&#xD;     striper ('tbody', 'rayas', 'tr', 'raro, incluso');&#xD;}
</script>

</head>

<body>

<div id="page" align="center">

<div id="toppage" align="center">

</div>

<div id="header" align="center">

<h1>
<a title="Cclite para los impacientes" href="/">
Cclite Quickstart
</a>
</h1>

</div>

</div>

<div id="content" align="center">

<div id="menu" align="right">

<div id="linksmenu" align="center">

<a title="instalador" href="/cgi-bin/protected/ccinstall.cgi">
Instalador Web
</a>
|
<a  title="Inicio de sesión de usuario" href="/cgi-bin/cclite.cgi">
Inicio de sesión de usuario
</a>
|
<a title="Admin Menu (must be logged on first)" href="/cgi-bin/protected/ccadmin.cgi">
Administración
</a>
|
</div>

</div>

<div id="contenttext">

<div style="margin:100px;}padding:12px;" align="justify">

<ol>

<li>
Uso
<a title="Análisis de la instalación en el instalador" href="/cgi-bin/protected/ccinstall.cgi">
el análisis de instalación
</a>
para analizar el estado actual de la instalación
</li>

<li>
Uso
<a href="/cgi-bin/protected/ccinstall.cgi">
el instalador
</a>
para configurar los valores de configuración,
<strong>
base de datos usuario y contraseña
</strong>
</li>

<li>
<a title="Crear un registro" href="/cgi-bin/protected/ccinstall.cgi?action=template&name=registry.html">
Crear un registro
</a>
(trading group) for your system, for example,
<span class="system">
Dalston
</span>
,
<span class="system">
Newington
</span>
,
<span class="system">
Islington
</span>
Un registro es una base de datos mysql...
</li>

<li>
<a title="Iniciar sesión como administrador" href="/cgi-bin/cclite.cgi">
Iniciar sesión como administrador
</a>
Inicie sesión en su registro como
<span class="system">
Gerente
</span>
con contraseña
<span class="system">
Gerente
</span>
</li>

<li>
<a title="Configurar una moneda" href="/cgi-bin/protected/ccadmin.cgi?action=template&name=currency.html">
(when Manager) Set up a currency or two
</a>
</li>

<li>

<a title="Crear usuarios o dejar que ellos ven" href="/cgi-bin/cclite.cgi?action=template&name=newuser.html">
Crear usuarios o que vengan
</a>
Crear usuarios y deje el comercio.
</li>

<li>

<b>
Recuerde quitar o deshabilitar al instalador y cambiar las contraseñas de administrador y sysaccount. Quitar esta página también!
</b>
</li>

</ol>

</div>

<div class="panel" align="justify">

<span class="bodytext">

<div style="margin:50px;}padding:12px;" align="justify">
Los trabajos por lotes como escritura rss, leer entrada de transacciones por lotes y gráficas son ahora en la página de administración para el administrador. Pueden&#xD;ejecutar directamente desde la web sin usar cron. Por cron, unas pequeñas modificaciones deben hacerse en las secuencias de comandos.
</div>

</span>

</div>

</div>

</div>

<div id="footer" class="smallgraytext" align="center">

<a href="http://groups.google.co.uk/group/cclite">
Ayuda con Cclite
</a>
<br />

Cclite 
<br />


</div>

</div>

</body>

</html>
