
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!-- Diseño por Free CSS Templates&#xD;	http://www.freecsstemplates.org&#xD;	Despachadas a libre bajo una licencia Creative Commons Attribution 2.5 -->

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<title>
Cclite $$fieldsref{version} Usuario
</title>

<meta name="keywords" content="" />


<meta name="description" content="" />


<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC finance currency" />


<meta name="author" content="hugh barnard" />

$$fieldsref{metarefresh}
<!-- hojas de estilo -->

<link href="/styles/default.css" rel="stylesheet" type="text/css" />


<!--<link type="text/css" href="/styles/cc.css" rel="stylesheet" />-->

<link rel="alternate" type="application/rss+xml" 
	title="$$fieldsref{registry} feed" href="/out/rss/$$fieldsref{registry}/$$fieldsref{language}/all.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<link rel="stylesheet" type="text/css" href="/javascript/jquery-autocomplete/jquery.autocomplete.css" />


<!-- más tarde DataTables -->

<!--<link rel="stylesheet" type="text/css" href="/javascript/jquery-datatables/js/css/demo_page.css" />
        <link rel="stylesheet" type="text/css" href="/javascript/jquery-datatables/js/css/demo_table.css"/> -->

<!-- librerías JavaScript, necesitan versiones de sustitución comprimido en algún momento -->

<!-- elementos de jQuery -->

<script src="/javascript/jquery-1.3.2.js">
</script>

<script src="/javascript/jquery-validation-1.5.5.js">
</script>

<script src="/javascript/jquery-cookies.js">
</script>

<script type='text/javascript' src='/javascript/jquery-autocomplete/lib/jquery.ajaxQueue.js'>
</script>

<script type='text/javascript' src='/javascript/jquery-autocomplete/jquery.autocomplete.js'>
</script>

<script type='text/javascript' src='/javascript/jquery-tooltip/jquery.qtip-1.0.0-rc3.min.js'>
</script>

<script type='text/javascript' src='/javascript/jquery-autocomplete/lib/jquery.bgiframe.min.js'>
</script>

<!--<script type='text/javascript' src='/javascript/jquery-datatables/js/jquery.dataTables.js'></script>-->

<!-- otros no jquery -->

<script type='text/javascript' src='/javascript/jshashtable-2.1.js'>
</script>

<script src="/javascript/jquery-tagsuggest.js">
</script>

<script src="/javascript/json_parse.js" type="text/javascript">
</script>

<!-- gráficas -->

<script  src="/javascript/flot/jquery.flot.js" type="text/javascript" >
</script>

<!-- specific, is cookies necessary now? -->

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script src="/javascript/cclite.js" charset="utf-8" type="text/javascript">
</script>

<!-- Este es el script que desconecta los usuarios cuando el sistema está siendo derribado -->

<script type="text/javascript">
$$fieldsref{logout_script}
</script>

</head>

<body>

<!-- Este interruptor enciende/apaga las cosas de punto decimal -->

<div id="usedecimals" class="hidden">
$$fieldsref{usedecimals}
</div>

<!-- Buscar usuarios, oficios, anuncios -->

<br/>


<div align="right">

<form style='display:inline;' class="searchform" action="/cgi-bin/cclite.cgi" method="post">

<input name="action" value="find" type="hidden">

<input class="search" onfocus="if(this.value == this.defaultValue) this.value = ''" value="search" name="search_string" id="search_string"  size="10" type="text">

<select id="search_type" class="small" name="search_type">

<option selected value='trade'>
Transacciones
</option>

<option value='user'>
Usuarios
</option>

<option value='ad'>
Anuncios
</option>

</select>

<input value="Go" class="small" type="submit" title="Buscar oficios, avisos o usuarios">

</form>

<!-- final del cuadro de búsqueda de Autocompletar -->

<span id="status_message">
$$fieldsref{status_message}
</span>

<!-- versión del selector de idioma 1 -->

<select id="language_value" class="small" onchange="change_language(this);" name="language">

<!--	<option value='en'>English</option>
					<option value='ar'>Arabic</option>
					<option value='bn'>Bengali [partial]</option>
					<option value='zh'>Chinese</option>
					<option value='de'>Deutsch</option>
					<option value='nl'>Dutch</option>
					<option value='fr'>Francais</option>
					<option value='es'>Espagnol</option>
					<option value='it'>Italiano</option>
					<option value='el'>Greek</option>
					<option value='ja'>Japanese</option>
					<option value='ko'>Korean</option>
					<option value='pt'>Portugese</option>
					<option value='ro'>Romanian</option>
					<option value='ru'>Russian</option>
					<option value='th'>Thai</option>
					<option value='vi'>Vietnamese</option> -->

</select>

<!-- final de la versión 1 de selector de idioma -->

<span id="logoninfo">
$$fieldsref{youare} $$fieldsref{atregistry}
<span >
<a title="Logout $$fieldsref{user}" href="/cgi-bin/cclite.cgi?action=logoff">

<span id="logoff">
</span>
</a>

</span>
</span>

</div>

<div id="outer">

<div id="header">

<h1>
<a href="/cgi-bin/cclite.cgi">
Usuario Cclite
</a>
</h1>

</div>

<div id="menu">

<span class="news">
$$fieldsref{latest_news}
</span>

<ul>

<li class="first">
<a id="adminlinkhref" title="Menú de administración" href="/cgi-bin/protected/ccadmin.cgi">

<span id="adminlink">
</span>

</a>
</li>

<li>

<a id="adminlinkhrefnt" title="menú de administración en una nueva pestaña" target="_blank" href="/cgi-bin/protected/ccadmin.cgi">

<span id="adminlinknewtab">
</span>

</a>

</li>

<li>
<a title="Transferencia de moneda u horas" href="/cgi-bin/cclite.cgi?action=template&amp;name=trades.html">
Pago
</a>
</li>

<li>
<a  title="¿Olvidó su contraseña??" href="/cgi-bin/cclite.cgi?action=template&name=forgotpass.html">
¿Ha olvidado la contraseña?
</a>

</li>

<li>
<a title="Añadir Openid" href="/cgi-bin/cclite.cgi?action=template&name=openid.html">
Añadir Openid
</a>

</li>

<li>
<a title="OpenID de lista" href="/cgi-bin/cclite.cgi?action=showopenid">
OpenID de lista
</a>

</li>

<li>
<a title="Crear una cuenta nueva" href="/cgi-bin/cclite.cgi?action=template&amp;name=newuser.html">
Nueva cuenta
</a>

</li>

<li>
<a title="Modificar datos de tu cuenta" href="/cgi-bin/cclite.cgi?action=modifyuser">
Modificar cuenta
</a>
</li>

<li>
<a title="Dividir el pago de bienes o servicios" href="/cgi-bin/cclite.cgi?action=template&amp;name=splittrade.html">
Pago de Split
</a>
</li>

<li>
<a title="Mostrar mis transacciones" href="/cgi-bin/cclite.cgi?action=showtrans">
Transacciones
</a>
</li>

<li>
<a title="Mostrar mis saldos" href="/cgi-bin/cclite.cgi?action=showbalvol">
Saldos
</a>
</li>

<li>
<a title="Mostrar los productos y directorio de servicios" href="/cgi-bin/cclite.cgi?action=showyellowdir1&getdetail=1">
Productos y servicios
</a>
</li>

<li>
<a title="Mostrar mis anuncios en el directorio de servicios y bienes" href="/cgi-bin/cclite.cgi?action=showmyyellow">
Mis anuncios
</a>
</li>

<li>
<a title="Crear una página para los bienes y directorio de servicios" href="/cgi-bin/cclite.cgi?action=template&name=yellowpages.html">
Lugar Ad
</a>
</li>

</ul>

</div>

<!-- nube de etiquetas y estadísticas de usuario individual -->

<div id="content">

<div id="primaryContentContainer">

<div id="primaryContent">
!$$fieldsref{pagename}
</div>

</div>

<div valign="top" id="secondaryContent">

<h3>
Categorías de anuncios
</h3>
$$fieldsref{righthandside}
<br/>

<br/>


<div id="userbalances" style="width:250px;height:150px;">
</div>

<div id="graphlabel">
</div>

</div>

<div class="clear">
<div id="footer">

<a href="/cgi-bin/cclite.cgi">
Home
</a>
|
<a href="#">
Póngase en contacto con nosotros
</a>
<br />

Cclite 
</div>
</div>

</div>

</div>

</div>

</body>

</html>
