
<form class="pme-form" id="form" method="post" action="/cgi-bin/cclite.cgi" name="modifyyellowpages">

<!-- modifyyellowpage.html plantilla para modificar páginas amarillas -->

<input name="subaction" value="om_yellowpages" type="hidden">

<input name="action" value="update" type="hidden">

<input name="id" value="$$fieldsref{id}" type="hidden">

<table class="pme-main" summary="om_yellowpages">

<tbody class="stripy">

<tr class="pme-row-0">

<td class="pme-key-0">
Fromuserid
</td>

<td class="pme-value-0">

<input class="grey" name="fromuserid" size="11" readonly="readonly" maxlength="11" value="$$fieldsref{fromuserid}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
Tipo
</td>

<td class="pme-value-1">

<select class="required" name="type">

<option value="offered" selected="selected">
Oferta
</option>

<option value="wanted">
Quería
</option>

<option value="other">
Otros
</option>

</select>

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
Clase mayor
</td>

<td class="pme-value-1">

<select class="required" name="majorclass">

<option value="service" selected="selected">
Servicio
</option>

<option value="goods">
Mercancías
</option>

<option value="other">
Otros
</option>

</select>

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
Clasificación
</td>

<td class="pme-value-1">
$$fieldsref{selectclassification}
</td>

<input type="hidden" name="r_classification" value="Need a classification for the item or service please">

</tr>

<tr>

<td class="pme-key-1">
Etiquetas
</td>

<td class="pme-value-1">

<input id="yellowtags" name="yellowtags" size="30" maxlength="60" value="$$fieldsref{yellowtags}">
</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
Asunto
</td>

<td class="pme-value-0">

<input class="required" value="$$fieldsref{subject}" name="subject" size="30" maxlength="30" value="" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
Descripción
</td>

<td class="pme-value-1">

<textarea class="required" name="description" rows="5" columns="50">
$$fieldsref{description}
</textarea>

</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
Precio
</td>

<td class="pme-value-0">

<input class="required" name="price" id="price" onChange="validatedecimals(this,this.value);"  size="10" maxlength="10" value="$$fieldsref{price}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
Moneda
</td>

<td class="pme-value-1">
$$fieldsref{selectcurrency}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
Por unidad (solo servicios)
</td>

<td class="pme-value-1">

<select class="pme-input-1" name="unit">

<option value="" >
</option>

<option value="hour" >
por hora
</option>

<option value="day" >
por día
</option>

<option value="week" >
por semana
</option>

<option value="month" >
por mes
</option>

</select>

</td>

</tr>

</tbody>

<tr class="pme-row-1">

<td class="pme-key-1">
¿Pago en moneda alternativa?
</td>

<td class="pme-value-1">

<select class="required" name="truelets">

<option value="yes" >
Sí
</option>

<option value="no">
No
</option>

</select>

</td>

</tr>

</tbody>
</table>

<hr class="pme-hr">

<table class="pme-navigation">

<tbody>
<tr class="pme-navigation">

<td class="pme-buttons">

<input class="pme-save"
 name="saveadd" value="Modificar" type="submit">
&nbsp;
<input class="pme-cancel"
 name="cancel" value="Claro" type="reset">

</td>

</tr>
</tbody>
</table>

</form>

</body>
</html>
