<table>
 <tbody class="stripy"> 
     <form class="pme-form" id="form" action="/cgi-bin/cclite.cgi" method="post"><input
 name="fromregistry" value="$$fieldsref{registry}" type="hidden"> <input
 name="action" value="splittransaction" type="hidden"> <input
 name="subaction" value="om_trades" type="hidden">

            <tr>
              <td class="pme-key-1">Fecha</td>
              <td class="pme-value-1"> <input class="grey"
 name="tradeDate" size="11"  readonly="readonly" value="$$fieldsref{date}"
 type="text"></td>
            </tr>
            <tr>
              <td class="pme-key-0">De la Cuenta<br>
              </td>
              <td class="pme-value-1"> <input class="grey"
 name="tradeSource" size="11" readonly="readonly" value="$$fieldsref{userLogin}" type="text">
 </td>
            </tr>
            <tr>
              <td class="pme-key-0">A la Cuenta<br>
              </td>
              <td class="pme-value-1">

<!--

 if you don't want autosuggest
 decomment this and put the lines below
 upto </script> into comments <input class="pme-input-1" name="tradeDestination" size="11" maxlength="11"  type="text"> 

-->

<input type="text" class="required" name="tradeDestination" id="tradeDestination" autocomplete="off"/>
<div  class="autocomplete" id="suggestionBox" ></div>

<script type="text/javascript" language="javascript" charset="utf-8">
		// <![CDATA[
  var myAutoCompleter = new Ajax.Autocompleter('tradeDestination', 'suggestionBox', '/cgi-bin/ccsuggest.cgi', {});
		// ]]>
</script>



<span class="pme-key-0">Red de Intercambio (Registry)</span> $$fieldsref{selectpartners}

</td>
            </tr>
            <tr>
              <td class="pme-key-0">Moneda</td>
              <td nowrap class="pme-value-0"> $$fieldsref{selectcurrency}

<span class="pme-key-0"> Cantidad </span>
<input class="required" id="tradeAmount" onChange="validatedecimals(this,this.value);" name="tradeAmount" size="11" maxlength="11" type="text">


</td>
            </tr>
            <tr>
              <td class="pme-key-0">
<tr class="pme-row-0">
              <td class="pme-key-0">Moneda Secundaria</td>
              <td class="pme-value-0"> $$fieldsref{sselectcurrency}

<span class="pme-key-0">Cantidad Secundaria
<input class="required" name="stradeAmount" id="stradeAmount"  onChange="validatedecimals(this,this.value);"  size="11" maxlength="11" type="text">

</td>
            </tr>



</td>
              <td class="pme-value-1"> 
</td>
            </tr>

<tr class="pme-row-0">
              <td class="pme-key-0">Tipo de Ítem<br>
              </td>
              <td class="pme-value-0">
 
<select class="required" name="tradeItem">
 <option value="goods">Bienes</option>
 <option value="services">Servicios</option>
 <option value="other">Otros</option>
</select>



<span class="pme-key-0"> Título del Ítem</span> <input class="required"
 name="tradeTitle" size="60" maxlength="255" value="" type="text">

</td>
            </tr>
            <tr class="pme-row-1">
              <td class="pme-key-1">Descripción del Ítem</td>
              <td class="pme-value-1"> <textarea class="required"
 name="tradeDescription" rows="3" cols="60"></textarea></td>
            </tr>

        <table class="pme-navigation">
            <tr class="pme-navigation">
              <td class="pme-buttons"> <input class="pme-save"
 name="saveadd"  value="Make Transfer" type="submit">&nbsp;<input class="pme-cancel"
 name="cancel" value="Clear" type="reset"> </td>
            </tr>
      </form>
   </table>
 </tbody>
</table>
