       <table> 
       <tbody class="stripy">
     <form class="pme-form" id="form" action="/cgi-bin/cclite.cgi" method="post"><input
 name="fromregistry" value="$$fieldsref{registry}" type="hidden"> <input
 name="action" value="transaction" type="hidden"> <input
 name="subaction" value="om_trades" type="hidden">
 <input id="tradeสถานะ" "name="tradeสถานะ" value="" type="hidden">
            <tr>
              <td class="pme-key-1">วันที่</td>
              <td class="pme-value-1"> <input class="grey"
 name="tradeวันที่" size="11"  readonly="readonly" value="$$fieldsref{date}"
 type="text"></td>
            </tr>
            <tr>
              <td class="pme-key-0">จากที่บัญชี<br>
              </td>
              <td class="pme-value-1">
                
<input class="required" type="text" name="tradeSource" id="tradeSource" autocomplete="off"/>

 </td>
            </tr>
            <tr>
              <td class="pme-key-0">ไปทั่ว Account<br>
              </td>
              <td class="pme-value-1">




<input class="required" type="text" name="tradeDestination" id="tradeDestination" autocomplete="off"/>


</td></tr><tr>
<td><span class="pme-key-0">รีจิสทรี</span></td><td> 
$$fieldsref{selectpartners}
</td>
            </tr>
            <tr>
              <td class="pme-key-0">สกุลเงิน</td>
              <td nowrap class="pme-value-0"> $$fieldsref{selectcurrency}
<span class="pme-key-0"> จำนวน </span>
<input class="required"
 name="tradeจำนวน" size="11" maxlength="11" type="text">

</td>
            </tr>
            <tr class="pme-row-1">
              <td class="pme-key-0"></td>
              <td class="pme-value-1"> 
</td>
            </tr>

<tr>
              <td class="pme-key-0">รายการ ประเภท<br>
              </td>
              <td class="pme-value-0">
 
<select id="tradeรายการ" class="required" onchange="on_trade_change('tradeรายการ');" name="tradeรายการ">
 <option value="goods">สินค้า</option>
 <option value="services">บริการs</option>
 <option value="cashout">เงินสดออกทั่ว</option>
 <option value="cashin">เงินสดใน</option>
 <option value="other">อื่น ๆ</option>
</select>

</td></tr><tr><td>
<span class="pme-key-0"> รายการ เริ่มหัวข้อโดย</span></td><td> <input class="required"
 name="tradeเริ่มหัวข้อโดย" size="50" maxlength="255" value="" type="text">
</td>
            </tr>
            <tr>
              <td class="pme-key-1">รายละเอียดสินค้า</td>
              <td class="pme-value-1"> <textarea class="required"
 name="tradeรายละเอียด" rows="3" cols="60"></textarea></td>
            </tr>
        <table class="pme-navigation">
            <tr class="pme-navigation">
              <td class="pme-buttons"> <input class="pme-save"
 name="saveadd" value="ทำให้การถ่ายโอน" type="submit">&nbsp;<input class="pme-cancel"
 name="cancel" value="Clear" type="reset"> </td>
            </tr>
  
      </form>
      </table>
 </tbody>
</table>
