<table class="pme-main" summary="om_users">
    <tbody class="stripy">
      <tr class="pme-row-1">
        <td class="pme-key-title">UserLogin</td>
        <!-- duserLogin is used to distinguish from userLogin, processed generally -->
        <td class="pme-value-0"> $$fields{duserLogin}</td>
      </tr>
      <tr class="pme-row-1">
        <td class="pme-key-title">Userอีเมล</td>
        <td class="pme-value-1">$$fields{userอีเมล}</td>
      </tr>

<tr class="pme-row-1">
              <td class="pme-key-title">ถนน</td>
              <td class="pme-value-1">$$fields{userชื่อornumber} $$fields{userถนน}
</td>
            </tr>

<tr class="pme-row-1">
              <td class="pme-key-title">เมือง/County</td>
              <td class="pme-value-1">$$fields{userเมือง} $$fields{userArea}
</td>
            </tr>

            <tr class="pme-row-1">
              <td class="pme-key-title">โทรศัพท์มือถือ</td>
              <td class="pme-value-1"> $$fields{userMobile} </td>
            </tr>
      <tr class="pme-row-0">
        <td class="pme-key-title">ชื่อ</td>
        <td class="pme-value-0">$$fields{userชื่อ}</td>
      </tr>

<tr class="pme-row-1">
        <td class="pme-key-title">วันหยุดหรือทำงานอยู่</td>
        <td class="pme-value-1">$$fieldsref{userสถานะ} 
</td>
      </tr>
 </tbody>
  </table>

