<table>
<tbody class="stripy">
<tr><td class="pme-key-title">จาก</td><td class="pme-key-1">$$fieldsref{tradeSource}</td></tr>
<tr><td class="pme-key-title">คำอธิบาย</td><td class="pme-key-1">$$fieldsref{tradeคำอธิบาย}</td></tr>
<tr><td class="pme-key-title">ถึง</td><td class="pme-key-1">$$fieldsref{tradeDestination}</td></tr>
<tr><td class="pme-key-title">ชื่อเรื่อง</td><td class="pme-key-1">$$fieldsref{tradeชื่อเรื่อง}</td></tr>
<tr><td class="pme-key-title">ชนิด</td><td class="pme-key-1">$$fieldsref{tradeชนิด}</td></tr>
<tr><td class="pme-key-title">วัน</td><td class="pme-key-1">$$fieldsref{tradeวัน}</td></tr>
<tr><td class="pme-key-title">สินค้า</td><td class="pme-key-1">$$fieldsref{tradeสินค้า}</td></tr>
<tr><td class="pme-key-title">ค่าการประทับเวลา</td><td class="pme-key-1">$$fieldsref{tradeStamp}</td></tr>
<tr><td class="pme-key-title">รีจิสทรี</td><td class="pme-key-1">$$fieldsref{tradeMirror}</td></tr>
<tr><td class="pme-key-title">สถานะ</td><td class="pme-key-1">$$fieldsref{tradeสถานะ}</td></tr>
<tr><td class="pme-key-title">สกุลเงิน</td><td class="pme-key-1">$$fieldsref{tradeสกุลเงิน}</td></tr>
<tr><td class="pme-key-title">ยอดเงิน</td><td class="pme-key-1">$$fieldsref{tradeยอดเงิน}</td></tr>
<tr><td class="pme-key-title">การอ้างอิงทางการค้า</td><td class="pme-key-1">$$fieldsref{tradeHash}</td></tr>
</tbody>
</table>
