<table>
<tbody class="stripy">
<tr><td class="pme-key-title">จากทั่ว</td><td class="pme-key-1">$$fieldsref{tradeSource}</td></tr>
<tr><td class="pme-key-title">รายละเอียด</td><td class="pme-key-1">$$fieldsref{tradeรายละเอียด}</td></tr>
<tr><td class="pme-key-title">ไปทั่ว</td><td class="pme-key-1">$$fieldsref{tradeDestination}</td></tr>
<tr><td class="pme-key-title">เริ่มหัวข้อโดย</td><td class="pme-key-1">$$fieldsref{tradeเริ่มหัวข้อโดย}</td></tr>
<tr><td class="pme-key-title">ประเภท</td><td class="pme-key-1">$$fieldsref{tradeประเภท}</td></tr>
<tr><td class="pme-key-title">วันที่</td><td class="pme-key-1">$$fieldsref{tradeวันที่}</td></tr>
<tr><td class="pme-key-title">รายการ</td><td class="pme-key-1">$$fieldsref{tradeรายการ}</td></tr>
<tr><td class="pme-key-title">ก\u200b\u200bารประทับเวลา</td><td class="pme-key-1">$$fieldsref{tradeStamp}</td></tr>
<tr><td class="pme-key-title">ไปทั่วรีจิสทรี</td><td class="pme-key-1">$$fieldsref{tradeMirror}</td></tr>
<tr><td class="pme-key-title">สถานะ</td><td class="pme-key-1">$$fieldsref{tradeสถานะ}</td></tr>
<tr><td class="pme-key-title">สกุลเงิน</td><td class="pme-key-1">$$fieldsref{tradeสกุลเงิน}</td></tr>
<tr><td class="pme-key-title">จำนวน</td><td class="pme-key-1">$$fieldsref{tradeจำนวน}</td></tr>
<tr><td class="pme-key-title">ก\u200b\u200bารค้าการอ้างอิง</td><td class="pme-key-1">$$fieldsref{tradeHash}</td></tr>
</tbody>
</table>
