
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC" />


<meta name="author" content="hugh barnard" />


<link type="text/css" href="/styles/default.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="Cclite ทดลองการเชื่อมโยง" href="/html/en/rdf/chelsea.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<title>
Cclite 0.9.0 สำหรับที่รัก
</title>

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script type="text/javascript">
{stripe() ฟังก์ชัน&#xD;     striper ('tbody', 'stripy', 'tr' 'คี่ แม้');&#xD;}
</script>

</head>

<body>

<div id="page" align="center">

<div id="toppage" align="center">

</div>

<div id="header" align="center">

<h1>
<a title="Cclite สำหรับที่รัก" href="/">
เริ่มด่วน Cclite
</a>
</h1>

</div>

</div>

<div id="content" align="center">

<div id="menu" align="right">

<div id="linksmenu" align="center">

<a title="โปรแกรมติดตั้ง" href="/cgi-bin/protected/ccinstall.cgi">
ติดตั้งเว็บ
</a>
|
<a  title="ผู้ใช้เข้าสู่ระบบ" href="/cgi-bin/cclite.cgi">
ผู้ใช้เข้าสู่ระบบ
</a>
|
<a title="Admin Menu (must be logged on first)" href="/cgi-bin/protected/ccadmin.cgi">
จัดการ
</a>
|
</div>

</div>

<div id="contenttext">

<div style="margin:100px;}padding:12px;" align="justify">

<ol>

<li>
ใช้
<a title="วิเคราะห์การติดตั้งในโปรแกรมติดตั้ง" href="/cgi-bin/protected/ccinstall.cgi">
การวิเคราะห์การติดตั้ง
</a>
การวิเคราะห์สถานะปัจจุบันของการติดตั้ง
</li>

<li>
ใช้
<a href="/cgi-bin/protected/ccinstall.cgi">
การติดตั้ง
</a>
การตั้งค่า
<strong>
ฐานข้อมูลผู้ใช้และรหัสผ่าน
</strong>
</li>

<li>
<a title="สร้างรีจิสทรีที่" href="/cgi-bin/protected/ccinstall.cgi?action=template&name=registry.html">
สร้างรีจิสทรีที่
</a>
(trading group) for your system, for example,
<span class="system">
dalston
</span>
,
<span class="system">
นิววิงตัน
</span>
,
<span class="system">
อิสลิงตั้น
</span>
รีจิสทรีที่มีฐานข้อมูล mysql หนึ่ง...
</li>

<li>
<a title="เข้าสู่ระบบเป็นผู้จัดการ" href="/cgi-bin/cclite.cgi">
เข้าสู่ระบบเป็นผู้จัดการ
</a>
เข้าสู่ระบบของรีจิสทรีเป็น
<span class="system">
ผู้จัดการ
</span>
ด้วยรหัสผ่าน
<span class="system">
ผู้จัดการ
</span>
</li>

<li>
<a title="ตั้งค่าสกุลเงิน" href="/cgi-bin/protected/ccadmin.cgi?action=template&name=currency.html">
(when Manager) Set up a currency or two
</a>
</li>

<li>

<a title="สร้างผู้ใช้ หรือปล่อยให้พวกเขามา" href="/cgi-bin/cclite.cgi?action=template&name=newuser.html">
สร้างผู้ใช้ หรือปล่อยให้พวกเขามา
</a>
สร้างผู้ใช้ และให้ค้า
</li>

<li>

<b>
อย่าลืมเอาออก หรือปิดใช้งานการติดตั้ง และเปลี่ยนแปลงรหัสผ่าน sysaccount และ admin เอาหน้านี้ยัง
</b>
</li>

</ol>

</div>

<div class="panel" align="justify">

<span class="bodytext">

<div style="margin:50px;}padding:12px;" align="justify">
ชุดงานเช่นเขียน rss อ่านชุดป้อนธุรกรรม และสร้างกราฟได้ทันทีบนหน้าการจัดการสำหรับผู้ดูแล พวกเขาสามารถ&#xD;จะทำงานตรงจากเว็บได้โดยไม่ต้องใช้ cron สำหรับ cron ปรับเปลี่ยนบางอย่างต้องทำในสคริปต์
</div>

</span>

</div>

</div>

</div>

<div id="footer" class="smallgraytext" align="center">

<a href="http://groups.google.co.uk/group/cclite">
ช่วย ด้วย Cclite
</a>
<br />

Cclite 
<br />


</div>

</div>

</body>

</html>
