<form class="pme-form" id="form" method="post" action="/cgi-bin/cclite.cgi" name="modifyyellowpages">
<!-- modifyyellowpage.html template for modifying yellow pages -->
<input name="subaction" value="om_yellowpages" type="hidden">
<input name="action" value="update" type="hidden">
<input name="id" value="$$fieldsref{id}" type="hidden">
<table class="pme-main" summary="om_yellowpages">
<tbody class="stripy">
<tr class="pme-row-0">
<td class="pme-key-0"> Fromuserid</td>
<td class="pme-value-0">
<input class="grey" name="fromuserid" size="11" readonly="readonly" maxlength="11" value="$$fieldsref{fromuserid}" type="text"></td>
</tr>
<tr class="pme-row-1">
<td class="pme-key-1">ประเภท</td>
<td class="pme-value-1">
              <select class="required" name="type">
              <option value="offered" selected="selected">เสนอ</option>
              <option value="wanted">ต้องการ</option>
              <option value="other">อื่น ๆ</option>
              </select>
</td>
</tr>
<tr class="pme-row-1">
<td class="pme-key-1">ชั้นนำระดับที่สำคัญ</td>
<td class="pme-value-1">
              <select class="required" name="majorclass">
              <option value="service" selected="selected">บริการ</option>
              <option value="goods">สินค้า</option>
              <option value="other">อื่น ๆ</option>
              </select>
</td>
</tr>

<tr class="pme-row-1">
<td class="pme-key-1">ก\u200b\u200bารจัดหมวดหมู่</td>
<td class="pme-value-1">
$$fieldsref{selectclassification}</td>
<input type="hidden" name="r_classification" value="Need a classification for the item or service please">
</tr>

<tr>
<td class="pme-key-1"> Tags :</td>
<td class="pme-value-1">
<input id="yellowtags" name="yellowtags" size="30" maxlength="60" value="$$fieldsref{yellowtags}"></td>
</tr>


<tr class="pme-row-0">
<td class="pme-key-0">เรื่อง</td>
<td class="pme-value-0">
<input class="required" value="$$fieldsref{subject}" name="subject" size="30" maxlength="30" value="" type="text"></td>
</tr>
<tr class="pme-row-1">
<td class="pme-key-1">รายละเอียด</td>
<td class="pme-value-1">
<textarea class="required" name="description" rows="5" columns="50">
$$fieldsref{description}</textarea>
</td>
</tr>
<tr class="pme-row-0">
<td class="pme-key-0">ราคา</td>
<td class="pme-value-0">
<input class="required" name="price" id="price" onChange="validatedecimals(this,this.value);"  size="10" maxlength="10" value="$$fieldsref{price}" type="text"></td>
</tr>
<tr class="pme-row-1">
<td class="pme-key-1">สกุลเงิน</td>
<td class="pme-value-1">
$$fieldsref{selectcurrency}
</td>
</tr>

<tr class="pme-row-1">
<td class="pme-key-1">Per unit (services only)</td>
<td class="pme-value-1">
              <select class="pme-input-1" name="unit">
              <option value="" ></option>
              <option value="hour" >ต่อชั่วโมงทั่ว</option>
              <option value="day" >ต่อวัน</option>
              <option value="week" >ต่อสัปดาห์ที่</option>
              <option value="month" >ต่อเดือน</option>
              </select>
</td>
</tr>
</tbody>

<tr class="pme-row-1">
<td class="pme-key-1">การชำระเงินเสร็จสมบูรณ์ในสกุลเงินทางเลือก? ?</td>
<td class="pme-value-1">
              <select class="required" name="truelets">
              <option value="yes" >ใช่</option>
              <option value="no">ไม่มีใน</option>
              </select>
</td>
</tr>
</tbody></table>

<hr class="pme-hr">
<table class="pme-navigation">
<tbody><tr class="pme-navigation">
<td class="pme-buttons">
<input class="pme-save"
 name="saveadd" value="ปรับเปลี่ยน" type="submit">&nbsp;<input class="pme-cancel"
 name="cancel" value="Clear" type="reset"> </td>
</tr></tbody></table>
</form>
</body></html>
