

<table>

<tbody class="stripy">

<form class="pme-form" id="form" method="post" action="/cgi-bin/cclite.cgi" name="yellowpages">

<input name="subaction" value="om_yellowpages" type="hidden">

<input name="action" value="addyellow" type="hidden">

<tr>

<td class="pme-key-0">
จากผู้ใช้
</td>

<td class="pme-value-0">

<input class="grey" name="fromuserid" size="11" readonly="readonly" maxlength="11" value="$$fieldsref{userLogin}" type="text">
</td>

</tr>

<tr>

<td class="pme-key-1">
ชนิด
</td>

<td class="pme-value-1">

<select class="required" name="type">

<option value="offered" selected="selected">
ข้อเสนอ
</option>

<option value="wanted">
ต้องการ
</option>

<option value="other">
อื่น ๆ
</option>

</select>

</td>

</tr>

<tr>

<td class="pme-key-1">
เรียนวิชา
</td>

<td class="pme-value-1">

<select class="required" name="majorclass">

<option value="service" selected="selected">
บริการ
</option>

<option value="goods">
สินค้า
</option>

<option value="other">
อื่น ๆ
</option>

</select>

</td>

</tr>

<tr>

<td class="pme-key-1">
การจัดประเภท
</td>

<td class="pme-value-1">
$$fieldsref{selectclassification}
</td>

</tr>

<tr>

<td class="pme-key-1">
แท็ก (สมบูรณ์)
</td>

<td class="pme-value-1">

<span id="tagmatches" class="tagmatches">
<input id="yellowtags" name="yellowtags" "size="30" maxlength="60" value="$$fieldsref{yellowtags}">
</span>
</td>

</tr>

<tr>

<td class="pme-key-0">
ชื่อเรื่อง
</td>

<td class="pme-value-0">

<input class="required" name="subject" size="30" maxlength="50" value="" type="text">
</td>

</tr>

<tr>

<td class="pme-key-1">
คำอธิบาย
</td>

<td class="pme-value-1">

<textarea class="required" name="description" rows="5" columns="50">
$$fieldsref{description}
</textarea>

</td>

</tr>

<tr>

<td class="pme-key-0">
ราคา
</td>

<td class="pme-value-0">

<input class="required" onChange="validatedecimals(this,this.value);" id="price" name="price" size="10" maxlength="10" value="$$fieldsref{price}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
สกุลเงิน
</td>

<td class="pme-value-1">
$$fieldsref{selectcurrency}
<input type="hidden" name="r_currency" value="Need a price for the item or service please">

</td>

</tr>

<tr>

<td class="pme-key-1">
ต่อหน่วย (เฉพาะบริการ)
</td>

<td class="pme-value-1">

<select class="pme-input-1" name="unit">

<option value="" >
</option>

<option value="hour" >
ต่อชั่วโมง
</option>

<option value="day" >
ต่อวัน
</option>

<option value="week" >
ต่อสัปดาห์
</option>

<option value="month" >
ต่อเดือน
</option>

</select>

</td>

</tr>

<tr>

<td class="pme-key-1">
ชำระเงินในสกุลเงินให้หรือไม่
</td>

<td class="pme-value-1">

<select class="pme-input-1" name="truelets">

<option value="yes" >
ใช่
</option>

<option value="no">
ไม่ใช่
</option>

</select>

</td>

</tr>

<table class="pme-navigation">

<tr class="pme-navigation">

<td class="pme-buttons">

<input class="pme-save"
 name="saveadd" value="ทำให้หน้า" type="submit">
&nbsp;
<input class="pme-cancel"
 name="cancel" value="การล้าง" type="reset">

</td>

</tr>

</form>

</table>

</tbody>

</table>

<div id="stats_user" style="width:260px;height:150px;">
</div>
