

<form class="pme-form" id="form" action="/cgi-bin/cclite.cgi" method="post">

<input name="action" value="forgotpassword" type="hidden">

<input name="subaction" value="om_users" type="hidden">

<input name="logontype" value="form" type="hidden">

<table class="pme-main" summary="om_users">

<tbody class="stripy">

<tr>

<td nowrap class="pme-key-1">
שם הרישום
<br>

</td>

<td style="vertical-align: top;">
<input class="required" name="registry">

</td>

</tr>

<tr class="pme-row-1">

<td nowrap class="pme-key-1">
כתובת דוא
<br>

</td>

<td class="pme-value-1">

<input class="required email"
 name="userEmail" size="50" maxlength="50" value="" type="text">
</td>

</tr>

</tbody>

</table>

<table class="pme-navigation">

<tbody class="stripy">

<tr class="pme-navigation">

<td class="pme-buttons">

<input class="pme-save"
 name="saveadd"  value="לקבל את הסיסמה" type="submit">
&nbsp;
<input class="pme-cancel"
 name="cancel" value="נקה" type="reset">

</td>

</tr>

</tbody>

</table>

</form>
