
<form class="pme-form" id="form" method="post" action="/cgi-bin/cclite.cgi" name="modifyyellowpages">

<!-- modifyyellowpage.html תבנית עבור שינוי דפי זהב -->

<input name="subaction" value="om_yellowpages" type="hidden">

<input name="action" value="update" type="hidden">

<input name="id" value="$$fieldsref{id}" type="hidden">

<table class="pme-main" summary="om_yellowpages">

<tbody class="stripy">

<tr class="pme-row-0">

<td class="pme-key-0">
Fromuserid
</td>

<td class="pme-value-0">

<input class="grey" name="fromuserid" size="11" readonly="readonly" maxlength="11" value="$$fieldsref{fromuserid}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
סוג
</td>

<td class="pme-value-1">

<select class="required" name="type">

<option value="offered" selected="selected">
ההצעה
</option>

<option value="wanted">
רצה
</option>

<option value="other">
אחרים
</option>

</select>

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
רס ן מחלקה
</td>

<td class="pme-value-1">

<select class="required" name="majorclass">

<option value="service" selected="selected">
שירות
</option>

<option value="goods">
סחורות
</option>

<option value="other">
אחרים
</option>

</select>

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
סיווג
</td>

<td class="pme-value-1">
$$fieldsref{selectclassification}
</td>

<input type="hidden" name="r_classification" value="Need a classification for the item or service please">

</tr>

<tr>

<td class="pme-key-1">
תגיות
</td>

<td class="pme-value-1">

<input id="yellowtags" name="yellowtags" size="30" maxlength="60" value="$$fieldsref{yellowtags}">
</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
נושא
</td>

<td class="pme-value-0">

<input class="required" value="$$fieldsref{subject}" name="subject" size="30" maxlength="30" value="" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
תיאור
</td>

<td class="pme-value-1">

<textarea class="required" name="description" rows="5" columns="50">
$$fieldsref{description}
</textarea>

</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
מחיר
</td>

<td class="pme-value-0">

<input class="required" name="price" id="price" onChange="validatedecimals(this,this.value);"  size="10" maxlength="10" value="$$fieldsref{price}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
מטבע
</td>

<td class="pme-value-1">
$$fieldsref{selectcurrency}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
לכל יחידה (שירותי בלבד)
</td>

<td class="pme-value-1">

<select class="pme-input-1" name="unit">

<option value="" >
</option>

<option value="hour" >
לכל שעה
</option>

<option value="day" >
לכל יום
</option>

<option value="week" >
בכל שבוע
</option>

<option value="month" >
לחודש
</option>

</select>

</td>

</tr>

</tbody>

<tr class="pme-row-1">

<td class="pme-key-1">
תשלום מלא במטבע חלופית?
</td>

<td class="pme-value-1">

<select class="required" name="truelets">

<option value="yes" >
כן
</option>

<option value="no">
לא
</option>

</select>

</td>

</tr>

</tbody>
</table>

<hr class="pme-hr">

<table class="pme-navigation">

<tbody>
<tr class="pme-navigation">

<td class="pme-buttons">

<input class="pme-save"
 name="saveadd" value="לשנות" type="submit">
&nbsp;
<input class="pme-cancel"
 name="cancel" value="נקה" type="reset">

</td>

</tr>
</tbody>
</table>

</form>

</body>
</html>
