
<div align="left">
$$fieldsref{error}
$$fieldsref{html}
<h3>
Ajoute ou motifye Préférences Utilisateur
</h3>

<form  id="form" action="/cgi-bin/protected/ccadmin.cgi" method="post">

<input name="action" value="prefs" type="hidden">

<input name="subaction" value="om_prefs" type="hidden">

<table>

<tr>
<td>
Connexion non
</td>
<td>
<input type="text" size=10" value="$$fieldsref{userLogin}" maxsize="10" name="userLogin" id="user">
</td>
</tr>

<tr>
<td>
Komès Limit
</td>
<td>
<input type="text" size=10" value="$$fieldsref{tradelimit}" maxsize="10" name="tradelimit" id="tradelimit">
</td>
</tr>

<tr>
<td>
Mel SMS
</td>
<td>
<select name="smsemail" id="smsemail">
<option value="">
</option>
<option value="yes">
Wi
</option>
<option value="no">
Non
</option>
</select>
</td>
</tr>

<tr>
<td>
</td>
<td>
</td>
</tr>

<tr>
<td>
</td>
<td>
</td>
</tr>

</table>

<input type="submit" value="D'">

<br/>

<br/>


<a href="#" onClick="history.go(-1)">
Do
</a>

</div>
