

<table>

<tr>
<td>

<a href="mailto:$$fieldsref{userEmail}">
$$fieldsref{type} by $$fieldsref{fromuserid}
</a>

<table>

<tbody class="stripy">

<tr>
<td class="pme-key-title">
De
</td>
<td class="pme-key-1">
</td>
</tr>

<tr>
<td class="pme-key-title">
Produit ajouté
</td>
<td class="pme-key-1">
$$fieldsref{dt}
</td>
</tr>

<tr>
<td class="pme-key-title">
Statut
</td>
<td class="pme-key-1">
$$fieldsref{userStatus}
</td>
</tr>

<tr>
<td class="pme-key-title">
Catégorie
</td>
<td class="pme-key-1">
$$fieldsref{keywords}
</td>
</tr>

<tr>
<td class="pme-key-title">
Paiement
</td>
<td class="pme-key-1">
$$fieldsref{tradeCurrency}s
</td>
</tr>

<tr>
<td class="pme-key-title">
Titre
</td>
<td class="pme-key-1">
$$fieldsref{subject}
</td>
</tr>

<tr>
<td class="pme-key-title">
Description
</td>
<td class="pme-key-1">
$$fieldsref{description}
</td>
</tr>

<tr>
<td class="pme-key-title">
Balises
</td>
<td class="pme-key-1">
$$fieldsref{yellowtags}
</td>
</tr>

<tr>
<td class="pme-key-title">
Payer à 100 % CC
</td>
<td class="pme-key-1">
$$fieldsref{truelets}
</td>
</tr>

<tr>
<td class="pme-key-title">
Prix
</td>
<td class="pme-key-1">
$$fieldsref{price} $$fieldsref{tradeCurrency}s per $$fieldsref{unit}
</td>
</tr>

</tbody>

</table>

</td>

<td>

<table>

<tr>

<td>

</td>

</tr>

<tr>

<td>

<h4>
Trading et soldes des récentes $$fieldsref{fromuserid}
</h4>

</td>

</tr>

<tr>

<td>
$$fieldsref{balanceandvolume}
</td>

</tr>

<td>

<tr>
$$fieldsref{volumes}
</td>

</tr>

</table>

</td>
</tr>

</table>
