
<table class="pme-main" summary="om_users">

<tbody class="stripy">

<tr class="pme-row-1">

<td class="pme-key-title">
UserLogin
</td>

<!-- duserLogin est utilisé pour distinguer des userLogin, transformé en général -->

<td class="pme-value-0">
$$fields{duserLogin}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
UserEmail
</td>

<td class="pme-value-1">
$$fields{userEmail}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
Rue
</td>

<td class="pme-value-1">
$$fields{userNameornumber} $$fields{userStreet}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
Ville/comté
</td>

<td class="pme-value-1">
$$fields{userTown} $$fields{userArea}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
Téléphone mobile
</td>

<td class="pme-value-1">
$$fields{userMobile}
</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-title">
Nom
</td>

<td class="pme-value-0">
$$fields{userName}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
Vacances ou Active
</td>

<td class="pme-value-1">
$$fieldsref{userStatus}
</td>

</tr>

</tbody>

</table>
