
<a href="mailto:$$fieldsref{userMessagerie}"> $$fieldsref{type} by $$fieldsref{fromuserid}</a>
<table>
<tbody class="stripy">
<tr><td class="pme-key-title">De</td><td class="pme-key-1"></td></tr>

<tr><td class="pme-key-title">Date de Added</td><td class="pme-key-1">	$$fieldsref{dt}</td></tr>
<tr><td class="pme-key-title">Statut</td><td class="pme-key-1">		$$fieldsref{userStatut}</td></tr>
	
<tr><td class="pme-key-title">Catégorie</td><td class="pme-key-1">	$$fieldsref{keywords}</td></tr>

<tr><td class="pme-key-title">Payer</td><td class="pme-key-1">		$$fieldsref{tradeMonnaie}s</td></tr>

<tr><td class="pme-key-title">Titre</td><td class="pme-key-1">		$$fieldsref{subject}</td></tr>

<tr><td class="pme-key-title">Description</td><td class="pme-key-1">	$$fieldsref{description}</td></tr>

<tr><td class="pme-key-title">Balises</td><td class="pme-key-1">	$$fieldsref{yellowtags}</td></tr>
	
<tr><td class="pme-key-title">Verser 100 % CC</td><td class="pme-key-1">	$$fieldsref{truelets}</td></tr>
<tr><td class="pme-key-title">Prix</td><td class="pme-key-1">		$$fieldsref{price} $$fieldsref{tradeMonnaie}s per $$fieldsref{unit}</td></tr>
</tbody>
</table>
<br/>
<hr/>
<h4>Recent Trading and Soldes for $$fieldsref{fromuserid}</h4>
$$fieldsref{balanceandvolume}

