
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC" />


<meta name="author" content="hugh barnard" />


<link type="text/css" href="/styles/default.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="Lien expérimental cclite" href="/html/en/rdf/chelsea.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<title>
Cclite 0.9.0 aux impatients
</title>

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script type="text/javascript">
fonction stripe() {&#xD;     PULVERISATION (« tbody », « une », 'tr', 'impair, même') ;&#xD;}
</script>

</head>

<body>

<div id="page" align="center">

<div id="toppage" align="center">

</div>

<div id="header" align="center">

<h1>
<a title="Cclite aux impatients" href="/">
Démarrage rapide Cclite
</a>
</h1>

</div>

</div>

<div id="content" align="center">

<div id="menu" align="right">

<div id="linksmenu" align="center">

<a title="installateur" href="/cgi-bin/protected/ccinstall.cgi">
Programme d'installation Web
</a>
|
<a  title="Ouverture de session utilisateur" href="/cgi-bin/cclite.cgi">
Ouverture de session utilisateur
</a>
|
<a title="Admin Menu (must be logged on first)" href="/cgi-bin/protected/ccadmin.cgi">
Administration
</a>
|
</div>

</div>

<div id="contenttext">

<div style="margin:100px;}padding:12px;" align="justify">

<ol>

<li>
Utilisation
<a title="Analyse de l'installation dans le programme d'installation" href="/cgi-bin/protected/ccinstall.cgi">
l'analyse de l'installation
</a>
pour analyser l'état actuel de l'installation
</li>

<li>
Utilisation
<a href="/cgi-bin/protected/ccinstall.cgi">
le programme d'installation
</a>
pour configurer les valeurs de configuration,
<strong>
mot de passe et utilisateur de la base de données
</strong>
</li>

<li>
<a title="Créer un registre" href="/cgi-bin/protected/ccinstall.cgi?action=template&name=registry.html">
Créer un registre
</a>
(trading group) for your system, for example,
<span class="system">
Dalston
</span>
,
<span class="system">
Newington
</span>
,
<span class="system">
Islington
</span>
Un registre est une base de données mysql...
</li>

<li>
<a title="Ouverture de session comme Manager" href="/cgi-bin/cclite.cgi">
Ouverture de session comme manager
</a>
Connexion à votre registre :
<span class="system">
Gestionnaire
</span>
avec mot de passe
<span class="system">
Gestionnaire
</span>
</li>

<li>
<a title="Mettre en place une monnaie" href="/cgi-bin/protected/ccadmin.cgi?action=template&name=currency.html">
(when Manager) Set up a currency or two
</a>
</li>

<li>

<a title="Créez des utilisateurs ou de les laisser venir" href="/cgi-bin/cclite.cgi?action=template&name=newuser.html">
Créez des utilisateurs ou de les laisser venir
</a>
Créer des utilisateurs et de laisser le commerce.
</li>

<li>

<b>
N'oubliez pas de supprimer ou de désactiver le programme d'installation et de modifier le mot de passe sysaccount et admin. Supprimer cette page aussi !
</b>
</li>

</ol>

</div>

<div class="panel" align="justify">

<span class="bodytext">

<div style="margin:50px;}padding:12px;" align="justify">
Lots comme l'écriture de flux rss, lecture lot transaction d'entrée et les graphiques sont maintenant sur la page de gestion de l'administrateur. Ils peuvent&#xD;être exécuté directement à partir du web sans utiliser cron. Pour cron, quelques modifications doivent être faites dans les scripts.
</div>

</span>

</div>

</div>

</div>

<div id="footer" class="smallgraytext" align="center">

<a href="http://groups.google.co.uk/group/cclite">
Aide avec Cclite
</a>
<br />

Cclite 
<br />


</div>

</div>

</body>

</html>
