
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC" />


<meta name="author" content="hugh barnard" />


<link type="text/css" href="/styles/default.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="Lien exp&Atilde;&copy;rimental cclite" href="/html/en/rdf/chelsea.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<title>
Cclite 0.9.0 aux impatients
</title>

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script type="text/javascript">
fonction stripe() {&amp;#xD;     PULVERISATION (&Acirc;&laquo; tbody &Acirc;&raquo;, &Acirc;&laquo; une &Acirc;&raquo;, &#39;tr&#39;, &#39;impair, m&Atilde;&ordf;me&#39;) ;&amp;#xD;}
</script>

</head>

<body>

<div id="page" align="center">

<div id="toppage" align="center">

</div>

<div id="header" align="center">

<h1>
<a title="Cclite aux impatients" href="/">
D&Atilde;&copy;marrage rapide Cclite
</a>
</h1>

</div>

</div>

<div id="content" align="center">

<div id="menu" align="right">

<div id="linksmenu" align="center">

<a title="installateur" href="/cgi-bin/protected/ccinstall.cgi">
Programme d&#39;installation Web
</a>
|
<a  title="Ouverture de session utilisateur" href="/cgi-bin/cclite.cgi">
Ouverture de session utilisateur
</a>
|
<a title="Admin Menu (must be logged on first)" href="/cgi-bin/protected/ccadmin.cgi">
Administration
</a>
|
</div>

</div>

<div id="contenttext">

<div style="margin:100px;}padding:12px;" align="justify">

<ol>

<li>
Utilisation
<a title="Analyse de l&#39;installation dans le programme d&#39;installation" href="/cgi-bin/protected/ccinstall.cgi">
l&#39;analyse de l&#39;installation
</a>
pour analyser l&#39;&Atilde;&copy;tat actuel de l&#39;installation
</li>

<li>
Utilisation
<a href="/cgi-bin/protected/ccinstall.cgi">
le programme d&#39;installation
</a>
pour configurer les valeurs de configuration,
<strong>
mot de passe et utilisateur de la base de donn&Atilde;&copy;es
</strong>
</li>

<li>
<a title="Cr&Atilde;&copy;er un registre" href="/cgi-bin/protected/ccinstall.cgi?action=template&name=registry.html">
Cr&Atilde;&copy;er un registre
</a>
(trading group) for your system, for example,
<span class="system">
Dalston
</span>
,
<span class="system">
Newington
</span>
,
<span class="system">
Islington
</span>
Un registre est une base de donn&Atilde;&copy;es mysql...
</li>

<li>
<a title="Ouverture de session dans le gestionnaire de" href="/cgi-bin/cclite.cgi">
Ouverture de session dans le gestionnaire de
</a>
Connexion &Atilde;&nbsp; votre registre :
<span class="system">
Gestionnaire
</span>
avec mot de passe
<span class="system">
Gestionnaire
</span>
</li>

<li>
<a title="Mettre en place une monnaie" href="/cgi-bin/protected/ccadmin.cgi?action=template&name=currency.html">
(when Manager) Set up a currency or two
</a>
</li>

<li>

<a title="Cr&Atilde;&copy;er des utilisateurs ou de les laisser venir" href="/cgi-bin/cclite.cgi?action=template&name=newuser.html">
Cr&Atilde;&copy;ez des utilisateurs ou laissez-les &Atilde;&nbsp; venir
</a>
Cr&Atilde;&copy;er des utilisateurs et de laisser le commerce.
</li>

<li>

<b>
N&#39;oubliez pas de supprimer ou de d&Atilde;&copy;sactiver le programme d&#39;installation et de changer les mots de passe sysaccount et admin. Supprimer cette page aussi !
</b>
</li>

</ol>

</div>

<div class="panel" align="justify">

<span class="bodytext">

<div style="margin:50px;}padding:12px;" align="justify">
Lots comme l&#39;&Atilde;&copy;criture de flux rss, lecture lot transaction d&#39;entr&Atilde;&copy;e et les graphiques sont maintenant sur la page de gestion de l&#39;administrateur. Ils peuvent&amp;#xD;&Atilde;&ordf;tre ex&Atilde;&copy;cut&Atilde;&copy; directement &Atilde;&nbsp; partir du web sans utiliser de cron. Pour cron, quelques modifications doivent &Atilde;&ordf;tre apport&Atilde;&copy;es dans les scripts.
</div>

</span>

</div>

</div>

</div>

<div id="footer" class="smallgraytext" align="center">

<a href="http://groups.google.co.uk/group/cclite">
Aide avec Cclite
</a>
<br />

Cclite 
<br />


</div>

</div>

</body>

</html>
