<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Community Currency 0.2</title>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <link type="text/css" href="/cclite/styles/cc.css" rel="stylesheet">
  <meta content="Hugh Barnard" name="author">
  <meta content="Login Page for cclite 0.2" name="description">
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <link type="text/css" href="/cclite/styles/cc.css" rel="stylesheet">
</head>
<body>
<div align="left">
<table class="logotable" summary="table holding logo" cellpadding="5"
 width="100%">
  <tbody>
    <tr>
      <td valign="top">
      <table class="logotable" summary="Community Currecny Menu"
 cellpadding="5">
        <tbody>
          <tr>
            <td class="pme-key-1">Image placeholder<br>
            <div class="pme-key-1">CCLITE 0.2<br>
            </div>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
      <td align="right" valign="top"><!-- news -->
      <table title="Community Currency" border="0" cellpadding="0"
 cellspacing="0" width="150">
        <tbody>
          <tr>
            <td class="pme-key-1">
            <p class="pme-key-1">News</p>
            </td>
          </tr>
          <tr>
            <td class="BoxNewsMessage"><!-- end of news --> <br>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <tr>
      <td class="pme-key-1">
      <h3 class="pme-key-1">Community Currency Lite Version 0.2</h3>
      </td>
      <td class="pme-key-1">$$fieldsref{youare}
$$fieldsref{atregistry} </td>
    </tr>
  </tbody>
</table>
<!-- this is the main body table containing menu + prose bgcolor needs fixing !-->
<table class="main" border="0" cellpadding="0" cellspacing="0"
 width="100%">
  <tbody>
    <tr valign="top">
      <td class="Columns">
      <table style="width: 221px; height: 564px;" class="menutable"
 border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="pme-key-1"><span class="menu"
 style="padding-left: 10px;"><br>
            </span></td>
          </tr>
          <tr>
            <td class="pme-key-1"><a class="menu"
 style="padding-left: 10px;" title="Modify User Account"
 href="/cc/cclite.cgi?action=template&amp;name=newuser.html">[Nouveau
Compte]</a></td>
          </tr>
          <tr>
            <td class="pme-key-1"><a class="menu"
 style="padding-left: 10px;" title="Modify User Account"
 href="/cc/cclite.cgi?action=template&amp;name=users.html">[Modifier Votre
Compte]</a> </td>
          </tr>
          <tr>
            <td class="pme-key-1"><a class="menu"
 style="padding-left: 10px;" title="Transfer Currency"
 href="/cc/cclite.cgi?action=template&amp;name=trades.html">[Faire un
Transfert]</a> </td>
          </tr>
          <tr>
            <td class="pme-key-1" nowrap="nowrap"><a class="menu"
 style="padding-left: 10px;" title="Show Current Transactions"
 href="/cc/cclite.cgi?action=showtrans">[Montrer les Transactions
Actuelles]</a> </td>
          </tr>
          <tr>
            <td class="pme-key-1"><a class="menu"
 style="padding-left: 10px;" title="Search for Items"
 href="/cc/cclite.cgi?action=template&amp;name=search.html">[Chercher]</a> </td>
          </tr>
          <tr>
            <td class="pme-key-1"><a class="menu"
 style="padding-left: 10px;" title="SMS Emulation"
 href="/cc/cclite.cgi?action=template&amp;name=smsemulator.html">[Emuler
SMS]</a> </td>
          </tr>
          <tr>
            <td class="pme-key-1"><br>
            </td>
          </tr>
          <tr>
            <td nowrap="nowrap" valign="center"><br>
            </td>
          </tr>
          <tr>
            <td class="pme-key-1"><a class="menu"
 style="padding-left: 10px;" title="Change to German"
 href="/cc/cclite.cgi?action=lang&amp;language=de">[Deutsch]</a> </td>
          </tr>
          <tr>
            <td class="pme-key-1"><a class="menu"
 style="padding-left: 10px;" title="Change to English"
 href="/cc/cclite.cgi?action=lang&amp;language=en">[English]</a></td>
          </tr>
          <tr>
            <td class="pme-key-1"><a class="menu"
 style="padding-left: 10px;" title="Register a Student"
 href="/cc/cclite.cgi?action=lang&amp;language=fr">[Francais]</a></td>
          </tr>
          <tr>
            <td class="pme-key-1" style="padding-left: 10px;"
 valign="bottom" width="173"><br>
            <form action="/cc/cclite.cgi" method="get">Find a
Transaction<br>
              <input name="action" value="find" type="hidden"> <input
 value="" name="string" size="15" type="text">&nbsp;<input name="go"
 value="Go" type="submit"></form>
            </td>
          </tr>
          <tr>
            <td class="pme-key-1" style="padding-left: 10px;"
 valign="left"><!-- start of address table -->
            <table summary="address of offices">
              <tbody>
                <tr>
                  <td class="pme-key-1" colspan="2"><br>
                  </td>
                  <td><br>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="pme-key-1">Community Currency
Lite<br>
                  </td>
                  <td><br>
                  </td>
                </tr>
                <tr>
                  <td class="pme-key-1">Information Line </td>
                  <td class="pme-key-1"><br>
                  </td>
                </tr>
                <tr>
                  <td class="pme-key-1">General Office</td>
                  <td class="pme-key-1"><br>
                  </td>
                </tr>
                <tr>
                  <td class="pme-key-1"><br>
                  </td>
                  <td class="pme-key-1"><br>
                  </td>
                </tr>
                <tr>
                  <td class="pme-key-1"><br>
                  </td>
                  <td class="pme-key-1"><br>
                  </td>
                </tr>
                <tr>
                  <td class="pme-key-1"><br>
                  </td>
                  <td class="pme-key-1"><br>
                  </td>
                </tr>
                <tr>
                  <td class="pme-key-1"><br>
                  </td>
                  <td class="pme-key-1"><br>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
      <td class="pme-key-1">
<!-- template area -->
!$$fieldsref{pagename}
<!-- end of template area --> </td>
      <td><!-- news was here --> <br>
      </td>
    </tr>
    <tr>
      <td style="padding-left: 10px;" class="pme-key-1">© Hugh
Barnard 2004: Reproduction Encouraged!<br>
      </td>
      <td style="padding-right: 10px;" class="pme-key-1" align="right">
      <a href="privacy">Privacy and Security</a></td>
    </tr>
  </tbody>
</table>
</div>
<div align="left"><!-- this is the main body table containing menu + prose bgcolor needs fixing !--><br>
</div>
<div style="position: absolute; top: 50px; left: 50px;">
</div>
<div style="position: absolute; top: 50px; left: 50px;">
</div>
</body>
</html>
