      <form class="pme-form" action="/cc/cclite.cgi" method="post"><input
 name="action" value="logon" type="hidden"> <input name="subaction"
 value="om_users" type="hidden">
        <table class="pme-main" summary="om_users">
          <tbody>
            <tr>
              <td class="pme-key-1">Reg Name<br>
              </td>
              <td style="vertical-align: top;"><input name="registry"><br>
              </td>
            </tr>
            <tr class="pme-row-1">
              <td class="pme-key-1">Acc Name<br>
              </td>
              <td class="pme-value-1"> <input class="pme-input-1"
 name="userLogin" size="60" maxlength="255" value="" type="text"></td>
            </tr>
            <tr class="pme-row-0">
              <td class="pme-key-0">Password</td>
              <td class="pme-value-0"> <input class="pme-input-0"
 name="userPassword" size="32" maxlength="32" value="" type="text"></td>
            </tr>
          </tbody>
        </table>
        <hr class="pme-hr">
        <table class="pme-navigation">
          <tbody>
            <tr class="pme-navigation">
              <td class="pme-buttons"> <input class="pme-save"
 name="saveadd" value="Go" type="submit">&nbsp;<input class="pme-cancel"
 name="cancel" value="Clear" type="reset"> </td>
            </tr>
          </tbody>
        </table>
      </form>
