<input id="9999-hiddenfield-0" type="hidden" name="action" value="sms_transaction">
 <!-- end of hidden fields given values by the displayengine -->     
<table>
  <tr> 
    <td id="165-header1-0" >SMS Emulation</td>
    <td id="166-header2-0" >Emulate Transfer via SMS</td>
  </tr>

  <tr> 
    <td id="167-fieldtitle-0" >From: Number</td>
    <td> 
        <input id="10000-textfield-0" type="text" name="fromnumber">
 
    </td>
  </tr>

  <tr> 
    <td id="168-fieldtitle-0">To: Number</td>
    <td> 
      <input id="10001-textfield-0" type="text" name="tonumber">
    </td>
  </tr>

  <tr> 
    <td id="169-fieldtitle-0">Currency</td>
    <td> 
      <select id="10007-textfield-0" name="currency">
      </select>
    </td>
  </tr>
  <tr> 
    <td id="124-fieldtitle-0">Quantity</td>
    <td> 
      <input id="10023-textfield-0" type="text" name="quantity">
    </td>
  </tr>
  <tr> 
    <td id="125-fieldtitle-0">Description</td>
    <td> 
      <input id="10024-textfield-0" type="text" name="description">
    </td>
  </tr>
  <tr> 
    <td id="115-fieldtitle-0">Pin code</td>
    <td> 
      <input id="10015-textfield-0" type="password" name="pin">
    </td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
    <td><input type="submit"  name="button" value="Do SMS Emulate">  </td>
  </tr>
</form>
</table>
<!--end of mid screen table for forms etc  -->
