<form class="pme-form" action="om_users.php" method="post"
 onsubmit="return phpMyEdit_form_control(this);"><input name="sfn[0]"
 value="0" type="hidden"> <input name="sfn[1]" value="1" type="hidden"><input
 name="qfn" value="" type="hidden"> <input name="rec" value="1"
 type="hidden"><input name="fm" value="0" type="hidden"> <input
 name="fl" value="0" type="hidden">
  <table class="pme-main" summary="om_users">
    <tbody>
      <tr class="pme-row-0">
        <td class="pme-key-0">UserId</td>
        <td class="pme-value-0"> <input class="pme-input-0"
 disabled="disabled" name="userId" size="8" maxlength="8" value="0"
 type="text"></td>
      </tr>
      <tr class="pme-row-1">
        <td class="pme-key-1">UserLogin</td>
        <td class="pme-value-1"> <input class="pme-input-1"
 name="userLogin" size="60" maxlength="255" value="" type="text"></td>
      </tr>
      <tr class="pme-row-0">
        <td class="pme-key-0">UserPassword</td>
        <td class="pme-value-0"> <input class="pme-input-0"
 name="userPassword" size="32" maxlength="32" value="" type="text"></td>
      </tr>
      <tr class="pme-row-1">
        <td class="pme-key-1">UserEmail</td>
        <td class="pme-value-1"> <input class="pme-input-1"
 name="userEmail" size="60" maxlength="255" value="" type="text"></td>
      </tr>
      <tr class="pme-row-0">
        <td class="pme-key-0">UserName</td>
        <td class="pme-value-0"> <input class="pme-input-0"
 name="userName" size="60" maxlength="255" value="" type="text"></td>
      </tr>
      <tr class="pme-row-1">
        <td class="pme-key-1">UserLastLogin</td>
        <td class="pme-value-1"> <input class="pme-input-1"
 name="userLastLogin" size="11" maxlength="11" value="0" type="text"></td>
      </tr>
      <tr class="pme-row-0">
        <td class="pme-key-0">UserRegistration</td>
        <td class="pme-value-0"> <input class="pme-input-0"
 name="userRegistration" size="11" maxlength="11" value="0" type="text"></td>
      </tr>
    </tbody>
  </table>
  <hr class="pme-hr">
  <table class="pme-navigation">
    <tbody>
      <tr class="pme-navigation">
        <td class="pme-buttons"> <input class="pme-save" name="saveadd"
 value="Save" type="submit">&nbsp;<input class="pme-cancel"
 name="cancel" value="Cancel" onclick="form.submit();" type="button"> </td>
      </tr>
    </tbody>
  </table>
</form>
