/* CSS Document */
/* 800px moved to 1000px in toppage, header, content, topbar to be exapnded perhaps? */
/*PAGE LAYOUT*/
body {
	background-image: url(images/bg_body.jpg);
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
        font-size: x-large;
}
#toppage{
	width:1000px;
}
#date{
	float:left; width:190px; height:39px; border-bottom:solid 1px #999999; border-right:solid 1px #999999;
}
#topbar{
	float:left; 
	width:708px; 
	height:40px; 
//	background-image:url(images/bg_topbar.gif);
//	background-color:#CBC55C;
        background-color:#d0f0c0;
	background-repeat:repeat-x;
	border-right:solid 1px #999999;
}


#topbar a{

	font-size: small;
}

#header{
	width:1000px;
}
#content{
	width:1000px;
}
#contenttext{
	float:left; width:708px; 
	background-color:#F7F7F0; 
	border-left:solid 1px #999999; border-right:solid 1px #999999; 
	border-bottom:solid 1px #999999; border-top:dotted 1px #CCCCCC; 
	min-height:360px;
}
#logo{
	float:left; width:190px; height:110px; background-color:#F7F7F0; border-left:solid 1px #999999;
	background-image:url(/images/cclite.png);	
/* was f7f7f7; */

}
#pagetitle{
	position:relative; float:left; width:708px; height:110px; background-color:#F7F7F0; border-right:solid 1px #999999;
}
#title{
	position:absolute; right:10px; bottom:0px; width:700px;
}
#menu{
	float:left; width:190px; margin:0px;
}
#footer{
	width:590px; padding-right:10px; padding-left:200px;
}






/*GRAY PANEL*/
.panel{
	padding:12px;
	border:solid 1px #E4E4E4;
	background-color:#EEEEEE;
	margin:10px;
	padding:10px;
	width:550px;
	height:160px;
}

.bigpanel{
	padding:12px;
	border:solid 1px #E4E4E4;
	background-color:#EEEEEE;
	margin:10px;
	padding:10px;
	width:550px;
//	height:320px;
}

/*TEXT STYLES*/
.bodytext {
	font: 0.7em Tahoma, sans-serif;
	color: #666666;
}
.smalltext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	color: #666666;
}
.smallwhitetext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
}
.smallwhitetext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration:none;
}
.smallwhitetext a:hover{
	text-decoration:underline;
}
.smallgraytext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CCCCCC;
}
.smallgraytext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
/* was cccccc */
	color:#000000;
	text-decoration:none;
}



.smallgraytext a:hover{
	text-decoration:underline;
}
.titletext {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color: #CCCCCC;
}
.logotext {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color: #999999;
}
.orangelogotext {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#FF9900;
	
}
.orangetitle {
	font: 0.7em Tahoma, sans-serif;
	font-size:24px;
	font-weight:bold;
	color:#FF9900;
}
#linksmenu a{
	float:right; 
	width:183px; 
	height:20px; 
//	background-color:#ABC578; border-left:solid 1px #FFFFFF; border-bottom:solid 1px #FFFFFF;
        background-color:#d0f0c0; border-left:solid 1px #FFFFFF; border-bottom:solid 1px #FFFFFF;
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #000000;
	text-decoration:none;
	padding-top:5px;
}
#linksmenu a:hover{
	background-color:#514F1C;
}

/* from previous release */

/* Please look at the child selector header hack before chaging all this! */



div.autocomplete {
position:absolute;
width:250px;
background-color:#FFF;
border:1px solid #888;
font-size:80%;
margin:0;
padding:0;
}

div.autocomplete ul {
list-style-type:none;
margin:0;
padding:0;
}

div.autocomplete ul li.selected {
background-color:#ffb;
text-align: left;
font-size:80%;
}

div.autocomplete ul li {
list-style-type:none;
display:block;
height:15px;
font-size:80%;
text-align: left;
cursor:pointer;
margin:0;
padding:1px;
}



.clearhack {
display:inline;
}


a:hover {
color:#333;
}

a:active {
color:#000;
}

p {
line-height:140%;
}

h1,h2 {
font-family:trebuchet ms;
font-weight:700;
color:#333;
}

h1 {
font-size:180%;
margin:0;
}

h1 a {
text-decoration:none;
color:#333;
}

h1 a:hover {
border-bottom:1px dotted #666;
color:#000;
}

h2 {
font-size:140%;
padding-bottom:2px;
border-bottom:1px solid #CCC;
margin:0;
}

td, td.pme-key-1 {
font-family:sans-serif;
#background-color:#d0f0c0;
font-size:90%;
/*line-height:130%;*/
margin-top:0;
/*padding: 1px; */
}

td.results {
background:#9f9;
border:solid;
font-family:sans-serif;
// font-size:80%;
line-height:130%;
margin-top:0;
border-width:1px;
/*padding:4px;*/
}

span.wanted,td.wanted {
/* background:#9f0; */
background:#ffd700 ;
background-color:#d0f0c0;
border-right-width:thin;
border-style: shadow ;
padding-right: 4px ;
font-family:sans-serif;
font-size:80%;
//line-height:130%;
margin-top:0;
/*padding:4px;*/
}


/*matched small ads */

span.matched,td.matched {
/* background:#9f0; */
background:#ffd700 ;
// background-color:#ff0000;
border-right-width:thin;
border-style: shadow ;
padding-right: 4px ;
font-family:sans-serif;
/*font-size:80%;
line-height:130%; */
margin-top:0;
/*padding:4px;*/
}





span.offered, td.offered {
/* background:#9f9; */
background:#CBC55C ;
background:#edf3fe;
font-family:sans-serif;
/* font-size:80%; */
padding-right: 4px ;
/* line-height:130%;*/
margin-top:0;
/*padding:4px;*/
}

span.pme-key-0 {
padding:3px;
}

span.news {
/*border:solid;*/
float:right;
margin-right:10px;
font-size:60%;
border:1px dotted;
background:#edf3fe;
color:#BDB76B;
padding:2px;
}

span.back {
float:left;
display:inline;
margin-left:5px;
color:#06C;
}

p.note {
background:#EEE;
font-family:tahoma;
font-size:85%;
line-height:130%;
margin-top:0;
padding:4px;
}

sub.spaced,sup.spaced {
line-height:0;
font-size:70%;
color:red;
}

tr.odd {
border:1px dotted;
background:#fff;
}

tr.even {
background:#edf3fe;
}

td.odd {
border:1px dotted;
padding:4px;
#background:#fff;
}

td.even {
border:1px dotted;
padding:4px;
#background:#edf3fe;
}

td.menu {
background-color:#6cf;
border:1px dotted;
padding:3px;
}

table.menutable {
width:180px;
background-color:#6cf;
border:1px dotted;
padding:3px;
}

th.pme-header {
vertical-align:bottom;
}

/* these styles system, failedcheck, optional, extra and do checked are mainly for the install process */

div.system, span.system {
color:green;
font-size: 12px;
font-family:Courier;
}

div.failedcheck, span.failedcheck {
color:red;
font-size: 12px;
font-family:Courier;
}

div.optional, span.optional {
color: blue;
font-size: 12px;
font-family:Courier;
}

div.extra, span.extra {
color:grey;
font-size: 12px;
font-family:Courier;
}



div.docheck, span.docheck {
color:#000;
font-size: 12px;
font-family:Courier;
}


td.pme-key-2 {
background-color:#0c0c0c;
border:1px solid;
padding:3px;
}

td.pme-key-d {
color:#004d9c;
background-color:#ADD8E6;
border:1px solid;
padding:3px;
}

hr.divider {
background:#004d9c;
border:5px solid;
border-top-width:1px;
height:5px;
margin:0;
padding:0;
}

input.grey {
color:#004d9c;
background-color:#e0e0e0;
border:1px solid;
font-size:8pt;
text-decoration:none;
padding:3px;
}

input.greydisabled {
color:#004d9c;
background-color:#e0e0e0;
border:1px solid;
font-size:8pt;
text-decoration:line-through;
padding:3px;
}

/* does small buttons in lists */

input.small {
color:#004d9c;
background-color:#e0e0e0;
border:1px solid;
font-size:8pt;
text-decoration:none;
padding:3px;
}





input.greysmalldisabled {
color:#004d9c;
background-color:#e0e0e0;
border:1px solid;
font-size:6pt;
text-decoration:none;
padding:3px;
}


input#tradeAmount {
background-color:#e0e0e0;
}



textarea {
overflow:auto;
color:#004d9c;
background-color:#fff;
border:1px solid;
font-size:8pt;
padding:3px;
}

a.big {
background-color:#6cf;
color:#004d9c;
font-size:10pt;
text-decoration:none;
}

a.menu:hover {
background-color:#fff;
text-decoration:none;
}

a.menu:active {
background-color:#f60;
text-decoration:none;
}

a.grey {
background-color:#e0e0e0;
color:silver;
text-decoration:none;
}

td.pme-key-debit {
color:red;
}

td.pme-key-rejected {
color: #c8c8c8 ;
}

td.pme-key-split {
color: #ff6600 ;
}


a.pagelink {
  padding: 0 4px ;
 color: #000 ;
}


span.currentlink {
 border-style: dotted ;
 border-width: 1px ;
 padding: 0 4px ;
 background:#edf3fe;
}

span.errors {
 color: #f00;
 background:#edf3fe;
}


jquery.error {  
        font: normal 10px arial;  
        padding: 3px;  
        margin: 3px;  
        background-color: #ffc;  
        border: 1px solid #c00;  
}  


span.pme-key-1,a.pme-key-1 {
color:#004d9c;
background-color:#0f0;
}

span.pme-key-debit,a.pme-key-debit {
color:#000;
font-size:8pt;
background-color:red;
}

span.pme-key-sale,a.pme-key-sale {
color:#000;
font-size:8pt;
background-color:#ffc;
}

/* jquery and autocomplete */
* { font-family: Verdana; font-size: 96%; }
label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
p { clear: both; }
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }

/* jquery and dragging */
.str { color: #00A; }
.kwd { color: #808; }
.com { color: #777; }
.typ { color: #088; }
.lit { color: #800; }
.pun { color: #000; }
.pln { color: #002; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }

.box {
	position: absolute;
	height: 98px;
	width: 98px;
	background: #CCF;
	border: 1px solid #AAD;
	text-align: center;
	font-size: 10px;
	}
.handle {
	cursor: move;
	}


.point {
	position: absolute;
	height: 4px;
	width: 4px; 
	margin: -2px 0 0 -2px;
	background: #A00;
	}

.drop {
	height: 202px;
	width: 202px;
	float: left;
	border: 1px solid #AAA;
	background: #CCC;
	margin: 10px;
	padding: 10px;
	overflow: auto;	
	}	

/* experimental text align for decimal point */

.dp { text-align: "." } 

/* to hide the switch for decimal points */

.hidden {
visibility:hidden;
}


/* yellowpags tagging */

     span.tagmatches {
       //   margin-left: 10px;
 
      }
      
      span.tagmatches span {
          padding: 2px;
          margin-right: 4px;
          background-color: #0000AB;
          color: #fff;
          cursor: pointer;
      }

