body {
margin-top:20px;
float:left ;
position:relative;
margin-left:20px;
margin-right:40px;
font-family:Courier;
}

.topbar {
float:left;
width:1000px;
//background-color:#ADD8E6;
min-height:30px;
//border-right:solid 1px #999;
//border-left: solid 1px #999;
padding-right:3px;
}

.topbar a {
font-size:small;
color:#000;
font-family:Agenda, sans-serif;
text-decoration:none;
}

.topbar a:hover {
background-color:#8FD8FF;
text-decoration:none;
border:solid 1px #999;
}

#linksmenu a {
float:left;
//background-color:#ADD8E6;
font-family:Agenda, sans-serif;
font-size:small;
color:#000;
text-decoration:none;
padding:5px;
}

#linksmenu a:hover {
background-color:#8FD8FF;
float:left;
font-family:Agenda, sans-serif;
font-size:small;
color:#00f;
text-decoration:none;
padding:5px;
}

.content {
//border-right:solid 1px #999;
//border-left: solid 1px #999;
width:1000px;

min-height: 600px ;
position:relative;
top:150px;
}

#status_message {
font-family: Courier, sans-serif;
font-size:small;
}

.contentleft {
position:absolute;
top:0;
left:0;
background-color:#F7F7F0;
width:700px;
height: inherit ;
padding: 10px ;
border:solid 1px #999;
}

.contentright {
position:absolute;
top:0;
right:0;
width:270px;
height: inherit ;
float:right;
//border:solid 1px #999;
//background-color:#F7F7F0;
}

.logo {
margin-left:20px;
border-left:solid 1px #999;
width:60px;
height:30px;
background-color: red ;
font-family:Courier;
font-size:xx-large;
font-weight:700;
background-image:url(/images/cclite.png);
background-repeat:no-repeat;
}

#logoninfo {
float:right;
font-size:small;
padding-right:40px;
}

#news {
padding-right:30px;
font-family:Courier;
font-size:32px;
display: none ;
font-weight:700;
//color:#CCC;
}

#pagetitle {
float:right;
border:solid 2px red;
}

#menu {
float:left;
}

#footer {
left:0;
position:fixed;
text-align:center;
bottom:0;
width:100%;
}

.adsearch {
color:#004d9c;
float:right;
background-color:#CCC;;
font-size:small;
//border:1px solid #888;
text-decoration:none;
padding-bottom:5px;
}

#language_value {
float:right;
margin-right:10px;
}

input.search {
margin-left:20px;
}

.panel {
background-color:#EEE;
position:absolute;
bottom:5px;
min-height:120px;
margin:10px;
}

.bigpanel {
background-color:#EEE;
width:550px;
margin:10px;
padding:10px;
}

.bodytext {
font-family:Courier;
font-size:small;
color:#00;
padding:5px;
}

.smalltext {
font-family:Courier;
font-size:small;
color:#666;
}

.smallwhitetext {
font-family:Courier;
font-size:11px;
font-weight:700;
color:#FFF;
}

.smallwhitetext a {
font-family:Courier;
font-size:11px;
font-weight:700;
color:#FFF;
text-decoration:none;
}

.smallgraytext {
font-family:Courier;
font-size:11px;
font-weight:700;
color:#CCC;
}

.smallgraytext a {
font-family:Courier;
font-size:11px;
font-weight:700;
color:#000;
text-decoration:none;
}

.titletext {
font-family:Courier;
font-size:36px;
font-weight:700;
color:#CCC;
}

.logotext {
font-family:Courier;
font-size:32px;
font-weight:700;
color:#999;
}

.orangelogotext {
font-family:Courier;
font-size:36px;
font-weight:700;
color:#F90;
}

.orangetitle {
font-family:Courier;
font-size:24px;
font-weight:700;
color:#F90;
}

div.autocomplete {
position:absolute;
width:250px;
background-color:#FFF;
border:1px solid #888;
font-size:80%;
margin:0;
padding:0;
}

div.autocomplete ul {
list-style-type:none;
margin:0;
padding:0;
}

div.autocomplete ul li.selected {
background-color:#ffb;
text-align:left;
font-size:80%;
}

div.autocomplete ul li {
list-style-type:none;
display:block;
height:15px;
font-size:80%;
text-align:left;
cursor:pointer;
margin:0;
padding:1px;
}

.clearhack {
display:inline;
}

a:hover {
color:#333;
}

p {
line-height:140%;
clear:both;
}

h1,h2 {
font-family:trebuchet ms;
font-weight:700;
color:#333;
}

h1 {
font-size:180%;
margin:0;
}

h1 a {
text-decoration:none;
color:#333;
}

h1 a:hover {
border-bottom:1px dotted #666;
color:#000;
}

h2 {
font-size:140%;
padding-bottom:2px;
border-bottom:1px solid #CCC;
margin:0;
}
table,table.pme-main {
float:left ;
}

td,td.pme-key-1 {
font-family:Courier;
font-size:small;
//border:1px solid #CCC;
margin-top:0;
}

td.pme-key-title {
font-family:Courier;
font-size:small;
//background:#9f9;
//border:1px solid #CCC;
margin-top:0;
}

td.results {
background:#9f9;
//border:solid;
font-family:Courier;
line-height:130%;
margin-top:0;
border-width:1px;
}

span.wanted,td.wanted {
background:#ffd700;
background-color:#d0f0c0;
border-right-width:thin;
padding-right:4px;
font-size: medium;
font-family:Courier;
font-size:80%;
margin-top:0;
border-style:shadow;
}

span.matched,td.matched {
background:#ffd700;
border-right-width:thin;
padding-right:4px;
font-size: large;
font-family:Courier;

margin-top:0;
border-style:shadow;
}

span.offered,td.offered {
background:#edf3fe;
font-family:Courier;
font-size: medium;
padding-right:4px;
margin-top:0;
}

span.pme-key-0 {
padding:3px;
}

span.news {
float:right;
margin-right:10px;
font-size:small;
//border:1px dotted;
background:#edf3fe;
font-family:Courier;
//color:#BDB76B;
padding:2px;
}

span.back {
float:left;
display:inline;
margin-left:5px;
color:#06C;
}

p.note {
background:#EEE;
font-family:tahoma;
font-size:85%;
line-height:130%;
margin-top:0;
padding:4px;
}

sub.spaced,sup.spaced {
line-height:0;
font-size:70%;
color:red;
}

tr.odd {
border:1px dotted;
background:#fff;
}

tr.even {
background:#edf3fe;
}

td.menu {
background-color:#6cf;
border:1px dotted;
padding:3px;
}

table.menutable {
width:180px;
background-color:#6cf;
border:1px dotted;
padding:3px;
}

th.pme-header {
vertical-align:bottom;
}

li.system,div.system,span.system {
color:green;
font-size:12px;
font-family:Courier;
text-align:left;
}

li.failedcheck,div.failedcheck,span.failedcheck {
color:red;
font-size:12px;
font-family:Courier;
text-align:left;
}

li.optional,div.optional,span.optional {
color:blue;
font-size:12px;
font-family:Courier;
text-align:left;
}

li.extra,div.extra,span.extra {
color:grey;
font-size:12px;
font-family:Courier;
text-align:left;
}

div.docheck,span.docheck {
color:#000;
font-size:12px;
font-family:Courier;
}

td.pme-key-2 {
background-color:#0c0c0c;
border:1px solid;
padding:3px;
}

td.pme-key-d {
color:#004d9c;
background-color:#ADD8E6;
border:1px solid;
padding:3px;
}

hr.divider {
background:#004d9c;
border:5px solid;
border-top-width:1px;
height:5px;
margin:0;
padding:0;
}

input.greydisabled {
color:#004d9c;
background-color:#e0e0e0;
border:1px solid;
font-size:8pt;
text-decoration:line-through;
padding:3px;
}

select.small {
color:#004d9c;
background-color:#e0e0e0;
border:1px solid;
font-size:10pt;
text-decoration:none;
padding:3px;
}

input.greysmalldisabled {
color:#004d9c;
background-color:#e0e0e0;
border:1px solid;
font-size:6pt;
text-decoration:none;
padding:3px;
}

input#tradeAmount {
//background-color:#e0e0e0;
}

textarea {
overflow:auto;
color:#004d9c;
background-color:#fff;
border:1px solid;
font-size:8pt;
padding:3px;
}

.front{
border:1px solid;
}

a.big {
background-color:#6cf;
color:#004d9c;
font-size:10pt;
text-decoration:none;
}

a.grey {
background-color:#e0e0e0;
color:silver;
text-decoration:none;
}

td.pme-key-rejected {
color:#c8c8c8;
}

td.pme-key-split {
color:#f60;
}

a.pagelink {
color:#000;
padding:0 4px;
}

span.currentlink {
background:#edf3fe;
border-style:dotted;
border-width:1px;
padding:0 4px;
}

.errors {
color:red;
float: left ;
font-family:Courier;
font-size:small ;
background:#edf3fe;
}

jquery.error {
font:normal 10px arial;
background-color:#ffc;
border:1px solid #c00;
margin:3px;
padding:3px;
}

span.pme-key-1,a.pme-key-1 {
color:#004d9c;
background-color:#0f0;
}

span.pme-key-debit,a.pme-key-debit {
color:#000;
font-size:8pt;
background-color:red;
}

span.pme-key-sale,a.pme-key-sale {
color:#000;
font-size:8pt;
background-color:#ffc;
}

 {
font-family:Courier;
}

label {
width:small 10em;
float:left;
}

label.error {
float:none;
color:red;
padding-left:.5em;
vertical-align:top;
}

.submit {
margin-left:12em;
}

em {
font-weight:700;
padding-right:1em;
vertical-align:top;
}

.str {
color:#00A;
}

.kwd {
color:#808;
}

.com {
color:#777;
}

.typ {
color:#088;
}

.lit {
color:#800;
}

.pln {
color:#002;
}

.tag {
color:#008;
}

.atv {
color:#080;
}

.box {
position:absolute;
height:98px;
width:98px;
background:#CCF;
border:1px solid #AAD;
text-align:center;
font-size:10px;
}

.handle {
cursor:move;
}

.point {
position:absolute;
height:4px;
width:4px;
background:#A00;
margin:-2px 0 0 -2px;
}

.drop {
height:202px;
width:202px;
float:left;
border:1px solid #AAA;
background:#CCC;
overflow:auto;
margin:10px;
padding:10px;
}

.dp {
text-align:".";
}

.hidden {
visibility:hidden;
display:none;
}

span.tagmatches span {
margin-right:4px;
background-color:#0000AB;
color:#fff;
cursor:pointer;
padding:2px;
}

.stats_summary {
display:none;
}

.linegraph,.linegraph_dark,.linegraph_small {
width:500px;
background-color:#fff;
margin-bottom:20px;
}

.linegraph_dark {
background-color:#999;
}

.linegraph_small {
width:400px;
height:200px;
}

#adminlink,#adminlinkewtab,#adminlinkhref,#adminlinkhrefnt {
display:none;
font-family:Agenda, sans-serif;
font-size:small;
// color:#666;
padding:5px;
}

.smallwhitetext a:hover,.smallgraytext a:hover {
text-decoration:underline;
}

a:active,.pun {
color:#000;
}

td.odd,td.even {
border:1px dotted;
padding:4px;
}

input.grey,input.small {
color:#004d9c;
background-color:#e0e0e0;
border:1px solid;
font-size:8pt;
text-decoration:none;
padding:3px;
}

td.pme-key-debit,.highlight {
color:red;
}

.atn,.dec {
color:#606;
}

.sparkline,.sparkbar {
display:inline-block;
height:30px;
margin:0 4px;
}

.sparkline div,.sparkbar div {
display:inline-block;
}

/* drop down menu  */

ul.dd {
  font-family: Arial, Verdana;
  font-size: 14px;
  margin: 0;
  z-index: 100 ;
  padding: 0;
  list-style: none;
}
ul.dd li.dd {
  display: block;
  z-index: 100 ;
  position: relative;
  float: left;
}
li.dd ul.dd { display: none; }
ul.dd li.dd a.dd {
  display: block;
  z-index: 100 ;
  text-decoration: none;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 5px 15px 5px 15px;
  background: #fffff;
  margin-left: 1px;
  white-space: nowrap;
}
ul.dd li.dd a.dd:hover { background: #617F8A; }
li.dd:hover ul.dd {
  display: block;
  
  z-index: 100 ;
  position: absolute;
}
li.dd:hover li.dd {
  float: none;
  padding: 5px 15px 5px 15px;
  z-index: 100 ;
  font-size: small;
}
li.dd:hover a.dd { background: #617F8A; }
li.dd:hover li.dd a.dd:hover { background: #95A9B1; }

/*file uploader */

.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
color:#004d9c;
background-color:#e0e0e0;
border:1px solid;
font-size:8pt;
text-decoration:none;
padding:3px;
}
.qq-upload-button-hover {background:#cc0000;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("/images/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}
