

<table>

<tbody class="stripy">

<form class="pme-form" id="form" action="/cgi-bin/cclite.cgi" method="post">
<input
 name="fromregistry" value="$$fieldsref{registry}" type="hidden">

<input
 name="action" value="transaction" type="hidden">

<input
 name="subaction" value="om_trades" type="hidden">

<input id="tradeStatus" "name="tradeStatus" value="" type="hidden">

<tr>

<td class="pme-key-1">
D&Atilde;&iexcl;tum
</td>

<td class="pme-value-1">

<input class="grey"
 name="tradeDate" size="11"  readonly="readonly" value="$$fieldsref{date}"
 type="text">
</td>

</tr>

<tr>

<td class="pme-key-0">
-Fi&Atilde;&sup3;kb&Atilde;&sup3;l
<br>

</td>

<td class="pme-value-1">

<input class="required" type="text" name="tradeSource" id="tradeSource" autocomplete="off"/>


</td>

</tr>

<tr>

<td class="pme-key-0">
Sz&Atilde;&iexcl;ml&Atilde;&iexcl;ra
<br>

</td>

<td class="pme-value-1">

<input class="required" type="text" name="tradeDestination" id="tradeDestination" autocomplete="off"/>


</td>
</tr>
<tr>

<td>
<span class="pme-key-0">
Rendszerle&Atilde;&shy;r&Atilde;&sup3; adatb&Atilde;&iexcl;zis
</span>
</td>
<td>
$$fieldsref{selectpartners}
</td>

</tr>

<tr>

<td class="pme-key-0">
P&Atilde;&copy;nznem
</td>

<td nowrap class="pme-value-0">
$$fieldsref{selectcurrency}
<span class="pme-key-0">
&Atilde;&#150;sszeg
</span>

<input class="required"
 name="tradeAmount" size="11" maxlength="11" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
</td>

<td class="pme-value-1">

</td>

</tr>

<tr>

<td class="pme-key-0">
Elemt&Atilde;&shy;pus
<br>

</td>

<td class="pme-value-0">

<select id="tradeItem" class="required" onchange="on_trade_change('tradeItem');" name="tradeItem">

<option value="goods">
&Atilde;&#129;ruk
</option>

<option value="services">
Szolg&Atilde;&iexcl;ltat&Atilde;&iexcl;sok
</option>

<option value="cashout">
K&Atilde;&copy;szp&Atilde;&copy;nzben
</option>

<option value="cashin">
K&Atilde;&copy;szp&Atilde;&copy;nz
</option>

<option value="other">
Egy&Atilde;&copy;b
</option>

</select>

</td>
</tr>
<tr>
<td>

<span class="pme-key-0">
Cikk c&Atilde;&shy;me
</span>
</td>
<td>

<input class="required"
 name="tradeTitle" size="50" maxlength="255" value="" type="text">

</td>

</tr>

<tr>

<td class="pme-key-1">
Cikk le&Atilde;&shy;r&Atilde;&iexcl;sa
</td>

<td class="pme-value-1">

<textarea class="required"
 name="tradeDescription" rows="3" cols="60">
</textarea>
</td>

</tr>

<table class="pme-navigation">

<tr class="pme-navigation">

<td class="pme-buttons">

<input class="pme-save"
 name="saveadd" value="Hogy &Atilde;&iexcl;tad&Atilde;&iexcl;sa" type="submit">
&nbsp;
<input class="pme-cancel"
 name="cancel" value="Vil&Atilde;&iexcl;gos" type="reset">

</td>

</tr>

</form>

</table>

</tbody>

</table>
