
<table>

<tbody class="stripy">

<tr>
<td class="pme-key-title">
A
</td>
<td class="pme-key-1">
$$fieldsref{tradeSource}
</td>
</tr>

<tr>
<td class="pme-key-title">
Le&Atilde;&shy;r&Atilde;&iexcl;s
</td>
<td class="pme-key-1">
$$fieldsref{tradeDescription}
</td>
</tr>

<tr>
<td class="pme-key-title">
A
</td>
<td class="pme-key-1">
$$fieldsref{tradeDestination}
</td>
</tr>

<tr>
<td class="pme-key-title">
C&amp;Atilde;&amp;shy;m
</td>
<td class="pme-key-1">
$$fieldsref{tradeTitle}
</td>
</tr>

<tr>
<td class="pme-key-title">
T&amp;Atilde;&amp;shy;pusa
</td>
<td class="pme-key-1">
$$fieldsref{tradeType}
</td>
</tr>

<tr>
<td class="pme-key-title">
D&amp;Atilde;&amp;iexcl;tum
</td>
<td class="pme-key-1">
$$fieldsref{tradeDate}
</td>
</tr>

<tr>
<td class="pme-key-title">
Cikk
</td>
<td class="pme-key-1">
$$fieldsref{tradeItem}
</td>
</tr>

<tr>
<td class="pme-key-title">
Id&Aring;&#145;b&Atilde;&copy;lyegz&Aring;&#145;
</td>
<td class="pme-key-1">
$$fieldsref{tradeStamp}
</td>
</tr>

<tr>
<td class="pme-key-title">
Rendszerle&Atilde;&shy;r&Atilde;&sup3; adatb&Atilde;&iexcl;zis
</td>
<td class="pme-key-1">
$$fieldsref{tradeMirror}
</td>
</tr>

<tr>
<td class="pme-key-title">
&amp;Atilde;&amp;#129;llapot
</td>
<td class="pme-key-1">
$$fieldsref{tradeStatus}
</td>
</tr>

<tr>
<td class="pme-key-title">
P&Atilde;&copy;nznem
</td>
<td class="pme-key-1">
$$fieldsref{tradeCurrency}
</td>
</tr>

<tr>
<td class="pme-key-title">
&amp;Atilde;&amp;#150;sszeg
</td>
<td class="pme-key-1">
$$fieldsref{tradeAmount}
</td>
</tr>

<tr>
<td class="pme-key-title">
Kereskedelmi referencia
</td>
<td class="pme-key-1">
$$fieldsref{tradeHash}
</td>
</tr>

</tbody>

</table>
