
<table>

<tbody class="stripy">

<tr>
<td class="pme-key-title">
A
</td>
<td class="pme-key-1">
$$fieldsref{tradeSource}
</td>
</tr>

<tr>
<td class="pme-key-title">
Leírás
</td>
<td class="pme-key-1">
$$fieldsref{tradeDescription}
</td>
</tr>

<tr>
<td class="pme-key-title">
A
</td>
<td class="pme-key-1">
$$fieldsref{tradeDestination}
</td>
</tr>

<tr>
<td class="pme-key-title">
Cím
</td>
<td class="pme-key-1">
$$fieldsref{tradeTitle}
</td>
</tr>

<tr>
<td class="pme-key-title">
Típus
</td>
<td class="pme-key-1">
$$fieldsref{tradeType}
</td>
</tr>

<tr>
<td class="pme-key-title">
Dátum
</td>
<td class="pme-key-1">
$$fieldsref{tradeDate}
</td>
</tr>

<tr>
<td class="pme-key-title">
Cikk
</td>
<td class="pme-key-1">
$$fieldsref{tradeItem}
</td>
</tr>

<tr>
<td class="pme-key-title">
Időbélyegző
</td>
<td class="pme-key-1">
$$fieldsref{tradeStamp}
</td>
</tr>

<tr>
<td class="pme-key-title">
A rendszerleíró adatbázis
</td>
<td class="pme-key-1">
$$fieldsref{tradeMirror}
</td>
</tr>

<tr>
<td class="pme-key-title">
Állapot
</td>
<td class="pme-key-1">
$$fieldsref{tradeStatus}
</td>
</tr>

<tr>
<td class="pme-key-title">
Pénznem
</td>
<td class="pme-key-1">
$$fieldsref{tradeCurrency}
</td>
</tr>

<tr>
<td class="pme-key-title">
Összeg
</td>
<td class="pme-key-1">
$$fieldsref{tradeAmount}
</td>
</tr>

<tr>
<td class="pme-key-title">
Kereskedelmi hivatkozási
</td>
<td class="pme-key-1">
$$fieldsref{tradeHash}
</td>
</tr>

</tbody>

</table>
