
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC" />


<meta name="author" content="hugh barnard" />


<link type="text/css" href="/styles/default.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="Kísérleti cclite link" href="/html/en/rdf/chelsea.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<title>
Cclite 0.9.0 számára a türelmetlen
</title>

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script type="text/javascript">
function stripe() {&#xD;     striper ("tbody", "stripy", "tr", 'páratlan, akár');&#xD;}
</script>

</head>

<body>

<div id="page" align="center">

<div id="toppage" align="center">

</div>

<div id="header" align="center">

<h1>
<a title="A türelmetlen for Cclite" href="/">
Cclite Quickstart
</a>
</h1>

</div>

</div>

<div id="content" align="center">

<div id="menu" align="right">

<div id="linksmenu" align="center">

<a title="Installer" href="/cgi-bin/protected/ccinstall.cgi">
Webes beiktató
</a>
|
<a  title="Felhasználói bejelentkezés" href="/cgi-bin/cclite.cgi">
Felhasználói bejelentkezés
</a>
|
<a title="Admin Menu (must be logged on first)" href="/cgi-bin/protected/ccadmin.cgi">
Közigazgatás
</a>
|
</div>

</div>

<div id="contenttext">

<div style="margin:100px;}padding:12px;" align="justify">

<ol>

<li>
Használata
<a title="A telepítő telepítés elemzése" href="/cgi-bin/protected/ccinstall.cgi">
a telepítés elemzése
</a>
a jelenlegi telepítés elemzése
</li>

<li>
Használata
<a href="/cgi-bin/protected/ccinstall.cgi">
a telepítő
</a>
a konfigurációs értékek beállítása
<strong>
adatbázis-felhasználó és jelszó
</strong>
</li>

<li>
<a title="A rendszerleíró adatbázis létrehozása" href="/cgi-bin/protected/ccinstall.cgi?action=template&name=registry.html">
A rendszerleíró adatbázis létrehozása
</a>
(trading group) for your system, for example,
<span class="system">
Milnthorpe Rd
</span>
,
<span class="system">
Newington
</span>
,
<span class="system">
Islington
</span>
A rendszerleíró adatbázis egy mysql adatbázis...
</li>

<li>
<a title="Kezelő bejelentkezésének" href="/cgi-bin/cclite.cgi">
Kezelő bejelentkezésének
</a>
A rendszerleíró adatbázis, mint a bejelentkezési
<span class="system">
Manager
</span>
jelszóval
<span class="system">
Manager
</span>
</li>

<li>
<a title="Egy pénznem beállítása" href="/cgi-bin/protected/ccadmin.cgi?action=template&name=currency.html">
(when Manager) Set up a currency or two
</a>
</li>

<li>

<a title="Hozzon létre a felhasználók, vagy hadd jöjjön" href="/cgi-bin/cclite.cgi?action=template&name=newuser.html">
Hozzon létre a felhasználók, vagy hadd jöjjön
</a>
Hozzon létre a felhasználók, és tájékoztassa őket a kereskedelmet.
</li>

<li>

<b>
Ne feledje, távolítsa el vagy tiltsa le a telepítő és a sysaccount és az admin jelszavak módosítása. Távolítsa el a this page is!
</b>
</li>

</ol>

</div>

<div class="panel" align="justify">

<span class="bodytext">

<div style="margin:50px;}padding:12px;" align="justify">
Kötegelt feldolgozások, például rss írás, olvasás a kötegelt tranzakció bemeneti és grafikonozás jelenleg a rendszergazda kezelése lapon. Ők tud&#xD;egyenesen a webről futtatható nélkül használ Banya. Cron néhány módosítást kell tenni a parancsfájlokban.
</div>

</span>

</div>

</div>

</div>

<div id="footer" class="smallgraytext" align="center">

<a href="http://groups.google.co.uk/group/cclite">
Súgó a Cclite
</a>
<br />

Cclite 
<br />


</div>

</div>

</body>

</html>
