
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC" />


<meta name="author" content="hugh barnard" />


<link type="text/css" href="/styles/default.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="K&Atilde;&shy;s&Atilde;&copy;rleti cclite link" href="/html/en/rdf/chelsea.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<title>
Cclite 0.9.0 sz&Atilde;&iexcl;m&Atilde;&iexcl;ra a t&Atilde;&frac14;relmetlen
</title>

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script type="text/javascript">
function stripe() {&amp;#xD;     striper (&quot;tbody&quot;, &quot;stripy&quot;, &quot;tr&quot;, &#39;p&Atilde;&iexcl;ratlan, ak&Atilde;&iexcl;r&#39;);&amp;#xD;}
</script>

</head>

<body>

<div id="page" align="center">

<div id="toppage" align="center">

</div>

<div id="header" align="center">

<h1>
<a title="A t&Atilde;&frac14;relmetlen for Cclite" href="/">
Cclite Quickstart
</a>
</h1>

</div>

</div>

<div id="content" align="center">

<div id="menu" align="right">

<div id="linksmenu" align="center">

<a title="Installer" href="/cgi-bin/protected/ccinstall.cgi">
Webes beiktat&Atilde;&sup3;
</a>
|
<a  title="Felhaszn&Atilde;&iexcl;l&Atilde;&sup3;i bejelentkez&Atilde;&copy;s" href="/cgi-bin/cclite.cgi">
Felhaszn&amp;Atilde;&amp;iexcl;l&amp;Atilde;&amp;sup3;i bejelentkez&amp;Atilde;&amp;copy;s
</a>
|
<a title="Admin Menu (must be logged on first)" href="/cgi-bin/protected/ccadmin.cgi">
K&Atilde;&para;zigazgat&Atilde;&iexcl;s
</a>
|
</div>

</div>

<div id="contenttext">

<div style="margin:100px;}padding:12px;" align="justify">

<ol>

<li>
Haszn&Atilde;&iexcl;lata
<a title="A telep&Atilde;&shy;t&Aring;&#145; telep&Atilde;&shy;t&Atilde;&copy;s elemz&Atilde;&copy;se" href="/cgi-bin/protected/ccinstall.cgi">
a telep&Atilde;&shy;t&Atilde;&copy;s elemz&Atilde;&copy;se
</a>
a jelenlegi telep&Atilde;&shy;t&Atilde;&copy;s elemz&Atilde;&copy;se
</li>

<li>
Haszn&amp;Atilde;&amp;iexcl;lata
<a href="/cgi-bin/protected/ccinstall.cgi">
a telep&Atilde;&shy;t&Aring;&#145;
</a>
a konfigur&Atilde;&iexcl;ci&Atilde;&sup3;s &Atilde;&copy;rt&Atilde;&copy;kek be&Atilde;&iexcl;ll&Atilde;&shy;t&Atilde;&iexcl;sa
<strong>
adatb&Atilde;&iexcl;zis-felhaszn&Atilde;&iexcl;l&Atilde;&sup3; &Atilde;&copy;s jelsz&Atilde;&sup3;
</strong>
</li>

<li>
<a title="A rendszerle&Atilde;&shy;r&Atilde;&sup3; adatb&Atilde;&iexcl;zis l&Atilde;&copy;trehoz&Atilde;&iexcl;sa" href="/cgi-bin/protected/ccinstall.cgi?action=template&name=registry.html">
A rendszerle&Atilde;&shy;r&Atilde;&sup3; adatb&Atilde;&iexcl;zis l&Atilde;&copy;trehoz&Atilde;&iexcl;sa
</a>
(trading group) for your system, for example,
<span class="system">
Milnthorpe Rd
</span>
,
<span class="system">
Newington
</span>
,
<span class="system">
Islington
</span>
A rendszerle&Atilde;&shy;r&Atilde;&sup3; adatb&Atilde;&iexcl;zis egy mysql adatb&Atilde;&iexcl;zis...
</li>

<li>
<a title="Kezel&Aring;&#145; bejelentkez&Atilde;&copy;s&Atilde;&copy;nek" href="/cgi-bin/cclite.cgi">
Kezel&Aring;&#145; bejelentkez&Atilde;&copy;s&Atilde;&copy;nek
</a>
A rendszerle&Atilde;&shy;r&Atilde;&sup3; adatb&Atilde;&iexcl;zis, mint a bejelentkez&Atilde;&copy;si
<span class="system">
Manager
</span>
jelsz&Atilde;&sup3;val
<span class="system">
Manager
</span>
</li>

<li>
<a title="Egy p&Atilde;&copy;nznem be&Atilde;&iexcl;ll&Atilde;&shy;t&Atilde;&iexcl;sa" href="/cgi-bin/protected/ccadmin.cgi?action=template&name=currency.html">
(when Manager) Set up a currency or two
</a>
</li>

<li>

<a title="Hozzon l&Atilde;&copy;tre a felhaszn&Atilde;&iexcl;l&Atilde;&sup3;k, vagy hadd j&Atilde;&para;jj&Atilde;&para;n" href="/cgi-bin/cclite.cgi?action=template&name=newuser.html">
Hozzon l&Atilde;&copy;tre a felhaszn&Atilde;&iexcl;l&Atilde;&sup3;k, vagy hadd j&Atilde;&para;jj&Atilde;&para;n
</a>
Hozzon l&Atilde;&copy;tre a felhaszn&Atilde;&iexcl;l&Atilde;&sup3;k, &Atilde;&copy;s t&Atilde;&iexcl;j&Atilde;&copy;koztassa &Aring;&#145;ket a kereskedelmet.
</li>

<li>

<b>
Ne feledje, t&Atilde;&iexcl;vol&Atilde;&shy;tsa el vagy tiltsa le a telep&Atilde;&shy;t&Aring;&#145; &Atilde;&copy;s a sysaccount &Atilde;&copy;s az admin jelszavak m&Atilde;&sup3;dos&Atilde;&shy;t&Atilde;&iexcl;sa. T&Atilde;&iexcl;vol&Atilde;&shy;tsa el a this page is!
</b>
</li>

</ol>

</div>

<div class="panel" align="justify">

<span class="bodytext">

<div style="margin:50px;}padding:12px;" align="justify">
K&Atilde;&para;tegelt feldolgoz&Atilde;&iexcl;sok, p&Atilde;&copy;ld&Atilde;&iexcl;ul rss &Atilde;&shy;r&Atilde;&iexcl;s, olvas&Atilde;&iexcl;s a k&Atilde;&para;tegelt tranzakci&Atilde;&sup3; bemeneti &Atilde;&copy;s grafikonoz&Atilde;&iexcl;s jelenleg a rendszergazda kezel&Atilde;&copy;se lapon. &Aring;&#144;k tud&amp;#xD;egyenesen a webr&Aring;&#145;l futtathat&Atilde;&sup3; n&Atilde;&copy;lk&Atilde;&frac14;l haszn&Atilde;&iexcl;l Banya. Cron n&Atilde;&copy;h&Atilde;&iexcl;ny m&Atilde;&sup3;dos&Atilde;&shy;t&Atilde;&iexcl;st kell tenni a parancsf&Atilde;&iexcl;jlokban.
</div>

</span>

</div>

</div>

</div>

<div id="footer" class="smallgraytext" align="center">

<a href="http://groups.google.co.uk/group/cclite">
S&Atilde;&ordm;g&Atilde;&sup3; a Cclite
</a>
<br />

Cclite 
<br />


</div>

</div>

</body>

</html>
