
<table>

<tbody class="stripy">

<form class="pme-form" id="form" action="/cgi-bin/cclite.cgi" method="post">
<input
 name="fromregistry" value="$$fieldsref{registry}" type="hidden">

<input
 name="action" value="splittransaction" type="hidden">

<input
 name="subaction" value="om_trades" type="hidden">

<tr>

<td class="pme-key-1">
D&amp;Atilde;&amp;iexcl;tum
</td>

<td class="pme-value-1">

<input class="grey"
 name="tradeDate" size="11"  readonly="readonly" value="$$fieldsref{date}"
 type="text">
</td>

</tr>

<tr>

<td class="pme-key-0">
-Fi&amp;Atilde;&amp;sup3;kb&amp;Atilde;&amp;sup3;l
<br>

</td>

<td class="pme-value-1">

<input class="grey"
 name="tradeSource" size="11" readonly="readonly" value="$$fieldsref{userLogin}" type="text">

</td>

</tr>

<tr>

<td class="pme-key-0">
Sz&amp;Atilde;&amp;iexcl;ml&amp;Atilde;&amp;iexcl;ra
<br>

</td>

<td class="pme-value-1">

<!-- Ha nem szeretn&Atilde;&copy;nk, hogy autosuggest&amp;#xD; decomment ez &Atilde;&copy;s tesz a vonalak alul&amp;#xD; Megjegyz&Atilde;&copy;sek t&Atilde;&para;rt&Atilde;&copy;n&Aring;&#145; upto&amp;lt;input class=&quot;pme-input-1&quot; name=&quot;tradeDestination&quot; size=&quot;11&quot; maxlength=&quot;11&quot; type=&quot;text&quot;&amp;gt; -->

<input type="text" class="required" name="tradeDestination" id="tradeDestination" autocomplete="off"/>


<div  class="autocomplete" id="suggestionBox" >
</div>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  var myAutoCompleter = new Ajax.Autocompleter('tradeDestination', 'suggestionBox', '/cgi-bin/ccsuggest.cgi', {});
		// ]]>
</script>

<span class="pme-key-0">
Rendszerle&amp;Atilde;&amp;shy;r&amp;Atilde;&amp;sup3; adatb&amp;Atilde;&amp;iexcl;zis
</span>
$$fieldsref{selectpartners}
</td>

</tr>

<tr>

<td class="pme-key-0">
P&Atilde;&copy;nznem
</td>

<td nowrap class="pme-value-0">
$$fieldsref{selectcurrency}
<span class="pme-key-0">
&amp;Atilde;&amp;#150;sszeg
</span>

<input class="required" id="tradeAmount" onChange="validatedecimals(this,this.value);" name="tradeAmount" size="11" maxlength="11" type="text">

</td>

</tr>

<tr>

<td class="pme-key-0">

<tr class="pme-row-0">

<td class="pme-key-0">
M&Atilde;&iexcl;sodlagos p&Atilde;&copy;nznemben
</td>

<td class="pme-value-0">
$$fieldsref{sselectcurrency}
<span class="pme-key-0">
M&Atilde;&iexcl;sodlagos &Atilde;&para;sszeg
<input class="required" name="stradeAmount" id="stradeAmount"  onChange="validatedecimals(this,this.value);"  size="11" maxlength="11" type="text">

</td>

</tr>

</td>

<td class="pme-value-1">

</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
Elemt&amp;Atilde;&amp;shy;pus
<br>

</td>

<td class="pme-value-0">

<select class="required" name="tradeItem">

<option value="goods">
&amp;Atilde;&amp;#129;ruk
</option>

<option value="services">
Szolg&amp;Atilde;&amp;iexcl;ltat&amp;Atilde;&amp;iexcl;sok
</option>

<option value="other">
Egy&amp;Atilde;&amp;copy;b
</option>

</select>

<span class="pme-key-0">
Cikk c&amp;Atilde;&amp;shy;me
</span>

<input class="required"
 name="tradeTitle" size="60" maxlength="255" value="" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
Cikk le&amp;Atilde;&amp;shy;r&amp;Atilde;&amp;iexcl;sa
</td>

<td class="pme-value-1">

<textarea class="required"
 name="tradeDescription" rows="3" cols="60">
</textarea>
</td>

</tr>

<table class="pme-navigation">

<tr class="pme-navigation">

<td class="pme-buttons">

<input class="pme-save"
 name="saveadd"  value="Hogy &amp;Atilde;&amp;iexcl;tad&amp;Atilde;&amp;iexcl;sa" type="submit">
&nbsp;
<input class="pme-cancel"
 name="cancel" value="Vil&Atilde;&iexcl;gos" type="reset">

</td>

</tr>

</form>

</table>

</tbody>

</table>
