
<form class="pme-form" id="form" action="/cgi-bin/cclite.cgi" method="post">

<input name="action" value="update" type="hidden">

<input name="subaction" value="om_users" type="hidden">

<input name="userId" value="$$fields{userId}" type="hidden">

<table class="pme-main" summary="om_users">

<tbody class="stripy">

<tr class="pme-row-1">

<td class="pme-key-1">
UserLogin
</td>

<td class="pme-value-0">

<input class="grey"
 name="userLogin" readonly="readonly" size="40" maxlength="255" value="$$fields{userLogin}" type="text">
</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
Felhasználói jelszó
</td>

<td class="pme-value-0">

<input class="pme-input-0"
 name="userPassword" size="32" maxlength="32" value="" type="password">
</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
Jelszó megerősítése
</td>

<td class="pme-value-0">

<input class="pme-input-0"
 name="confirmPassword" size="32" maxlength="32" value="" type="password">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
UserEmail
</td>

<td class="pme-value-1">

<input id="muserEmail" class="required email"
 name="userEmail" size="40" maxlength="255" value="$$fields{userEmail}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Szám/ház neve
</td>

<td class="pme-value-1">

<input class="required"
 name="userNameornumber" size="30" maxlength="30" value="$$fields{userNameornumber}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Utcanév
</td>

<td class="pme-value-1">

<input class="required"
 name="userStreet" size="40" maxlength="40" value="$$fields{userStreet}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Város
</td>

<td class="pme-value-1">

<input class="required"
 name="userTown" size="40" maxlength="40" value="$$fields{userTown}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Megye/állami
</td>

<td class="pme-value-1">

<input class="required"
 name="userArea" size="40" maxlength="40" value="$$fields{userArea}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Postai irányítószám
</td>

<td class="pme-value-1">

<input class="required"
 name="userPostcode" size="10" maxlength="10" value="$$fieldsref{userPostcode}" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Mozgatható telefon
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userMobile" size="15" maxlength="15" value="$$fields{userMobile}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Mobiltelefon ügyleteket PIN-kódja
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userPin" size="6" maxlength="6" value="" type="password">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Erősítse meg a PIN-kódot a mobiltelefon ügyleteket
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="cuserPin" size="6" maxlength="6" value="" type="password">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
SMS fizetési bizonylatait
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userSmsreceipt" value="$$fieldsref{userSmsreceipt}" type="checkbox">
</td>

</tr>

<tr class="pme-row-1">

<td title="a titkosított tranzakciók nyilvános kulcs azonosítója" class="pme-key-0">
Nyilvános kulcs azonosítója
</td>

<td class="pme-value-1">

<input class="pme-input-1"
 name="userPublickeyid" size="20" maxlength="20" value="$$fieldsref{userPublickeyid}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
Nyelv
</td>

<td class="pme-value-1">

<select name="userLang">

<option value="de">
Deutsch
</option>

<option selected value="en">
angol
</option>

<option value="fr">
Fran
</option>

</select>

</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-0">
Felhasználónév
</td>

<td class="pme-value-0">

<input class="required"
 name="userName" size="40" maxlength="255" value="$$fields{userName}" type="text">
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-1">
Holiday vagy az aktív
</td>

<td class="pme-value-1">

<select name="userStatus">

<option selected value="active">
Aktív
</option>

<option value="holiday">
Nyaralás
</option>

</select>

</td>

</tr>

</tbody>

</table>

<hr class="pme-hr">

<table class="pme-navigation">

<tbody>

<tr class="pme-navigation">

<td class="pme-buttons">

<input class="pme-save" name="saveadd"
 value="Mentés" type="submit">
&nbsp;
<input class="pme-cancel"
 name="cancel" value="Mégse"  type="reset">

</td>

</tr>

</tbody>

</table>

</form>
