
<table class="pme-main" summary="om_users">

<tbody class="stripy">

<tr class="pme-row-1">

<td class="pme-key-title">
UserLogin
</td>

<!-- duserLogin digunakan untuk membedakan dari userLogin, diproses umumnya -->

<td class="pme-value-0">
$$fields{duserLogin}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
UserEmail
</td>

<td class="pme-value-1">
$$fields{userEmail}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
Jalan
</td>

<td class="pme-value-1">
$$fields{userNameornumber} $$fields{userStreet}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
Kota/Kabupaten
</td>

<td class="pme-value-1">
$$fields{userTown} $$fields{userArea}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
Ponsel
</td>

<td class="pme-value-1">
$$fields{userMobile}
</td>

</tr>

<tr class="pme-row-0">

<td class="pme-key-title">
Nama
</td>

<td class="pme-value-0">
$$fields{userName}
</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-title">
Liburan atau aktif
</td>

<td class="pme-value-1">
$$fieldsref{userStatus}
</td>

</tr>

</tbody>

</table>
