

<table>

<tr>
<td>

<a href="mailto:$$fieldsref{userEmail}">
$$fieldsref{type} by $$fieldsref{fromuserid}
</a>

<table>

<tbody class="stripy">

<tr>
<td class="pme-key-title">
Dari
</td>
<td class="pme-key-1">
</td>
</tr>

<tr>
<td class="pme-key-title">
Tanggal ditambahkan
</td>
<td class="pme-key-1">
$$fieldsref{dt}
</td>
</tr>

<tr>
<td class="pme-key-title">
Status
</td>
<td class="pme-key-1">
$$fieldsref{userStatus}
</td>
</tr>

<tr>
<td class="pme-key-title">
Kategori
</td>
<td class="pme-key-1">
$$fieldsref{keywords}
</td>
</tr>

<tr>
<td class="pme-key-title">
Membayar di
</td>
<td class="pme-key-1">
$$fieldsref{tradeCurrency}s
</td>
</tr>

<tr>
<td class="pme-key-title">
Judul
</td>
<td class="pme-key-1">
$$fieldsref{subject}
</td>
</tr>

<tr>
<td class="pme-key-title">
Deskripsi
</td>
<td class="pme-key-1">
$$fieldsref{description}
</td>
</tr>

<tr>
<td class="pme-key-title">
Tag
</td>
<td class="pme-key-1">
$$fieldsref{yellowtags}
</td>
</tr>

<tr>
<td class="pme-key-title">
Membayar 100% CC
</td>
<td class="pme-key-1">
$$fieldsref{truelets}
</td>
</tr>

<tr>
<td class="pme-key-title">
Harga
</td>
<td class="pme-key-1">
$$fieldsref{price} $$fieldsref{tradeCurrency}s per $$fieldsref{unit}
</td>
</tr>

</tbody>

</table>

</td>

<td>

<table>

<tr>

<td>

</td>

</tr>

<tr>

<td>

<h4>
Hari Trading dan keseimbangan $$fieldsref{fromuserid}
</h4>

</td>

</tr>

<tr>

<td>
$$fieldsref{balanceandvolume}
</td>

</tr>

<td>

<tr>
$$fieldsref{volumes}
</td>

</tr>

</table>

</td>
</tr>

</table>
