
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC" />


<meta name="author" content="hugh barnard" />


<link type="text/css" href="/styles/default.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="Eksperimental cclite link" href="/html/en/rdf/chelsea.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<title>
Cclite 0.9.0 untuk tidak sabar
</title>

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script type="text/javascript">
fungsi stripe() {}&#xD;     Striper ('tbody', 'stripy', 'tr', 'aneh, bahkan');&#xD;}
</script>

</head>

<body>

<div id="page" align="center">

<div id="toppage" align="center">

</div>

<div id="header" align="center">

<h1>
<a title="Cclite untuk tidak sabar" href="/">
Cclite Quickstart
</a>
</h1>

</div>

</div>

<div id="content" align="center">

<div id="menu" align="right">

<div id="linksmenu" align="center">

<a title="installer" href="/cgi-bin/protected/ccinstall.cgi">
Web Installer
</a>
|
<a  title="Logon pengguna" href="/cgi-bin/cclite.cgi">
Logon pengguna
</a>
|
<a title="Admin Menu (must be logged on first)" href="/cgi-bin/protected/ccadmin.cgi">
Administrasi
</a>
|
</div>

</div>

<div id="contenttext">

<div style="margin:100px;}padding:12px;" align="justify">

<ol>

<li>
Penggunaan
<a title="Instalasi analisis dalam installer" href="/cgi-bin/protected/ccinstall.cgi">
Analisis instalasi
</a>
menganalisa keadaan saat ini instalasi
</li>

<li>
Penggunaan
<a href="/cgi-bin/protected/ccinstall.cgi">
installer
</a>
mengatur nilai-nilai konfigurasi,
<strong>
database pengguna dan password
</strong>
</li>

<li>
<a title="Membuat Registry" href="/cgi-bin/protected/ccinstall.cgi?action=template&name=registry.html">
Membuat registry
</a>
(trading group) for your system, for example,
<span class="system">
Dalston
</span>
,
<span class="system">
Newington
</span>
,
<span class="system">
Islington
</span>
Registry adalah satu database mysql...
</li>

<li>
<a title="Logon sebagai manajer" href="/cgi-bin/cclite.cgi">
Logon sebagai manajer
</a>
Logon ke registri Anda sebagai
<span class="system">
Manajer
</span>
dengan password
<span class="system">
Manajer
</span>
</li>

<li>
<a title="Mengatur mata uang" href="/cgi-bin/protected/ccadmin.cgi?action=template&name=currency.html">
(when Manager) Set up a currency or two
</a>
</li>

<li>

<a title="Membuat pengguna atau membiarkan mereka datang" href="/cgi-bin/cclite.cgi?action=template&name=newuser.html">
Membuat pengguna atau membiarkan mereka datang
</a>
Membuat pengguna dan membiarkan mereka perdagangan.
</li>

<li>

<b>
Ingatlah untuk menghapus atau menonaktifkan installer dan mengubah sysaccount dan admin Password. Menghapus Halaman ini juga!
</b>
</li>

</ol>

</div>

<div class="panel" align="justify">

<span class="bodytext">

<div style="margin:50px;}padding:12px;" align="justify">
Batch pekerjaan penulisan rss, membaca batch transaksi masukan dan grafik yang sekarang pada halaman manajemen untuk administrator. Mereka dapat&#xD;dapat dijalankan langsung dari web tanpa menggunakan cron. Cron, beberapa modifikasi perlu dilakukan dalam script.
</div>

</span>

</div>

</div>

</div>

<div id="footer" class="smallgraytext" align="center">

<a href="http://groups.google.co.uk/group/cclite">
Membantu dengan Cclite
</a>
<br />

Cclite 
<br />


</div>

</div>

</body>

</html>
