<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Cclite $$fieldsref{version} User</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="cclite community currency system" />
	<meta name="keywords" content="LETS CC finance currency" />
	<meta name="author" content="hugh barnard" />
         $$fieldsref{metarefresh}

	<!-- stylesheets -->
        <link href="/styles/default.css" rel="stylesheet" type="text/css" />
	<!--<link type="text/css" href="/styles/cc.css" rel="stylesheet" />-->
	<link rel="alternate" type="application/rss+xml" 
	title="$$fieldsref{registry} feed" href="/out/rss/$$fieldsref{registry}/$$fieldsref{language}/all.rdf"/>
	<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />
	<link rel="stylesheet" type="text/css" href="/javascript/jquery-autocomplete/jquery.autocomplete.css" />

        <!-- datatables later -->
	<!--<link rel="stylesheet" type="text/css" href="/javascript/jquery-datatables/js/css/demo_page.css" />
        <link rel="stylesheet" type="text/css" href="/javascript/jquery-datatables/js/css/demo_table.css"/> -->
		
	<!-- javascript libraries, need to subsitute compressed versions at some stage -->
	<!-- jquery items -->
	<script src="/javascript/jquery-1.3.2.js"></script>
	<script src="/javascript/jquery-validation-1.5.5.js"></script>
	<script src="/javascript/jquery-cookies.js"></script>
	<script type='text/javascript' src='/javascript/jquery-autocomplete/lib/jquery.ajaxQueue.js'></script>
	<script type='text/javascript' src='/javascript/jquery-autocomplete/jquery.autocomplete.js'></script>
	<script type='text/javascript' src='/javascript/jquery-tooltip/jquery.qtip-1.0.0-rc3.min.js'></script>
	<script type='text/javascript' src='/javascript/jquery-autocomplete/lib/jquery.bgiframe.min.js'></script>
	<!--<script type='text/javascript' src='/javascript/jquery-datatables/js/jquery.dataTables.js'></script>-->

	<!-- others non jquery -->
	<script type='text/javascript' src='/javascript/jshashtable-2.1.js'></script>
	<script src="/javascript/jquery-tagsuggest.js"></script>
	<script src="/javascript/json_parse.js" type="text/javascript"></script>
       
        <!-- graphing -->
         <script  src="/javascript/flot/jquery.flot.js" type="text/javascript" ></script>

	<!-- specific, is cookies necessary now? -->
	<script src="/javascript/cookies.js" type="text/javascript"></script>
	<script src="/javascript/striper.js" type="text/javascript"></script>
	<script src="/javascript/cclite.js" charset="utf-8" type="text/javascript"></script>    
    <!-- this is the script that logs users out when the system is being brought down -->
    <script type="text/javascript">
     $$fieldsref{logout_script}
    </script>




</head>
<body>
<!-- this switch turns on/off the decimal point stuff -->
<div id="usedecimals" class="hidden">$$fieldsref{usedecimals}</div>
<!-- search for users,trades, ads -->
<br/>
<div align="right">       
		<form style='display:inline;' class="searchform" action="/cgi-bin/cclite.cgi" method="post">
			<input name="action" value="find" type="hidden">
			<input class="search" onfocus="if(this.value == this.defaultValue) this.value = ''" value="search" name="search_string" id="search_string"  size="10" type="text">
			<select id="search_type" class="small" name="search_type">
					<option selected value='trade'>Transactions</option>
					<option value='user'>Users</option>
					<option value='ad'>Adverts</option>
	        </select>	
	        <input value="Go" class="small" type="submit" title="Look for trades, ads or users">								
		</form>
       

<!-- end of autocomplete search box -->
       <span id="status_message">$$fieldsref{status_message}</span>
       
			<!-- language selector version 1  -->
				<select id="language_value" class="small" onchange="change_language(this);" name="language">
				<!--	<option value='en'>English</option>
					<option value='ar'>Arabic</option>
					<option value='bn'>Bengali [partial]</option>
					<option value='zh'>Chinese</option>
					<option value='de'>Deutsch</option>
					<option value='nl'>Dutch</option>
					<option value='fr'>Francais</option>
					<option value='es'>Espagnol</option>
					<option value='it'>Italiano</option>
					<option value='el'>Greek</option>
					<option value='ja'>Japanese</option>
					<option value='ko'>Korean</option>
					<option value='pt'>Portugese</option>
					<option value='ro'>Romanian</option>
					<option value='ru'>Russian</option>
					<option value='th'>Thai</option>
					<option value='vi'>Vietnamese</option> -->
				</select>
			<!--  language selector version 1 end  -->

   <span id="logoninfo">$$fieldsref{youare} $$fieldsref{atregistry}
      <span ><a title="Logout $$fieldsref{user}" href="/cgi-bin/cclite.cgi?action=logoff">
             <span id="logoff"></span></a>
   </span></span>	

</div> 


<div id="outer">
	<div id="header">
		<h1><a href="/cgi-bin/cclite.cgi">Cclite User</a></h1>

	</div>
	
	<div id="menu">
		<span class="news">$$fieldsref{latest_news}</span>	
		<ul>
                        <li class="first"><a id="adminlinkhref" title="Administration menu" href="/cgi-bin/protected/ccadmin.cgi">
                         <span id="adminlink"></span>
                      </a></li>

                        <li>              <a id="adminlinkhrefnt" title="administration menu in new tab" target="_blank" href="/cgi-bin/protected/ccadmin.cgi">
                         <span id="adminlinknewtab"></span>
                      </a> 
</li>
			<li><a title="Transfer Currency or Hours" href="/cgi-bin/cclite.cgi?action=template&amp;name=trades.html">Payment</a></li>
			<li><a  title="Forgot Your Password?" href="/cgi-bin/cclite.cgi?action=template&name=forgotpass.html">Forgotten Password?</a> </li>
			<li><a title="Add Openid" href="/cgi-bin/cclite.cgi?action=template&name=openid.html">Add Openid</a> </li>
			<li><a title="List Openids" href="/cgi-bin/cclite.cgi?action=showopenid">List Openids</a> </li>
			<li><a title="Create a New Account" href="/cgi-bin/cclite.cgi?action=template&amp;name=newuser.html">New Account</a> </li>
			<li><a title="Modify Your Account Details" href="/cgi-bin/cclite.cgi?action=modifyuser">Modify Account</a></li>
			<li><a title="Split Payment for Goods or Services" href="/cgi-bin/cclite.cgi?action=template&amp;name=splittrade.html">Split Payment</a></li>
			<li><a title="Show My Transactions" href="/cgi-bin/cclite.cgi?action=showtrans">Transactions</a></li>
			<li><a title="Show My Balances" href="/cgi-bin/cclite.cgi?action=showbalvol">Balances</a></li>
			<li><a title="Show the Goods and Services Directory" href="/cgi-bin/cclite.cgi?action=showyellowdir1&getdetail=1">Goods/Services</a></li>
			<li><a title="Show My Ads in the Goods and Services Directory" href="/cgi-bin/cclite.cgi?action=showmyyellow">My Ads</a></li>
			<li><a title="Create a Page for the Goods and Services Directory" href="/cgi-bin/cclite.cgi?action=template&name=yellowpages.html">Place Ad</a></li>
                    
		</ul>
	</div>

<!--tag cloud and individual user statistics -->

	<div id="content">
		<div id="primaryContentContainer">
		  <div id="primaryContent">
!$$fieldsref{pagename}
		  </div>
                </div>
		<div valign="top" id="secondaryContent">
		
 <h3>Ad categories</h3>
$$fieldsref{righthandside}

<br/><br/>
<div id="userbalances" style="width:250px;height:150px;"></div>
<div id="graphlabel"></div>
		</div>
		  <div class="clear"><div id="footer">
			<a href="/cgi-bin/cclite.cgi">Home</a> | <a href="#">Contact Us</a><br />
			Cclite &copy; Hugh Barnard 2003-2012
	</div></div>
                </div>
	</div>

	
</div>
</body>
</html>
