

<table>

<tbody class="stripy">

<form class="pme-form" id="form" action="/cgi-bin/cclite.cgi" method="post">
<input
 name="fromregistry" value="$$fieldsref{registry}" type="hidden">

<input
 name="action" value="transaction" type="hidden">

<input
 name="subaction" value="om_trades" type="hidden">

<input id="tradeStatus" "name="tradeStatus" value="" type="hidden">

<tr>

<td class="pme-key-1">
তারিখ
</td>

<td class="pme-value-1">

<input class="grey"
 name="tradeDate" size="11"  readonly="readonly" value="$$fieldsref{date}"
 type="text">
</td>

</tr>

<tr>

<td class="pme-key-0">
অ্যাকাউন্ট থেকে
<br>

</td>

<td class="pme-value-1">

<input class="required" type="text" name="tradeSource" id="tradeSource" autocomplete="off"/>


</td>

</tr>

<tr>

<td class="pme-key-0">
অ্যাকাউন্টে
<br>

</td>

<td class="pme-value-1">

<input class="required" type="text" name="tradeDestination" id="tradeDestination" autocomplete="off"/>


</td>
</tr>
<tr>

<td>
<span class="pme-key-0">
রেজিস্ট্রী
</span>
</td>
<td>
$$fieldsref{selectpartners}
</td>

</tr>

<tr>

<td class="pme-key-0">
টাকা
</td>

<td nowrap class="pme-value-0">
$$fieldsref{selectcurrency}
<span class="pme-key-0">
পরিমাণ
</span>

<input class="required"
 name="tradeAmount" size="11" maxlength="11" type="text">

</td>

</tr>

<tr class="pme-row-1">

<td class="pme-key-0">
</td>

<td class="pme-value-1">

</td>

</tr>

<tr>

<td class="pme-key-0">
পদ ধরন
<br>

</td>

<td class="pme-value-0">

<select id="tradeItem" class="required" onchange="on_trade_change('tradeItem');" name="tradeItem">

<option value="goods">
Goods
</option>

<option value="services">
পরিষেবা
</option>

<option value="cashout">
ক্যাশ বাইরে
</option>

<option value="cashin">
তে ক্যাশ
</option>

<option value="other">
অন্যান্য
</option>

</select>

</td>
</tr>
<tr>
<td>

<span class="pme-key-0">
পদ শিরোনাম
</span>
</td>
<td>

<input class="required"
 name="tradeTitle" size="50" maxlength="255" value="" type="text">

</td>

</tr>

<tr>

<td class="pme-key-1">
পদ বর্ণনা
</td>

<td class="pme-value-1">

<textarea class="required"
 name="tradeDescription" rows="3" cols="60">
</textarea>
</td>

</tr>

<table class="pme-navigation">

<tr class="pme-navigation">

<td class="pme-buttons">

<input class="pme-save"
 name="saveadd" value="স্থানান্তর তৈরি করুন" type="submit">
&nbsp;
<input class="pme-cancel"
 name="cancel" value="পরিষ্কার" type="reset">

</td>

</tr>

</form>

</table>

</tbody>

</table>
