
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<meta name="description" content="cclite community currency system" />


<meta name="keywords" content="LETS CC" />


<meta name="author" content="hugh barnard" />


<link type="text/css" href="/styles/default.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="পরীক্ষামূলক cclite সংযোগ" href="/html/en/rdf/chelsea.rdf"/>


<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />


<title>
অধৈর্যের জন্য Cclite ০.৯.০
</title>

<script src="/javascript/cookies.js" type="text/javascript">
</script>

<script src="/javascript/striper.js" type="text/javascript">
</script>

<script type="text/javascript">
function stripe() {
     striper('tbody','stripy', 'tr', 'odd,even') ;
}
</script>

</head>

<body>

<div id="page" align="center">

<div id="toppage" align="center">

</div>

<div id="header" align="center">

<h1>
<a title="অধৈর্যের জন্য Cclite" href="/">
Cclite Quickstart
</a>
</h1>

</div>

</div>

<div id="content" align="center">

<div id="menu" align="right">

<div id="linksmenu" align="center">

<a title="ইনস্টলার" href="/cgi-bin/protected/ccinstall.cgi">
ওয়েব ইনস্টলার
</a>
|
<a  title="ব্যবহারকারী Logon" href="/cgi-bin/cclite.cgi">
ব্যবহারকারী Logon
</a>
|
<a title="Admin Menu (must be logged on first)" href="/cgi-bin/protected/ccadmin.cgi">
প্রশাসন
</a>
|
</div>

</div>

<div id="contenttext">

<div style="margin:100px;}padding:12px;" align="justify">

<ol>

<li>
ব্যবহার করুন
<a title="ইনস্টলারে ইনস্টলেশন বিশ্লেষণ" href="/cgi-bin/protected/ccinstall.cgi">
ইনস্টলেশন বিশ্লেষণ
</a>
ইনস্টলেশনের বর্তমান রাজ্য বিশ্লেষণ করতে
</li>

<li>
ব্যবহার করুন
<a href="/cgi-bin/protected/ccinstall.cgi">
ইনস্টলার
</a>
উপর কনফিগারেশন মান, নিযুক্ত করতে
<strong>
ডেটাবেস ব্যবহারকারী এবং শব্দচাবি
</strong>
</li>

<li>
<a title="একটি রেজিস্ট্রী তৈরি করুন" href="/cgi-bin/protected/ccinstall.cgi?action=template&name=registry.html">
একটি রেজিস্ট্রী তৈরি করুন
</a>
(trading group) for your system, for example,
<span class="system">
dalston
</span>
,
<span class="system">
newington
</span>
,
<span class="system">
islington
</span>
একটি রেজিস্ট্রী এক মাই-এস-কিউ-এল ডেটাবেস...
</li>

<li>
<a title="ম্যানেজার হিসেবে Logon" href="/cgi-bin/cclite.cgi">
ম্যানেজার হিসেবে Logon
</a>
হিসেবে আপনার রেজিস্ট্রীতে Logon
<span class="system">
ম্যানেজার
</span>
শব্দচাবির সঙ্গে
<span class="system">
ম্যানেজার
</span>
</li>

<li>
<a title="উপর একটি টাকা নিযুক্ত করুন" href="/cgi-bin/protected/ccadmin.cgi?action=template&name=currency.html">
(when Manager) Set up a currency or two
</a>
</li>

<li>

<a title="ব্যবহারকারী তৈরি করুন অথবা তাদেরকে দেওয়ান আসুন" href="/cgi-bin/cclite.cgi?action=template&name=newuser.html">
ব্যবহারকারী তৈরি করুন অথবা তাদেরকে দেওয়ান আসুন
</a>
ব্যবহারকারী তৈরি করুন এবং তাদেরকে দেওয়ান বাণিজ্যন।
</li>

<li>

<b>
সরিয়ে দিতে স্মরণ করুন অথবা ইনস্টলার নিষ্ক্রিয় করুন এবং sysaccount এবং অ্যাডমিন পাসওয়ার্ড পরিবর্তন করুন। এই পাতাটি ও সরিয়ে দিন!
</b>
</li>

</ol>

</div>

<div class="panel" align="justify">

<span class="bodytext">

<div style="margin:50px;}padding:12px;" align="justify">
Batch jobs such as writing rss, reading batch transaction input and graphing are now on the management page for the administrator. They can

</div>

</span>

</div>

</div>

</div>

<div id="footer" class="smallgraytext" align="center">

<a href="http://groups.google.co.uk/group/cclite">
Ccliteএর সঙ্গে সাহায্য করুন
</a>
<br />

Cclite

<br />


</div>

</div>

</body>

</html>
